<a ng-click="containerToggleLeft = !containerToggleLeft">left</a>
<a ng-click="containerToggleLeft2 = !containerToggleLeft2">left2</a>
<a ng-click="containerToggleRight = !containerToggleRight">right</a>
<a ng-click="containerToggleRight2 = !containerToggleRight2">right2</a>
<a ng-click="containerToggleCenter = !containerToggleCenter">center1</a>
<a ng-click="containerToggleCenter2 = !containerToggleCenter2">center2</a>
<a ng-click="containerNavigationPaddingSwitch = !containerNavigationPaddingSwitch">padding</a>
<a ng-click="containerNavigationChatSwitch = !containerNavigationChatSwitch">chat</a>

<a ng-click="marginSwitch = !marginSwitch">down</a>
<a ng-click="marginSwitch2 = !marginSwitch2">down 2</a>