<a ui-sref="todos">todos</a>
<a ui-sref="about" >about</a>
<a ui-sref="blog">blog</a>
<a ng-click="containerBlogSwitch = !containerBlogSwitch">quick</a>
<a ng-init="popup = false"  ng-click="popup = !popup">popup</a>
<a ng-init="popup2 = false"  ng-click="popup2 = !popup2">popup2</a>
<a ng-init="popup3 = false"  ng-click="popup3 = !popup3">popup3</a>

<a ng-init="popup = false"  ng-click="popup = !popup" class="menuBackground"></a>

<a ng-init="popup = false"  ng-click="popup = !popup" class="menuBackground2 easing"></a>

<a ng-init="popup = false"  ng-click="popup = !popup" class="menuBackground2 easing"></a>

<a ng-init="popup = false"  ng-click="popup = !popup" class="menuBackground2 easing"></a>