<!-- Container Movement Class determines containers position -->
<div class="container background2 easing marginSwitchMovement1"
	 ng-class="{'containerMovementLeft' : containerToggleLeft,
	 			'containerMovementLeft2' : containerToggleLeft2,
	 			'containerMovementRight' : containerToggleRight,
	 			'containerMovementRight2' : containerToggleRight2,
	 			'containerMovementCenter' : containerToggleCenter,
	 			'containerMovementCenter2' : containerToggleCenter2,
	 			'containerNavigationPaddingSwitch' : containerNavigationPaddingSwitch,
	 			'marginSwitch' : marginSwitch,
	 			'containerBlogSwitch' : containerBlogSwitch}"

	 ng-init="containerNavigationPaddingSwitch = true">

	<div class="menuTop">
		<div class="brandSticker easing" ng-click="marginSwitch = !marginSwitch" ></div>

		<div class="textLinks easing">
			<menu></menu>
		</div>

		<div class="menuHover easing">
			<menu2></menu2>
		</div>
	</div>

	<div class="menuBottom easing animated topJump delay7">
		<menu2></menu2>
	</div>


	<div class="popup background1 easing containerScroll" ng-class="{'active': popup3}">

		<div class="gradientTopOut easing animated topJump delay7"></div>

		<div class="bannerTitle">
			<div class="widthFixed">
				<h1>Infographic/How site is made?</h1>
				<button>learn more</button>
				<button>Sign up</button>
			</div>
		</div>
		<div class="wrapper widthHalf heightQuarter animated topJump delay4 background2">

			<h1 class="number">03</h1>
			<h2 class="overNumber">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>
		<div class="wrapper widthHalf heightQuarter animated topJump delay4 background2">

			<h1 class="number">04</h1>
			<h2 class="overNumber">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>
		<div class="wrapper widthHalf heightQuarter animated topJump delay4 background2">

			<h1 class="number">05</h1>
			<h2 class="overNumber">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>
		<div class="wrapper widthHalf heightQuarter animated topJump delay4 background2">

			<h1 class="number">06</h1>
			<h2 class="overNumber">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>
		<div class="wrapper widthHalf heightQuarter animated topJump delay4 background2">

			<h1 class="number">07</h1>
			<h2 class="overNumber">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>
		<div class="wrapper widthHalf heightQuarter animated topJump delay4 background2">

			<h1 class="number">08</h1>
			<h2 class="overNumber">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>
		<div class="wrapper widthHalf heightQuarter animated topJump delay4 background2">

			<h1 class="number">07</h1>
			<h2 class="overNumber">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>
		<div class="wrapper widthHalf heightQuarter animated topJump delay4 background2">

			<h1 class="number">08</h1>
			<h2 class="overNumber">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>

	</div>

	<div class="popup easing" ng-class="{'active': popup}">

		<!-- Center Container -->
		<div class="container centerOfContainer easing">

			<div class="animationBackground">
				<div class="animationBackground grainBackground"></div>
				<video ng-show="popup" id="bg-video" autoplay="" loop="">
					<source src="https://s3.amazonaws.com/www-assets.invisionapp.com/relate/enterprise-loop-ultra-1280.mp4" type="video/mp4">
				</video>
			</div>

			<div class="popupCard">
				<a ng-init="popup = false"  ng-click="popup = !popup">popup</a>
			</div>

		</div>

	</div>

	<div class="popup gridBackground easing" ng-class="{'active': popup2}">
		<div class="gradientTopOut"></div>

		<div class="bannerTitle dotBackground widthFull heightQuarter">
			<div class="widthFixed">
				<h1 class="number">Left1</h1>
				<h2 class="animatedTextHolder"> <span class="textHightlightLeft animated delay4"></span> <p>What are you working on?</p></h2><h2>Dribbble is show and tell for designers.</h2>
				<button>learn more</button>
				<button>Sign up</button>
			</div>
		</div>

		<div class="gridBackground widthFull heightThreeQuarter">
			<div class="popupCard">
				<a class="bottomCardButton" ng-init="popup = false"  ng-click="popup2 = !popup2">popup</a>
				<a class="topLeftCardButton" ng-init="popup = false"  ng-click="popup2 = !popup2">popup</a>
				<a class="topRightCardButton" ng-init="popup = false"  ng-click="popup2 = !popup2">popup</a>
			</div>
		</div>

	</div>

	<!-- Center Container -->
	<div class="container navigationPadding centerOfContainer easing">

		<div class="animationBackground">

			<div class="gradientBottomOut easing animated topJump delay7"></div>
			<div class="gradientLeftOut easing animated topJump delay7"></div>
			<div class="gradientRightOut easing animated topJump delay7"></div>
			
			<light class="lightSVG"></light>

			<man class="manSVG animated topJump delay4 easing"></man>

			<div class="faceContainer animated pulse infinite delay1">

				<div class="face animated pulse infinite delay2">
					<face1 class="animated topJump delay2" ></face1>
				</div>

				<div class="face animated pulse infinite delay1">
					<face2 class="animated topJump delay2" ></face2>
				</div>

				<div class="face animated pulse infinite delay4">
					<face3 class="animated infinite blink delay2" ></face3>
					<face4 class="animated infinite blinktwo delay2" ></face4>
					<face5 class="animated infinite blinkthree delay2" ></face5>
				</div>
				
			</div>

			<div class="faceContainer2 animated pulse infinite delay1">

				<div class="face animated pulse infinite delay2">
					<face1 class="animated topJump delay2" ></face1>
				</div>

				<div class="face animated pulse infinite delay1">
					<face2 class="animated topJump delay2" ></face2>
				</div>

				<div class="face animated pulse infinite delay4">
					<face3 class="animated topJump delay2" ></face3>
				</div>
				
			</div>

			<div class="man2SVG animated pulse infinite delay4 easing">
				<div class="svgContainer animated topJump delay2">
					<man></man>
				</div>
			</div>

			<desk1 class="desk1SVG animated topJump delay1 easing"></desk1>
			<desk2 class="desk2SVG animated topJump delay2 easing"></desk2>
			<desk3 class="desk3SVG animated topJump delay3 easing"></desk3>
			<desk4 class="desk4SVG animated topJump delay4 easing"></desk4>

			<div class="bubblecontainer4 animated pulse infinite delay1">

				<div class="bubbles animated pulse infinite delay1">
					<bubble1 class="animated topJump delay2" ></bubble1>
				</div>

				<div class="bubbles animated pulse infinite delay2">
					<bubble2 class="animated topJump delay4"></bubble2>
				</div>

				<div class="bubbles animated pulse infinite delay3">
					<bubble3 class="animated topJump delay6"></bubble3>
				</div>
				
			</div>

			<div class="bubblecontainer3">

				<div class="bubbles animated pulse infinite delay1">
					<bubble1 class="animated topJump delay2" ></bubble1>
				</div>

				<div class="bubbles animated pulse infinite delay2">
					<bubble2 class="animated topJump delay4"></bubble2>
				</div>

				<div class="bubbles animated pulse infinite delay3">
					<bubble3 class="animated topJump delay6"></bubble3>
				</div>
				
			</div>


			<div class="bubblecontainer2">

				<div class="bubbles animated pulse infinite delay1">
					<bubble1 class="animated topJump delay2" ></bubble1>
				</div>

				<div class="bubbles animated pulse infinite delay2">
					<bubble2 class="animated topJump delay4"></bubble2>
				</div>

				<div class="bubbles animated pulse infinite delay3">
					<bubble3 class="animated topJump delay6"></bubble3>
				</div>
				
			</div>

			<div class="bubblecontainer1">

				<div class="bubbles animated pulse infinite delay1">
					<bubble1 class="animated topJump delay2" ></bubble1>
				</div>

				<div class="bubbles animated pulse infinite delay2">
					<bubble2 class="animated topJump delay4"></bubble2>
				</div>

				<div class="bubbles animated pulse infinite delay3">
					<bubble3 class="animated topJump delay6"></bubble3>
				</div>
				
			</div>

		</div>

		<!-- Clickable Items in Background -->

		<div class="popupCard leftCard easing">
			<a class="bottomCardButton" ng-init="popup = false"  ng-click="popup2 = !popup2">popup</a>
			<a class="topLeftCardButton" ng-init="popup = false"  ng-click="popup2 = !popup2">popup</a>
			<a class="topRightCardButton" ng-init="popup = false"  ng-click="popup2 = !popup2">popup</a>
		</div>
			
		<div class="popupCard rightCard easing">
			<a class="bottomCardButton" ng-init="popup = false"  ng-click="popup2 = !popup2">popup</a>
			<a class="topLeftCardButton" ng-init="popup = false"  ng-click="popup2 = !popup2">popup</a>
			<a class="topRightCardButton" ng-init="popup = false"  ng-click="popup2 = !popup2">popup</a>
		</div>


		<!-- Grid Wrapper for interactive home -->
		<div class="wrapper widthFull heightEighth animated topJump delay1">
			<menu3></menu3>
		</div>
		<div class="wrapper widthQuarter heightQuarter animated topJump delay3">
		</div>
		<div class="wrapper widthHalf heightQuarter animated topJump delay2">
			<logo class="standInLogo"></logo>

				<div class="wrapper widthFull heightHalf animated topJump delay2">
					<logo class="standInLogo"></logo>

					<br>
					<p ng-click="slider1 = !slider1">1</p>
					<p ng-click="slider2 = !slider2">2</p>
					<p ng-click="slider3 = !slider3">3</p>
					<p ng-click="slider4 = !slider4">4</p>

				</div>

				<div class="wrapper widthHalf heightHalf animated topJump delay2">
					<logo class="standInLogo"></logo>

				</div>

				<div class="wrapper widthHalf heightHalf animated topJump delay2">
					<logo class="standInLogo"></logo>

				</div>


		</div>
		<div class="wrapper widthQuarter heightQuarter animated topJump delay3">
		</div>

		<div class="wrapper widthHalf heightQuarter animated topJump delay3">
			<logo class="standInLogo"></logo>
		</div>
		<div class="wrapper widthHalf heightQuarter animated topJump delay4">
			<logo class="standInLogo"></logo>
		</div>


		<div class="wrapper widthQuarter heightQuarter animated topJump delay5">
			<logo class="standInLogo"></logo>
		</div>
		<div class="wrapper widthQuarter heightQuarter animated topJump delay6">
			<logo class="standInLogo"></logo>
		</div>
		<div class="wrapper widthQuarter heightQuarter animated topJump delay5">
			<logo class="standInLogo"></logo>
		</div>
		<div class="wrapper widthQuarter heightQuarter animated topJump delay6">
			<logo class="standInLogo"></logo>
		</div>

		<div class="wrapper gridBackground widthFull heightEighth svgCeiling animated easing topFall delay7">

			<div class="bannerTitle">
				<div class="widthFixed">
					<h1>What are you working on? Dribbble is show and tell for designers.</h1>
					<button>learn more</button>
					<button>Sign up</button>
				</div>
			</div>

			<ul class="widthFull refineSearch">
				<div class="widthFixed">
					<li>popular</li>
					<li>shots</li>
					<li>add</li>
					<li>now</li>
				</div>

				<button>list</button>
				<button>grid</button>
			</ul>

		</div>

		<div class="wrapper background1 widthFull heightEighth svgFloor animated easing topJump delay7">

		<ul>

			<li class="" ng-repeat="item in wordpress | limitTo:pagination.count | orderBy:item.ID">

                              <h2>{{item.title}} <span>$12</span></h2>
			</li>
		</ul>

		</div>
	</div>

	<!-- Left of Center Container -->
	<div class="container background2 leftOfContainer easing containerScroll">

		<div class="wrapper widthFull heightHalf">
			<h1 class="number">Left1</h1>
			<h2 class="overNumber iconTitle">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>

		<div class="wrapper widthHalf heightHalf">
			<h1 class="number">05</h1>
			<h2 class="overNumber iconTitle">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>

		<div class="wrapper widthHalf heightHalf">
			<h1 class="number">05</h1>
			<h2 class="overNumber iconTitle">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>

	</div>

	<!-- Left of Center Container 2 -->
	<div class="container background2 leftOfContainer2 easing containerScroll">

		<div class="wrapper widthFull heightHalf">
			<h1 class="number">Left2</h1>
			<h2 class="overNumber iconTitle">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>

		<div class="wrapper widthHalf heightHalf">
			<h1 class="number">05</h1>
			<h2 class="overNumber iconTitle">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>

		<div class="wrapper widthHalf heightHalf">
			<h1 class="number">05</h1>
			<h2 class="overNumber iconTitle">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>

	</div>

	<!-- Right of Center Container -->
	<div class="container background1 navigationPadding rightOfContainer easing containerScroll">

		<div class="wrapper widthHalf heightHalf">
			<h1 class="number">Right 1</h1>
			<h2 class="overNumber iconTitle">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>

		<div class="wrapper widthHalf heightHalf">
			<h1 class="number">05</h1>
			<h2 class="overNumber iconTitle">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>

		<div class="wrapper widthHalf heightHalf">
			<h1 class="number">05</h1>
			<h2 class="overNumber iconTitle">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>

		<div class="wrapper widthHalf heightHalf">
			<h1 class="number">05</h1>
			<h2 class="overNumber iconTitle">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>

	</div>


	<!-- Right of Center Container 2 -->
	<div class="container background1 navigationPadding rightOfContainer2 easing containerScroll">

		<div class="wrapper widthHalf heightHalf">
			<h1 class="number">Right 2</h1>
			<h2 class="overNumber iconTitle">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>

		<div class="wrapper widthHalf heightHalf">
			<h1 class="number">05</h1>
			<h2 class="overNumber iconTitle">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>

		<div class="wrapper widthHalf heightHalf">
			<h1 class="number">05</h1>
			<h2 class="overNumber iconTitle">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>

		<div class="wrapper widthHalf heightHalf">
			<h1 class="number">05</h1>
			<h2 class="overNumber iconTitle">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>

	</div>

</div>

<!-- Container Movement Class determines containers position -->
<div class="container background1 marginSwitchMovement2 easing"
	 ng-class="{'containerMovementLeft' : containerToggleLeft,
	 			'containerMovementRight' : containerToggleRight,
	 			'containerMovementCenter' : containerToggleCenter,
	 			'containerMovementCenter2' : containerToggleCenter2,
	 			'marginSwitch2' : marginSwitch2}">
	<!-- Center Container -->
	<div class="container background2 centerOfContainer easing">

		<div class="wrapper widthFull heightEighth animated topJump delay1">
			<div class="module"></div>
		</div>
		<div class="wrapper widthFull heightQuarter animated topJump delay2">

			<logo ng-class="{'MovementLeft': slider1 || slider2}"" class="standInLogo"></logo>

			<br>
			<p ng-click="slider1 = !slider1">1</p>
			<p ng-click="slider2 = !slider2">2</p>
			<p ng-click="slider3 = !slider3">3</p>
			<p ng-click="slider4 = !slider4">4</p>

		</div>
		<div class="wrapper widthHalf heightQuarter animated topJump delay3">
			<logo class="standInLogo"></logo>
		</div>
		<div class="wrapper widthHalf heightQuarter animated topJump delay4">
			<logo class="standInLogo"></logo>
		</div>
		<div class="wrapper widthHalf heightQuarter animated topJump delay5">
			<logo class="standInLogo"></logo>
		</div>
		<div class="wrapper widthHalf heightQuarter animated topJump delay6">
			<logo class="standInLogo"></logo>
		</div>
		<div class="wrapper widthFull heightEighth animated easing topJump delay7">
			<div class="module"></div>
		</div>

	</div>

</div>

<!-- Container Movement Class determines containers position -->
<div class="container background1 Footer easing"
	 ng-class="{'containerNavigationPaddingSwitch' : containerNavigationPaddingSwitch,
	 			'marginSwitch2' : marginSwitch2}">

	<div class="animationBackground">
		<div class="animationBackground grainBackground"></div>
		<div class="animationBackground whiteThruBackground"></div>
		<video ng-show="marginSwitch2" id="bg-video" autoplay="" loop="">
			<source src="https://s3.amazonaws.com/www-assets.invisionapp.com/relate/enterprise-loop-ultra-1280.mp4" type="video/mp4">
		</video>
	</div>

	<!-- Center Container -->
	<div class="container centerOfContainer easing">
		<div class="wrapper widthHalf heightHalf animated topJump delay4">

			<h1 class="number">03</h1>
			<h2 class="overNumber">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>
		<div class="wrapper widthHalf heightHalf animated topJump delay4">

			<h1 class="number">04</h1>
			<h2 class="overNumber">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>
		<div class="wrapper widthHalf heightQuarter animated topJump delay4">

			<h1 class="number">05</h1>
			<h2 class="overNumber">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>
		<div class="wrapper widthHalf heightQuarter animated topJump delay4">

			<h1 class="number">06</h1>
			<h2 class="overNumber">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>
		<div class="wrapper widthHalf heightQuarter animated topJump delay4">

			<h1 class="number">07</h1>
			<h2 class="overNumber">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>
		<div class="wrapper widthHalf heightQuarter animated topJump delay4">

			<h1 class="number">08</h1>
			<h2 class="overNumber">MINIMAL DESIGN</h2>
			<h3 class="overNumber">Relate’s clean, simple design makes it a perfect fit for today's flat aesthetic.</h2>
		</div>

	</div>

</div>
