<ul ng:init="fixedbackgroundone = true; listholdergrid = true;" class="positionRelative floatLeft widthFull heightFull easing text-align-center zindexFive overflowy">
   <!-- fixed background -->
   <span ng:show="fixedbackgroundone" class="
      positionFixed
      positionCenter
      heightFullFlex
      widthFullFlex
      overflowhidden floatLeft" style="background-image: url('/photos/team.jpg');
      background-size: cover;">
      <!-- layer -->
      <div class="
         zindexOne positionAbsolute positionCenter heightFullFlex widthFullFlex">
      </div>
      <!-- washout background -->
      <span class="positionAbsolute positionCenter opacity095
         backgroundColorFour widthFullFlex heightFullFlex">
      </span>
   </span>
   <span
      ng:class="{
      'widthFullFlex' : !componentMenu,
      'widthThreeQuarterFlex' : componentMenu
      }"
      class="positionRelative heightThreeQuarterFlex floatRight zindexFive">
      <span class="
         backgroundColorOne
         overflowhidden
         positionAbsolute positionBottom widthFullFlex heightFullFlex">
      </span>
      <span class="
         ColorTwoToClearGradient
         overflowhidden
         positionAbsolute positionBottom widthFullFlex heightFullFlex">
      </span>
      <span
         class="positionRelative widthFullFlex heightFullFlex floatLeft easing zindexFive">
         <span class="
            WhiteToClearGradient
            overflowhidden
            positionAbsolute positionBottom widthFullFlex heightFullFlex">
         </span>
         <!-- washout background -->
         <span class="positionAbsolute positionCenter
            ColorOneRightClearGradient widthFullFlex heightFullFlex">
         </span>
         <span 
            class="opacity01 spacedHuge backgroundGridColorWhite border-radius1 positionAbsolute positionCenter easing">
         </span>
         
         <!-- page close -->
         <pageclose></pageclose>

         
         <span class="widthFullFlex positionRelative marginauto floatLeft text-align-left">

                  <span class="spacedSmall positionRelative floatLeft easing">

                     <h3 class="floatLeft centerdiv widthFullFlex positionRelative lineHeightTwentyFive fontSizeTwentyFive text-align-left zindexOne">

                                    <p>

                                       <!-- layer -->
                                       <span class="
                                          zindexFive positionRelative heightFifth widthFullFlex floatLeft">
                                       </span>
                                       
                                       <span class="positionRelative floatLeft">             
                                          <b class="floatLeft fontColorThree text-shadow1Two zindexFive positionRelative">Products </b>

                                          <span class="positionAbsolute positionOverFiveTopRightOutro fontColorOffWhite fontSizeTwoFive lineHeightTwoFive floatLeft">
                                          <b class="opacity05">Our Availability</b> & <span class="font-family-snippet opacity075"> Talent Breakdowns of</span> </span>

                                          

                                       </span>
                                    </p>
                     </h3>

                  </span>

         </span>

         <ul class="positionRelative widthStatic marginauto text-align-center">

            <span ng-repeat="cats in meta | filter:cats.category = filters.category | limitTo:1:0 " class="text-align-center zindexTen positionRelative heightFullFlex floatLeft easing">

               <span class="fontColorFour fontSizeFour floatLeft lineHeightFour ">
                  <span class="textOnHoverSwitch paddingTwoFive positionRelative border-radius1 centerdiv fontSizeTwoFive fontColorFour fontColorFiveOnHover lineHeightTwoFive easing">
                  including:
                  <span class="floatRight animated enterUpObject delay025 zindexOne positionRelative widthTwoFive heightTwoFive marginSevenFiveRight"><img src="./svg/arrow-right.svg" class="widthFullFlex heightFullFlex"></span>
                  </span>
               </span>
               

               <span ng-repeat="subs in cats.subcategories" class="centerdiv text-align-center zindexTen positionRelative heightFullFlex marginTwoFiveBottomRight floatLeft easing">
                  <span ng:click="filters.category = cats.category;
                        filters.subcategory = subs.name;
                        filters.tag = '';"

                        ng:class="{
                     'backgroundColorTwo box-shadowSixStraight border-radius' : filters.subcategory == subs.name
                     }"

                      class="centerdiv textOnHoverSwitch paddingTwoFive positionRelative border-radius1 backgroundColorWhite backgroundColorTwoOnHover centerdiv fontSizeTwoFive fontColorOne fontColorFiveOnHover lineHeightTwoFive easing">
                  {{subs.name}}
                  <span class="floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFive heightTwoFive marginSevenFiveRight"><img src="./svg/close.svg" class="widthFullFlex heightFullFlex"></span>
                  </span>
               </span>

            </span>

         </ul>


         <span class="animated enterUp positionBottomRight positionAbsolute widthHalfFlex heightThreeQuarterFlex">
            <manatdesk ng:show="startAnimation" class="animated enterUpBounce delay05 positionAbsolute positionBottom heightFullFlex "></manatdesk>
         </span>
         <span class="positionAbsolute positionBottomLeft widthHalfFlex heightTenFlex">
            <hr class="vertline marginauto positionAbsolute positionBottom animated growvert backgroundColorOne">
         </span>

      </span>

         <ul class="zindexOne positionAbsolute positionOverBottomLeft widthFullFlex floatLeft easing zindexTen">
         <li ng:click="learnmore = !learnmore" class="floatLeft text-align-center positionRelative heightFullFlex marginHeaderOverButton paddingTwoFive easing">
            <span class="textOnHoverSwitch paddingTwoFive positionRelative bordered-Six box-shadowSix box-shadowSixLeaveOnHover backgroundColorFive backgroundColorTwoOnHover floatLeft fontSizeTwoFive fontColorWhite fontColorOneOnHover lineHeightFive easing">
            Hire Us
            <span class="bordered-Six box-shadowSix beforeArrow margintwofive beforetext backgroundColorOne fontSizeTwoFive fontColorFive fontColorFiveOnHover lineHeightFive easing">before</span>
            
            <span class="marginTwoFiveLeft floatRight animated enterUpObject delay025 zindexOne positionRelative widthTwoFive heightFive"><img src="./svg/arrow-right.svg" class="widthFullFlex heightFullFlex"></span>
            </span>
         </li>
      </ul>
   </span>
   
   <span
               ng:mouseenter="componentMenu = true"
               ng:mouseleave="componentMenu = false"
               ng:show="componentMenu == true"
               ng:class="{
               'widthQuarter' : componentMenu
               }"
               class="positionFixed positionLeft heightFull floatLeft zindexTen backgroundGridColorWhite box-shadowSixStraight">
               <filtermenu></filtermenu>
            </span>
            
   <span
      ng:class="{
      'widthFullFlex' : !componentMenu,
      'widthThreeQuarterFlex' : componentMenu
      }"
      class="backgroundGridColorWhite positionRelative floatRight">
      <span class="backgroundColorWhite positionRelative widthFullFlex floatLeft">
         <ul class="floatLeft heightTen widthFullFlex backgroundGridColorOne positionRelative">
               
               <span class="textOnHoverSwitch  animated enterUpObject delay025 zindexTen positionRelative floatLeft
                  widthFive heightTen" ng:click="componentMenu = !componentMenu">
               <img src="./svg/arrow-left.svg" class="positionAbsolute positionCenter widthQuarterFlex heightQuarterFlex"></span>
               
               <span class=" animated enterUpObject delay025 zindexTen positionRelative floatRight
                  widthFive heightTen" ng:click="navMenu = !navMenu"><img src="./svg/four/close.svg" class="positionAbsolute positionCenter widthQuarterFlex heightQuarterFlex"></span>

                  <span class=" animated enterUpObject delay025 zindexTen positionRelative floatRight
                  widthFive heightTen" ng:click="categoryMenu = !categoryMenu"><img src="./svg/arrow-down.svg" class="positionAbsolute positionCenter widthQuarterFlex heightQuarterFlex"></span>

                  <!-- dark show -->
                  <ul class="positionRelative widthStatic marginauto text-align-center">

                     <span class="text-align-center zindexTen positionRelative heightFullFlex floatRight easing">

                        <span ng-repeat="cats in meta" class="centerdiv text-align-center zindexTen positionRelative heightTen marginTwoFiveLeft floatLeft easing">

                           <span ng:click="filters.category = cats.category;
                                 filters.subcategory = '';
                                 filters.tag = '';"

                                 ng:class="{
                              'backgroundColorTwo box-shadowSixStraight border-radius' : filters.category == cats.category
                              }"

                               class="centerdiv textOnHoverSwitch paddingTwoFive positionRelative border-radius1 backgroundColorWhite backgroundColorTwoOnHover centerdiv fontSizeTwoFive fontColorOne fontColorFiveOnHover lineHeightTwoFive easing">
                              {{cats.category}}
                              <span class="floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFive heightTwoFive marginSevenFiveRight"><img src="./svg/close.svg" class="widthFullFlex heightFullFlex"></span>
                           </span>
                        </span>

                     </span>

                  </ul>

               <!-- dark show -->
               <span class="centerdiv text-align-center positionRelative heightFullFlex marginTwoFiveLeft floatRight zindexFive easing">
                  <span class="centerdiv textOnHoverSwitch paddingTwoFive positionRelative buttonbox-shadowSix border-radius1 backgroundColorFive backgroundColorTwoOnHover centerdiv fontSizeTwoFive fontColorOne fontColorFiveOnHover lineHeightTwoFive easing">
                  esc
                  <span class="floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFive heightTwoFive marginSevenFiveRight"><img src="./svg/close.svg" class="widthFullFlex heightFullFlex"></span>
                  </span>
               </span>

               <span ng:show="navMenu" class="animated enterUpObject zindexTen positionAbsolute positionTopRight floatRight
                  widthFive backgroundGridColorOne">
                     
                     <span class=" animated enterUpObject delay025 zindexTen positionRelative floatRight
                     widthFive heightTen" ng:click="navMenu = !navMenu"><img src="./svg/four/close.svg" class="positionAbsolute positionCenter widthQuarterFlex heightQuarterFlex"></span>

                     <span class="textOnHoverSwitch  animated enterUpObject delay025 zindexTen positionRelative floatRight
                           widthFullFlex heightTen" ng:click="listholderresetproduct();">
                        <img src="./svg/five/close.svg" class="positionAbsolute positionCenter widthQuarterFlex heightQuarterFlex"></span>
                     
                     
                        <span class=" animated enterUpObject delay025 zindexTen positionRelative floatRight
                           widthFullFlex heightTen" ng:click="listholderresetnumber();"><img src="./svg/close.svg" class="positionAbsolute positionCenter widthQuarterFlex heightQuarterFlex"></span>
                     
                     
                        <span class=" animated enterUpObject delay025 zindexTen positionRelative floatRight
                           widthFullFlex heightTen" ng:click="listholderresetgrid();"><img src="./svg/arrow-up.svg" class="positionAbsolute positionCenter widthQuarterFlex heightQuarterFlex"></span>
                     
                     
                        <span class=" animated enterUpObject delay025 zindexTen positionRelative floatRight
                           widthFullFlex heightTen" ng:click="listholderresetlist();"><img src="./svg/arrow-down.svg" class="positionAbsolute positionCenter widthQuarterFlex heightQuarterFlex"></span>
                     
                     
                        <span class=" animated enterUpObject delay025 zindexTen positionRelative floatRight
                           widthFullFlex heightTen" ng:click="listholderresetcard();"><img src="./svg/arrow-down.svg" class="positionAbsolute positionCenter widthQuarterFlex heightQuarterFlex"></span>
                     
                     
                        <span class=" animated enterUpObject delay025 zindexTen positionRelative floatRight
                           widthFullFlex heightTen" ng:click="listholderresetfull();"><img src="./svg/arrow-down.svg" class="positionAbsolute positionCenter widthQuarterFlex heightQuarterFlex"></span>

                        <span class=" animated enterUpObject delay025 zindexTen positionRelative floatRight
                           widthFullFlex heightTen" ng:click="navMenu = !navMenu"><img src="./svg/four/close.svg" class="positionAbsolute positionCenter widthQuarterFlex heightQuarterFlex"></span>

                  </span>
            
         </ul>

         <!-- search input -->
         <span ng:show="categoryMenu" class="positionRelative widthFullFlex centerdiv easing zindexOne backgroundGridColorOffWhite overflowhidden">

            <!-- dark show -->
               <li ng:click="tagMenu = !tagMenu" class="centerdiv text-align-center positionAbsolute positionLeft heightFullFlex marginTwoFiveLeft floatLeft easing">
                  <span class="floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFive heightTwoFive marginSevenFiveRight"><img src="./svg/arrow-left.svg" class="widthFullFlex heightFullFlex"></span>
               </li>


            <span class="positionRelative heightFullFlex widthStatic centerdiv easing zindexOne">


               <span ng-repeat="cats in meta | filter:cats.category = filters.category" class="text-align-center zindexTen positionRelative overflowhidden floatLeft easing">
               

                  <span ng-repeat="subs in cats.subcategories" class="centerdiv text-align-center zindexTen positionRelative marginTwoFiveTopBottomLeft paddingTwoFive floatLeft easing">
                     <span ng:click="filters.category = cats.category;
                           filters.subcategory = subs.name;
                           filters.tag = '';"

                           ng:class="{
                        'backgroundColorTwo box-shadowSixStraight border-radius' : filters.subcategory == subs.name
                        }"

                         class="centerdiv textOnHoverSwitch paddingTwoFive positionRelative border-radius1 backgroundColorWhite backgroundColorTwoOnHover centerdiv fontSizeTwoFive fontColorOne fontColorFiveOnHover lineHeightTwoFive easing">
                     {{subs.name}}
                     <span class="floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFive heightTwoFive marginSevenFiveRight"><img src="./svg/close.svg" class="widthFullFlex heightFullFlex"></span>
                     </span>
                  </span>

               </span>

               
            </span>

         </span>

         <!-- search input -->
         <span ng:show="tagMenu" class="positionRelative heightTen widthFullFlex centerdiv easing zindexOne backgroundGridColorWhite">

            <!-- dark show -->
               <li class="centerdiv text-align-center positionAbsolute positionLeft heightFullFlex marginTwoFiveLeft floatLeft easing">
                  <span class="floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFive heightTwoFive marginSevenFiveRight"><img src="./svg/arrow-left.svg" class="widthFullFlex heightFullFlex"></span>
               </li>


            <span class="positionRelative heightFullFlex widthStatic overflowhidden centerdiv easing zindexOne">

               <span ng-repeat="cats in meta | filter:cats.category = filters.category | limitTo:1:0" class="text-align-center zindexTen positionRelative heightFullFlex marginTwoFiveBottomLeft floatLeft easing">
               
                  <span ng-repeat="subs in cats.subcategories | filter:subs.name = filters.subcategory | limitTo:1:0" class="text-align-center zindexTen positionRelative heightFullFlex floatLeft easing">

                     <span ng-repeat="tag in subs.tags" class="centerdiv text-align-center zindexTen positionRelative heightFullFlex marginTwoFiveTopBottomLeft floatLeft easing">
                        <span ng:click="filters.category = cats.category;
                           filters.subcategory = subs.name;
                           filters.tag = tag.name;"

                           ng:class="{
                           'backgroundColorTwo box-shadowSixStraight border-radius' : filters.tag == tag.name
                           }"

                            class="centerdiv textOnHoverSwitch paddingTwoFive positionRelative border-radius1 backgroundColorWhite backgroundColorTwoOnHover centerdiv fontSizeTwoFive fontColorOne fontColorFiveOnHover lineHeightTwoFive easing">
                     {{tag.name}}
                     <span class="floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFive heightTwoFive marginSevenFiveRight"><img src="./svg/close.svg" class="widthFullFlex heightFullFlex"></span>
                     </span>

                     </span>

                  </span>

               </span>

            </span>

         </span>

         <!-- search input -->
         <span class="positionRelative heightTen widthFullFlex centerdiv easing zindexOne">

            <span ng:click="refineMenu = !refineMenu" class="centerdiv text-align-center positionAbsolute positionLeft heightFullFlex marginTwoFiveLeft floatLeft easing">
               <span class="floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFive heightTwoFive marginSevenFiveRight"><img src="./svg/arrow-down.svg" class="widthFullFlex heightFullFlex"></span>
            </span>

         <span class="positionRelative heightFullFlex widthStatic centerdiv easing zindexOne">
         <span class="positionRelative heightFullFlex widthHalfFlex floatLeft easing">
         <span class="spacedSmall floatLeft">
         <input placeholder="By Name" class="placeholderOne no-padding fontSizeThree lineHeightFive fontColorThree no-border widthFullFlex heightFullFlex floatLeft" type="text" ng:model="filters.$" name="">
         <span class="animated enterUpObject delay025 zindexOne positionAbsolute positionRight widthFive heightFive"><img src="./svg/arrow-left.svg" class="widthFullFlex heightFullFlex"></span>
         </span>
         </span>
         <span class="positionRelative heightFullFlex widthHalfFlex floatLeft easing">
         <span class="spacedSmall floatLeft">
         <input placeholder="Search By Title" class="placeholderThree no-padding fontSizeThree lineHeightFive fontColorTwo no-border widthFullFlex heightFullFlex floatLeft" type="text" ng:model="filters.title" name="">
         <span class="animated enterUpObject delay025 zindexOne positionAbsolute positionRight widthFive heightFive"><img src="./svg/arrow-left.svg" class="widthFullFlex heightFullFlex"></span>
         </span>
         </span>

         </span>
         </span>

         <!-- search input -->
         <span ng:show="refineMenu" class="positionRelative heightTen widthFullFlex centerdiv easing zindexOne backgroundGridColorWhite">

            <!-- dark show -->
               <li class="centerdiv text-align-center positionAbsolute positionLeft heightFullFlex marginTwoFiveLeft floatLeft easing">
                  <span class="floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFive heightTwoFive marginSevenFiveRight"><img src="./svg/arrow-left.svg" class="widthFullFlex heightFullFlex"></span>
               </li>


            <span class="positionRelative heightFullFlex widthStatic centerdiv easing zindexOne">

               <span ng-repeat="cats in meta | filter:cats.category = filters.category | limitTo:1:0" class="text-align-center zindexTen positionRelative heightFullFlex marginTwoFiveBottomLeft floatLeft easing">
               
                  <span ng-repeat="subs in cats.subcategories | filter:subs.name = filters.subcategory | limitTo:1:0" class="text-align-center zindexTen positionRelative heightFullFlex floatLeft easing">

                     <span ng-repeat="tag in subs.tags" class="centerdiv text-align-center zindexTen positionRelative heightFullFlex marginTwoFiveTopBottomLeft floatLeft easing">
                        <span ng:click="filters.category = cats.category;
                           filters.subcategory = subs.name;
                           filters.tag = tag.name;"

                           ng:class="{
                           'backgroundColorTwo box-shadowSixStraight border-radius' : filters.tag == tag.name
                           }"

                            class="centerdiv textOnHoverSwitch paddingTwoFive positionRelative border-radius1 backgroundColorWhite backgroundColorTwoOnHover centerdiv fontSizeTwoFive fontColorOne fontColorFiveOnHover lineHeightTwoFive easing">
                     {{tag.name}}
                     <span class="floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFive heightTwoFive marginSevenFiveRight"><img src="./svg/close.svg" class="widthFullFlex heightFullFlex"></span>
                     </span>

                     </span>

                  </span>

               </span>

            </span>

         </span>

            <listproject></listproject>
      </span>
   </span>
   </span>
</ul>