<ul ng:init="fixedbackgroundone = true" class="positionRelative floatLeft widthFull heightFull easing text-align-center zindexFive overflowy">

   <!-- fixed background -->
   <span ng:show="fixedbackgroundone" class="
      positionFixed
      positionCenter
      heightFullFlex
      widthFullFlex
      overflowhidden floatLeft" style="background-image: url('/photos/team.jpg');
      background-size: cover;">

      <!-- layer -->
      <div class="
         zindexOne positionAbsolute positionCenter heightFullFlex widthFullFlex">

      </div>

      <!-- washout background -->
      <span class="positionAbsolute positionCenter opacity095
         backgroundColorFour widthFullFlex heightFullFlex">
      </span>

      <span class="positionAbsolute positionBottom widthFullFlex heightTenFlex">
         <hr class="vertline marginauto positionAbsolute positionBottom animated growvert backgroundColorSix">
      </span>

   </span>

   <!-- fixed background -->
   <span ng:show="fixedbackgroundtwo" class="
      positionFixed
      positionCenter
      heightFullFlex
      widthFullFlex
      overflowhidden floatLeft" style="background-image: url('/photos/nigelmay.jpg');
      background-size: cover;">

      <span class="
         ColorOneToClearGradient overflowhidden
         positionAbsolute positionCenter widthFullFlex heightFullFlex">
      </span>
      <!-- washout background -->
      <span class="positionAbsolute positionCenter opacity095
         backgroundColorFour widthFullFlex heightFullFlex">
      </span>

      <span class="positionAbsolute positionBottom widthFullFlex heightTenFlex">
         <hr class="vertline marginauto positionAbsolute positionBottom animated growvert backgroundColorWhite">
      </span>

   </span>

   <span
         class="positionRelative widthFullFlex heightFullFlex floatLeft easing zindexOne">

            <span class="
               WhiteToClearGradient
               overflowhidden
               positionAbsolute positionBottom widthFullFlex heightFullFlex">
            </span>

            <!-- washout background -->
            <span class="positionAbsolute positionCenter
               ColorOneRightClearGradient widthFullFlex heightFullFlex">
            </span>

            <span 
               class="opacity01 spacedHuge backgroundGridColorWhite border-radius1 positionAbsolute positionCenter easing">
            </span>

            <span class="floatLeft animated enterUpObject delay025 positionAbsolute positionBottomRight widthTenvh heightTen">
               <img src="./svg/pageend.svg" class="positionAbsolute positionBottomRight widthThreeQuarterFlex">
            </span>

            <span class="animated enterUpObject delay025 zindexOne positionAbsolute positionBottomRight widthTenvh heightTen">
               <img src="./svg/four/close.svg" class="
               positionAbsolute positionCenter marginauto widthHalfFlex heightHalfFlex">
            </span>

            <span class="widthFullFlex heightFifth positionRelative marginauto floatLeft text-align-left">

            </span>

            <span class="widthFullFlex positionRelative marginauto floatLeft text-align-left">

                  <imacone class="positionAbsolute positionBottomLeft
                  overflowhidden widthHalfFlex heightHalfFlex"></imacone>

                  <span class="spacedLarge positionRelative floatLeft easing">

                     <h3 class="floatLeft centerdiv widthFullFlex positionRelative lineHeightTwenty fontSizeTwenty text-align-left fontColorTwo zindexOne">

                        <p>
                           
                           <span class="positionRelative floatLeft text-shadow01Four">

                              <b class="floatLeft fontColorTwo text-shadow1One zindexFive positionRelative">Services<span class=""></span> 

                              <span class="marginTwoFiveLeft floatRight
                                 positionRelative zindexOne widthTenvh heightQuarter"><img src="./svg/arrow-down.svg" class="positionCenter positionAbsolute widthHalfFlex heightHalfFlex">
                                 <img src="./svg/one/close.svg" class="positionCenter positionAbsolute widthHalfFlex heightHalfFlex"></span>
                              

                                 </b>

                              <br>

                              

                              <b class="text-shadow1One fontColorTwo floatLeft zindexFive positionRelative">

                              

                                 Abilities</b>

                              <span class="positionAbsolute positionOverFiveTopRightOutro fontColorTwo fontSizeTwoFive lineHeightTwoFive floatLeft">
                              <b class="fontColorOne">A Breakdown</b>

                              <span class="floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFive heightTwoFive marginSevenFiveRight">
                                 <img src="./svg/close.svg" class="widthFullFlex heightFullFlex">
                              </span> of

                               <span class="font-family-snippet"> Our Current</span> </span>

                              <span class="positionAbsolute positionOverTenBottomLeftOutro fontColorWhite fontSizeTwoFive lineHeightFour floatLeft">

                                 <span ng:click="brandtab1 = !brandtab1" class="marginTwoFiveLeft floatRight 
                                 positionBeforeIcon
                                 positionAbsolute zindexOne widthTwoFivevh heightTwoFive"><img ng:show="!brandtab1" src="./svg/arrow-down.svg" class="positionCenter positionAbsolute widthHalfFlex heightHalfFlex">
                                 <img ng:show="brandtab1" src="./svg/one/close.svg" class="positionCenter positionAbsolute widthHalfFlex heightHalfFlex"></span>

                                 <span class="">

                                 Available for
                                 <b class="fontColorTwo backgroundGridColorWhite paddingTwoFive border-radius1 ">Full-Time & Contract </b>

                                 </span></span>

                           </span>
                        </p>

                     </h3>

                  </span>

            </span>


            <h4 class="positionAbsolute
               positionLeft widthQuarterFlex centerdiv lineHeightFifteen fontSizeFifteen text-align-left fontColorOne">
               <span class="floatLeft positionRelative opacity025">
               <b>.01</b>
               </span>
            </h4>
   

      <span class="animated enterUp positionBottomRight positionAbsolute widthHalfFlex heightThreeQuarterFlex">
         <manatdesk ng:show="startAnimation" class="opacity05 animated enterUpBounce delay05 positionAbsolute positionBottom heightFullFlex "></manatdesk>
      </span>

      <span class="positionAbsolute positionBottom widthFullFlex heightTenFlex">
            <hr class="vertline marginauto positionAbsolute positionBottom animated growvert backgroundGridColorWhite">
      </span>

   </span>

   <ul class="zindexOne positionAbsolute positionOverBottomLeftNav widthQuarterFlex floatLeft easing zindexFive">
         <li ng:click="learnmore = !learnmore" class="centerdiv text-align-center positionRelative heightFullFlex marginTwoFive paddingTwoFive easing">
            <span class="textOnHoverSwitch paddingTwoFive positionRelative bordered-Six box-shadowSix box-shadowSixLeaveOnHover backgroundColorFive centerdiv fontSizeTwoFive fontColorWhite fontColorOneOnHover lineHeightFive easing">
            Hire Us
            <span class="bordered-Six box-shadowSix beforeArrow margintwofive beforetext backgroundColorOne fontSizeTwoFive fontColorFive fontColorFiveOnHover lineHeightFive easing">before</span>
            
            <span class="marginTwoFiveLeft floatRight animated enterUpObject delay025 zindexOne positionRelative widthTwoFive heightFive"><img src="./svg/arrow-right.svg" class="widthFullFlex heightFullFlex"></span>
            </span>
         </li>
      </ul>

   </span>

      <!-- filler -->
   <span
      class="backgroundGridColorWhite positionRelative widthFullFlex floatLeft easing zindexOne">

      <span class="
            showOnHoverSwitch
            positionRelative
            widthHalfFlex
            floatLeft">
            <span class="
               spacedLarge overflowhidden
               positionRelative floatLeft easing">

               <!-- hide on hover -->
                  <span class="positionAbsolute positionRight widthQuarterFlex heightHalfFlex marginauto easing">
                     <imaclinedone class="positionAbsolute positionLeft widthThreeQuarterFlex heightFullFlex floatLeft"></imaclinedone>
                  </span>

                  <span class="widthFullFlex positionRelative marginauto easing floatLeft">

                     <h3 class="font-family-snippet widthFullFlex floatLeft positionRelative lineHeightFive fontSizeFive text-align-left fontColorTwo text-shadow025OffWhite zindexOne"><span class="">Since Establishment in '17</span> </h3>

                     <hr>

                     <b class="opacity095 widthFullFlex floatLeft positionRelative lineHeightEight text-align-left fontColorFour text-shadow05OffWhite zindexOne">
                     
                     <span class="bordered-bottomTwo fontSizeFive fontColorThree opacity05">17 </span> <span class="fontSizeSix">Projects,</span> <br>

                     <span class="bordered-bottomTwo fontSizeFive fontColorThree opacity05">14 </span> <span class="fontSizeSix">Staff Members,</span> <br>

                     <span class="bordered-bottomTwo fontSizeFive fontColorThree opacity05">14 </span> <span class="fontSizeSix">Partners &</span> <br>

                     <span class="bordered-bottomTwo fontSizeFive fontColorThree opacity05">14 </span> <span class="fontSizeSix">Products</span> <br></b>

                  </span>

            </span>
      </span>

      <!-- Development services -->
      <ul
      class="zindexOne positionRelative widthHalfFlex floatLeft easing">

      <span
         class="positionRelative widthStatic centerdiv marginauto box-shadowSixStraight easing zindexOne backgroundColorWhite">

            <span
               class="positionRelative widthFullFlex text-align-center floatLeft easing zindexOne">

               <span
                  class="positionRelative widthFullFlex text-align-left floatLeft easing zindexOne">

                  <span class="positionRelative floatLeft spacedMid">

                     <span class="widthFullFlex positionRelative zindexOne floatLeft">

                        <span class="positionRelative floatLeft spacedMid text-align-left  zindexOne">

                                 <span class="fontColorFive lineHeightThree fontSizeTwoFive widthFullFlex floatLeft">
                                 <span class="positionRelative zindexOne">
                                    
                                    <span ng:click="brandtab1 = !brandtab1" class="marginTwoFiveRight floatLeft animated enterUpObject delay025 zindexOne positionAbsolute
                                    positionBeforeIcon floatLeft widthTwoFivevh heightTwoFive"><img ng:show="!brandtab1" src="./svg/arrow-down.svg" class="positionAbsolute positionCenter widthHalfFlex heightHalfFlex">
                                    <img ng:show="brandtab1" src="./svg/one/close.svg" class="positionAbsolute positionCenter widthHalfFlex heightHalfFlex"></span>

                                 <b>
                                 Established in 2016
                                 </b></span>

                              

                                 

                                 </span>
                                 <hr> 
                                 <span class="
                                 fontSizeTwo
                                 lineHeightThree fontColorEight positionRelative zindexOne">
                                 We’re live in Chicago & LA, but more cities are in the works. For one price, get access to all our spaces in all our cities.</span><br>
                                 <hr>
                              </span>

                     </span>

                     <span class="widthFullFlex positionRelative zindexOne floatLeft">

                        <span class="positionRelative floatLeft spacedMid text-align-left  zindexOne">

                                 <span class="fontColorFive lineHeightThree fontSizeTwoFive widthFullFlex floatLeft">
                                 <span class="positionRelative zindexOne">
                                    
                                    <span ng:click="brandtab1 = !brandtab1" class="marginTwoFiveRight floatLeft animated enterUpObject delay025 zindexOne positionAbsolute
                                    positionBeforeIcon floatLeft widthTwoFivevh heightTwoFive"><img ng:show="!brandtab1" src="./svg/arrow-down.svg" class="positionAbsolute positionCenter widthHalfFlex heightHalfFlex">
                                    <img ng:show="brandtab1" src="./svg/one/close.svg" class="positionAbsolute positionCenter widthHalfFlex heightHalfFlex"></span>

                                 <b>
                                 Established in 2016
                                 </b></span>

                              

                                 

                                 </span>
                                 <hr> 
                                 <span class="
                                 fontSizeTwo
                                 lineHeightThree fontColorEight positionRelative zindexOne">
                                 We’re live in Chicago & LA, but more cities are in the works. For one price, get access to all our spaces in all our cities.</span><br>
                                 <hr>
                              </span>

                     </span>

                     <span class="widthFullFlex positionRelative zindexOne floatLeft">

                        <span class="positionRelative floatLeft spacedMid text-align-left  zindexOne">

                                 <span class="fontColorFive lineHeightThree fontSizeTwoFive widthFullFlex floatLeft">
                                 <span class="positionRelative zindexOne">
                                    
                                    <span ng:click="brandtab1 = !brandtab1" class="marginTwoFiveRight floatLeft animated enterUpObject delay025 zindexOne positionAbsolute
                                    positionBeforeIcon floatLeft widthTwoFivevh heightTwoFive"><img ng:show="!brandtab1" src="./svg/arrow-down.svg" class="positionAbsolute positionCenter widthHalfFlex heightHalfFlex">
                                    <img ng:show="brandtab1" src="./svg/one/close.svg" class="positionAbsolute positionCenter widthHalfFlex heightHalfFlex"></span>

                                 <b>
                                 Established in 2016
                                 </b></span>

                              

                                 

                                 </span>
                                 <hr> 
                                 <span class="
                                 fontSizeTwo
                                 lineHeightThree fontColorEight positionRelative zindexOne">
                                 We’re live in Chicago & LA, but more cities are in the works. For one price, get access to all our spaces in all our cities.</span><br>
                                 <hr>
                              </span>

                     </span>

                     <span class="widthFullFlex positionRelative zindexOne floatLeft">

                        <span class="positionRelative floatLeft spacedMid text-align-left  zindexOne">

                                 <span class="fontColorFive lineHeightThree fontSizeTwoFive widthFullFlex floatLeft">
                                 <span class="positionRelative zindexOne">
                                    
                                    <span ng:click="brandtab1 = !brandtab1" class="marginTwoFiveRight floatLeft animated enterUpObject delay025 zindexOne positionAbsolute
                                    positionBeforeIcon floatLeft widthTwoFivevh heightTwoFive"><img ng:show="!brandtab1" src="./svg/arrow-down.svg" class="positionAbsolute positionCenter widthHalfFlex heightHalfFlex">
                                    <img ng:show="brandtab1" src="./svg/one/close.svg" class="positionAbsolute positionCenter widthHalfFlex heightHalfFlex"></span>

                                 <b>
                                 Established in 2016
                                 </b></span>

                              

                                 

                                 </span>
                                 <hr> 
                                 <span class="
                                 fontSizeTwo
                                 lineHeightThree fontColorEight positionRelative zindexOne">
                                 We’re live in Chicago & LA, but more cities are in the works. For one price, get access to all our spaces in all our cities.</span><br>
                                 <hr>
                              </span>

                     </span>

                  </span>

               </span>

            </span>


         </span>

      </ul>

      <ul class="positionRelative widthFullFlex floatLeft easing">


      <span class="opacity095 animated enterUp positionBottomCenterRightTwoThird positionAbsolute widthQuarter heightFull">
         <span class="animated enterUpBounce delay05 positionAbsolute positionBottom heightFullFlex">
            <manstand ng:show="startAnimation" class="positionOverBottomTwoThird easing animated enterUpBounce delay05 positionAbsolute heightFullFlex"></manstand>
         </span>
      </span>

      
         <span
            class="positionRelative widthStatic centerdiv marginauto zindexOne">

            <span class="spacedSmall positionRelative floatLeft easing">

               <h3 class="floatLeft centerdiv widthFullFlex positionRelative zindexOne">

                  <p>
                     
                     <span class="positionRelative floatLeft text-shadow01Dark">


                        <b class="opacity075 floatLeft text-shadow05White zindexFive positionRelative lineHeightFive fontSizeFour fontColorOne text-align-left">"Many hands make <span class="font-family-snippet">light work</span>." These are some of the most<span class="bordered-bottomOne positionRelative">

                        <span class="fontColorOne zindexOne positionRelative font-family-snippet">experienced</span>
                        <span class="widthFullFlex heightFullFlex opacity01 marginauto positionAbsolute positionBottomRight animated growvert backgroundGridColorOne"></span>

                        </span> hands I've worked alongside overtime in the <i class="font-family-snippet">creative</i> industry.</b>
                     </span>
                  </p>
               </h3>

               <ul class="positionRelative widthFullFlex floatLeft easing">
               
                  <span class="widthFullFlex positionRelative centerdiv marginauto">

                     <span class="positionAbsolute positionBottom widthFullFlex heightFullFlex">
                        <hr class="vertline marginauto positionAbsolute positionBottom animated growvert backgroundGridColorWhite">
                     </span>

                     <h3 class="floatLeft widthFullFlex positionRelative lineHeightFour fontSizeThree text-align-right fontColorThree zindexOne">

                        <p>

                           <!-- layer -->
                           <span class="positionRelative floatRight text-shadow01Dark">

                              <p class="opacity075 floatLeft text-shadow05White zindexFive positionRelative"><b>Nigel Johnson,</b> <span class="font-family-snippet">Founder</span> </p>

                           </span>
                        </p>
                     </h3>

                  </span>

               </ul>

               

               <h4 class="positionAbsolute
               positionRight widthQuarterFlex heightFifteen lineHeightFifteen fontSizeFifteen text-align-left fontColorOne">
                  <span class="floatLeft positionRelative opacity025">
                  <b>.01</b>
                  </span>
               </h4>

            </span>

            <span class="positionAbsolute positionBottom widthFullFlex heightTenFlex">
               <hr class="opacity025 vertline marginauto positionAbsolute positionBottomRight animated growvert backgroundGridColorOne">
            </span>

         </span>

      </ul>

      <!-- layer -->
      <span class="
         zindexFive positionRelative heightSevenFive widthFullFlex floatLeft">
      </span>

   </span>

   <span
                  class="positionRelative widthFullFlex text-align-left floatLeft easing zindexOne">

                  <!-- washout background -->
                  <span class="positionAbsolute positionCenter opacity095
                     backgroundGridColorOneTwo widthFullFlex heightFullFlex">
                  </span>

                  <span class="positionRelative floatLeft spacedMid">

                  <ul ng-repeat="allparts in allservices" class="positionRelative widthQuarterFlex floatLeft easing">

                        <div class="
                              zindexOne positionRelative widthFullFlex heightQuarter floatLeft">

                              <img src="./svg/{{allparts.icon}}" class="positionCenter positionAbsolute widthThreeQuarterFlex heightThreeQuarterFlex">

                           </div>

                           <b class="font-family-snippet widthFullFlex floatLeft positionRelative lineHeightFive fontSizeTwoFive text-align-center fontColorThree text-shadow025One zindexOne">
                              
                              {{allparts.category}}

                           </b>

                        <ul ng:click="popup = !popup" ng-repeat="subparts in allparts.subcategories" class="positionRelative widthFullFlex heightTwelveFive floatLeft easing">

                           <span
                           ng:class="{'active' : popup}"
                           class="
                           easing
                           pop
                           popup
                           positionFixed
                           positionCenter
                           heightFullFlex
                           widthFullFlex
                           overflowhidden floatLeft zindexFive">
                           
                           <span class="
                              opacity05
                              backgroundColorFour
                              overflowhidden
                              positionAbsolute positionBottom widthFullFlex heightFullFlex">
                           </span>
                           <span class="
                              opacity025
                              ColorTwoToClearGradient
                              overflowhidden
                              positionAbsolute positionBottom widthFullFlex heightFullFlex">
                           </span>

                           <!-- video component 1 -->
                           <ul class="positionAbsolute positionCenter widthThreeQuarterFlex heightThreeQuarterFlex floatLeft easing">

                              <span class="showOnHoverSwitch
                                 widthFullFlex heightFullFlex
                                 positionRelative floatLeft easing">
                                 <span class="
                                    spacedSmall border-radius1
                                    backgroundColorOne
                                    positionRelative floatLeft easing">
                                       <!-- hideOnHover // background -->
                                       <span class="positionAbsolute positionCenter
                                          bordered-Two  overflowhidden
                                          backgroundColorOne widthFullFlex heightFullFlex">

                                          <span class="widthNineFlex heightTen positionRelative marginauto floatLeft text-align-left">

                                             <span class="widthFullFlex heightFullFlex bordered-bottomTwo positionRelative marginauto floatLeft">

                                             <h3 class="floatLeft widthFullFlex positionRelative lineHeightTen fontSizeTwoFive text-align-left fontColorThree  zindexOne">
                                                <p class="font-family-snippet">
                                                   <span class="positionRelative floatLeft marginTwoFiveLeft">
                                                      <b class="floatLeft zindexFive positionRelative">What's this all about?</b>
                                                   </span>
                                                </p>
                                             </h3>
                                                

                                             </span>

                                          </span>

                                          <span ng:click="popup = !popup" class="widthTenFlex heightTen
                                          backgroundColorOne positionRelative marginauto floatLeft text-align-left">

                                             <span class="widthFullFlex heightFullFlex bordered-bottomTwo positionRelative marginauto floatLeft">

                                                <span class="spacedBorderLeft bordered-leftTwo positionRelative marginauto floatLeft">
                                                
                                                <!-- close -->
                                                <span class="animated enterUpObject delay025 zindexOne positionAbsolute positionCenter widthFive heightFive"
                                                   ng:click="
                                                   popup = false;">
                                                   <img src="./svg/white/close.svg" class="floatLeft positionAbsolute positionCenter widthHalfFlex heightHalfFlex">
                                                </span>

                                                </span>

                                             </span>

                                          </span>

                                          <span class="widthFullFlex positionRelative marginauto floatLeft text-align-center">

                                             <span class="widthFullFlex bordered-topTwo positionRelative marginauto floatLeft">
                                                
                                                <span class="spacedSmall positionRelative marginauto floatLeft lineHeightFour fontSizeTwoFive fontColorThree  font-family-snippet">
                                                   <p class="font-family-snippet fontColorThree ">
                                                      
                                                      <hr> 
                                                      <hr> 

                                                      Welcome to BIGSOUND Buzz!

                                                      <hr>

                                                      We’re using real-time data powered by<br>
                                                      social media to reveal the most hyped<br>
                                                      artists of BIGSOUND 2016.

                                                      <hr>

                                                      Check back to see how attention shifts<br>
                                                      throughout the week.

                                                      <hr>

                                                      We will post regular updates on our<br>
                                                      <span class="bordered-bottomTwo">Instagram</span>, <span class="bordered-bottomTwo">Facebook</span> & <span class="bordered-bottomTwo">Twitter</span>.


                                                   </p>
                                                </span>

                                             </span>

                                          </span>


                                       </span>
                                 </span>
                              </span>
                           </ul>
                        </span>

                           <div class="
                              zindexOne positionAbsolute positionBottomRight widthHalfFlex heightHalfFlex floatLeft">

                              <img src="./svg/{{subparts.icon}}" class="positionCenter positionAbsolute widthThreeQuarterFlex heightThreeQuarterFlex">

                           </div>

                           <span class="showOnHoverSwitch
                              widthFullFlex heightFullFlex
                              positionRelative floatLeft easing">

                                 
                              <span class="
                                 spacedMid border-radius1 buttonbox-shadowOne backgroundColorOneFour
                                 positionRelative floatLeft easing">

                                 <h4 class="font-family-snippet positionAbsolute
                              positionOverFiveTopLeftIndex
                              zindexOne
                              border-radius-circle
                              heightFive
                              widthFivevh
                              backgroundColorOne lineHeightFive fontSizeTwoFive 
                              text-align-center fontColorWhite">
                                 <span class="centerdiv positionRelative text-align-center">
                                    <b>{{$index}}</b>
                                 </span>
                              </h4>

                                 <span class="
                                    spacedTiny
                                    centerdiv
                                    backgroundColorTwo
                                    border-radius1
                                    overflowhidden
                                    positionAbsolute
                                    positionCenter floatLeft easing">
                                    <!-- showOnHover // background -->
                                    <span class="showOnHover positionAbsolute positionCenter
                                       border-radius1 overflowhidden
                                       backgroundColorWhite widthFullFlex heightFullFlex">
                                       
                                       <!-- Filler -->
                                       <ul class="positionRelative widthFullFlex floatLeft easing">
                                          <span class="
                                             spacedSmall overflowhidden
                                             positionRelative floatLeft easing">
                                          <h3 class="widthFullFlex floatLeft positionRelative lineHeighFive fontSizeTwo text-align-left fontColorSeven text-shadow05OffWhite zindexOne">learn more</h3>
                                          </span>
                                       </ul>
                                    </span>
                                    <!-- hideOnHover // background -->
                                    <span class="hideOnHover positionAbsolute positionCenter
                                       border-radius1 overflowhidden
                                       backgroundColorWhite widthFullFlex heightFullFlex">
                                       <ul class="positionRelative widthFullFlex heightFullFlex floatLeft zindexOne easing">
                                          <!-- Filler -->
                                          <span class="positionRelative widthFullFlex floatLeft widthFullFlex heightTenFlex">
                                          </span><br>
                                          <!-- text here-->
                                          <span class="positionAbsolute positionBottom widthFullFlex floatLeft
                                             ">
                                             <span class="
                                                spacedSmall overflowhidden
                                                positionRelative floatLeft easing">
                                                <h3 class="widthFullFlex floatLeft positionRelative lineHeighFive fontSizeTwo text-align-center fontColorSeven text-shadow05OffWhite zindexOne"><b>{{subparts.name}}</b></h3>
                                             </span>
                                          </span>
                                       </ul>
                                    </span>
                                 </span>
                              </span>
                           </span>
                        </ul>

                     </ul>
                     
                  </span>

   </span>

   <!-- 50/50 words components -->
   <span class="zindexOne positionRelative widthFullFlex floatLeft easing">

      <span class="positionAbsolute positionCenter backgroundColorFour opacity075 heightFullFlex widthFullFlex floatLeft easing zindexOne"></span>

      <span class="positionRelative widthStatic centerdiv marginauto text-align-center">

         <ul class="positionRelative widthFullFlex floatLeft easing zindexOne">

            <li class="positionRelative widthHalfFlex floatLeft easing">

               <span class="spacedMid positionRelative centerdiv marginauto">

                  <h4 class="positionAbsolute
                  positionRight widthQuarterFlex heightFifteen lineHeightFifteen fontSizeFifteen text-align-left fontColorOne">
                     <span class="floatLeft positionRelative opacity025">
                     <b>.01</b>
                     </span>
                  </h4>

                  <img src="./tools/angular.svg" class="positionAbsolute positionBottomRight
                        overflowhidden widthHalfFlex heightHalfFlex">

                  <span class="spacedSmall positionRelative floatLeft easing">

                     <ul class="positionRelative widthFullFlex floatLeft easing">
                  
                        <span class="widthFullFlex positionRelative centerdiv marginauto">

                           

                           <h3 class="floatLeft widthFullFlex positionRelative lineHeightFour fontSizeThree text-align-left fontColorOffWhite zindexOne">

                              <p>

                                 <!-- layer -->
                                 <span class="positionRelative floatLeft text-shadow01Dark">

                                    <b class="opacity075 floatLeft text-shadow05Four zindexFive positionRelative">Our Developer</b>
                                 </span>
                              </p>
                           </h3>

                        </span>

                     </ul>

                     <h3 class="floatLeft centerdiv widthFullFlex positionRelative lineHeightFive fontSizeFour text-align-left fontColorOne zindexOne">

                        <p>
                           
                           <span class="positionRelative floatLeft text-shadow01Dark">

                              <b class="floatLeft text-shadow025Dark zindexFive positionRelative">Based in the heart of Metro <span class="fontColorTwo">Atlanta, </span>Across of <span class="fontColorTwo">Piedmont Hospital</span>, Available Anytime.</b>
                           </span>
                        </p>
                     </h3>
                  </span>

               </span>

            </li>

            <li class="positionRelative widthHalfFlex floatLeft easing">

               <span class="spacedMid positionRelative centerdiv marginauto">

                  <h4 class="positionAbsolute
                  positionRight widthQuarterFlex heightFifteen lineHeightFifteen fontSizeFifteen text-align-left fontColorOne">
                     <span class="floatLeft positionRelative opacity025">
                     <b>.02</b>
                     </span>
                  </h4>

                  <img src="./tools/angular.svg" class="positionAbsolute positionBottomRight
                        overflowhidden widthHalfFlex heightHalfFlex">

                  <span class="spacedSmall positionRelative floatLeft easing">

                     <ul class="positionRelative widthFullFlex floatLeft easing">
                  
                        <span class="widthFullFlex positionRelative centerdiv marginauto">

                           

                           <h3 class="floatLeft widthFullFlex positionRelative lineHeightFour fontSizeThree text-align-left fontColorOffWhite zindexOne">

                              <p>

                                 <!-- layer -->
                                 <span class="positionRelative floatLeft text-shadow01Dark">

                                    <b class="opacity075 floatLeft text-shadow05Four zindexFive positionRelative">Our Ui Engineers</b>
                                 </span>
                              </p>
                           </h3>

                        </span>

                     </ul>

                     <h3 class="floatLeft centerdiv widthFullFlex positionRelative lineHeightFive fontSizeFour text-align-left fontColorOne zindexOne">

                        <p>
                           
                           <span class="positionRelative floatLeft text-shadow01Dark">

                              <b class="floatLeft text-shadow025Dark zindexFive positionRelative">Former co-works from <span class="fontColorTwo">Start-Up</span> vintures & Leading <span class="fontColorTwo">brands</span> met and formed this studio </b>
                           </span>
                        </p>
                     </h3>
                  </span>

               </span>

            </li>

            <li class="positionRelative widthHalfFlex floatLeft easing">

               <span class="spacedMid positionRelative centerdiv marginauto">

                  <h4 class="positionAbsolute
                  positionRight widthQuarterFlex heightFifteen lineHeightFifteen fontSizeFifteen text-align-left fontColorOne">
                     <span class="floatLeft positionRelative opacity025">
                     <b>.03</b>
                     </span>
                  </h4>

                  <img src="./tools/angular.svg" class="positionAbsolute positionBottomRight
                        overflowhidden widthHalfFlex heightHalfFlex">

                  <span class="spacedSmall positionRelative floatLeft easing">

                     <ul class="positionRelative widthFullFlex floatLeft easing">
                  
                        <span class="widthFullFlex positionRelative centerdiv marginauto">

                           

                           <h3 class="floatLeft widthFullFlex positionRelative lineHeightFour fontSizeThree text-align-left fontColorOffWhite zindexOne">

                              <p>

                                 <!-- layer -->
                                 <span class="positionRelative floatLeft text-shadow01Dark">

                                    <b class="opacity075 floatLeft text-shadow05Four zindexFive positionRelative">Our Graphic Designer</b>
                                 </span>
                              </p>
                           </h3>

                        </span>

                     </ul>

                     <h3 class="floatLeft centerdiv widthFullFlex positionRelative lineHeightFive fontSizeFour text-align-left fontColorOne zindexOne">

                        <p>
                           
                           <span class="positionRelative floatLeft text-shadow01Dark">

                              <b class="floatLeft text-shadow025Dark zindexFive positionRelative">To Continue Producing <span class="fontColorTwo">Creations </span> While Always Pushing <span class="fontColorTwo">Design</span> & Leading To <span class="fontColorTwo">Industry Standards</span>.</b>
                           </span>
                        </p>
                     </h3>
                  </span>

               </span>

            </li>

            <li class="positionRelative widthHalfFlex floatLeft easing">

               <span class="spacedMid positionRelative centerdiv marginauto">

                  <h4 class="positionAbsolute
                  positionRight widthQuarterFlex heightFifteen lineHeightFifteen fontSizeFifteen text-align-left fontColorOne">
                     <span class="floatLeft positionRelative opacity025">
                     <b>.04</b>
                     </span>
                  </h4>

                  <img src="./tools/angular.svg" class="positionAbsolute positionBottomRight
                        overflowhidden widthHalfFlex heightHalfFlex">

                  <span class="spacedSmall positionRelative floatLeft easing">

                     <ul class="positionRelative widthFullFlex floatLeft easing">
                  
                        <span class="widthFullFlex positionRelative centerdiv marginauto">

                           

                           <h3 class="floatLeft widthFullFlex positionRelative lineHeightFour fontSizeThree text-align-left fontColorOffWhite zindexOne">

                              <p>

                                 <!-- layer -->
                                 <span class="positionRelative floatLeft text-shadow01Dark">

                                    <b class="opacity075 floatLeft text-shadow05Four zindexFive positionRelative">Our Content Creators</b>
                                 </span>
                              </p>
                           </h3>

                        </span>

                     </ul>

                     <h3 class="floatLeft centerdiv widthFullFlex positionRelative lineHeightFive fontSizeFour text-align-left fontColorOne zindexOne">

                        <p>
                           
                           <span class="positionRelative floatLeft text-shadow01Dark">

                              <b class="floatLeft text-shadow025Dark zindexFive positionRelative">A Division Of Experts Ready To Handle Every Ascept Of <span class="fontColorTwo">Development</span> & <span class="fontColorTwo">Content Creation</span>.</b>
                           </span>
                        </p>
                     </h3>
                  </span>

               </span>

            </li>

         </ul>

      </span>

      <span class="positionAbsolute positionBottom widthFullFlex heightFullFlex">
            <hr class="vertline marginauto positionAbsolute positionBottom animated growvert backgroundGridColorOne">
      </span>

   </span>

   <span class="zindexOne positionRelative widthFullFlex overflowhidden floatLeft easing backgroundColorWhite">

            <span class="opacity025 animated enterUp positionBottomCenterLeftTwoThird positionAbsolute widthQuarter heightFull">
               <span class="animated enterUpBounce delay05 positionAbsolute positionBottom heightFullFlex">
                  <manstand ng:show="startAnimation" class="positionOverBottomTwoThird easing animated enterUpBounce delay05 positionAbsolute heightFullFlex"></manstand>
               </span>
            </span>

            <span class="opacity025 animated enterUp positionBottomCenterLeftQuarter positionAbsolute widthQuarter heightFull">
               <span class="animated enterUpBounce delay05 positionAbsolute positionBottom heightFullFlex">
                  <manstand ng:show="startAnimation" class="positionOverBottomTwoThird easing animated enterUpBounce delay05 positionAbsolute heightFullFlex"></manstand>
               </span>
            </span>

            <span class="opacity025 animated enterUp positionBottomCenterRightQuarter positionAbsolute widthQuarter heightFull">
               <span class="animated enterUpBounce delay05 positionAbsolute positionBottom heightFullFlex">
                  <manstand ng:show="startAnimation" class="positionOverBottomTwoThird easing animated enterUpBounce delay05 positionAbsolute heightFullFlex"></manstand>
               </span>
            </span>

            <span class="opacity025 animated enterUp positionBottomCenterRightTwoThird positionAbsolute widthQuarter heightFull">
               <span class="animated enterUpBounce delay05 positionAbsolute positionBottom heightFullFlex">
                  <manstand ng:show="startAnimation" class="positionOverBottomTwoThird easing animated enterUpBounce delay05 positionAbsolute heightFullFlex"></manstand>
               </span>
            </span>

      <span class="positionRelative widthStatic centerdiv marginauto text-align-center">

         <ul class="positionRelative widthFullFlex marginauto text-align-center">



            <li class="showOnHoverSwitch text-align-center positionRelative widthFullFlex floatLeft easing">
               <span class="floatLeft animated enterUpObject delay025 zindexOne positionAbsolute positionTopRight widthTwoFive heightTwoFive"><img src="./svg/pageend.svg" class="positionAbsolute positionRight heightFullFlex"></span>
               <span class="positionRelative floatLeft widthFullFlex">

                  <!-- desk Holder center -->
                  <span class="positionRelative floatLeft spacedLarge text-align-left  zindexOne">
                  <span class="fontColorFive lineHeightFive fontSizeTwoFive widthFullFlex floatLeft">
                  <span class="font-family-snippet positionRelative zindexOne opacity025"><b>
                  Full-Time or Contract
                  </b></span></span> 
                  <span class="widthFullFlex floatLeft lineHeightTen fontSizeSevenFive">
                  <b class="fontColorOne marginTwoFiveRight positionRelative zindexOne floatLeft bordered-bottomDarkSmall">
                  Our
                  </b>
                  <b class="fontColorOne marginTwoFiveRight positionRelative zindexOne floatLeft bordered-bottomDarkSmall opacity09">
                  Services
                  </b>
                  <b class="fontColorOne marginTwoFiveRight positionRelative zindexOne floatLeft bordered-bottomDarkSmall opacity08">
                  Are
                  </b> 
                  <b class="fontColorOne marginTwoFiveRight positionRelative zindexOne floatLeft bordered-bottomDarkSmall opacity07">
                  Solutions
                  </b> 
                  <b class="fontColorOne marginTwoFiveRight positionRelative zindexOne floatLeft bordered-bottomDarkSmall opacity06">
                  To
                  </b> 
                  <b class="fontColorOne marginTwoFiveRight positionRelative zindexOne floatLeft bordered-bottomDarkSmall opacity05">
                  Everyday
                  </b> 
                  <b class="fontColorOne marginTwoFiveRight positionRelative zindexOne floatLeft bordered-bottomDarkSmall opacity04">
                  Questions
                  </b>
                  <b class="fontColorOne marginTwoFiveRight positionRelative zindexOne floatLeft bordered-bottomDarkSmall opacity03">
                  In
                  </b>
                  <b class="fontColorOne marginTwoFiveRight positionRelative zindexOne floatLeft bordered-bottomDarkSmall opacity03">
                  Today's
                  </b>
                  <b class="fontColorOne marginTwoFiveRight positionRelative zindexOne floatLeft bordered-bottomDarkSmall opacity02">
                  Industry
                  </b>
                  <b class="fontColorOne marginTwoFiveRight positionRelative zindexOne floatLeft bordered-bottomDarkSmall opacity01">
                  .
                  </b>

                  </span>
                  </span>
               </span>
            </li>

            

         </ul>

      </span>

   </span>

   <noborderedfooter></noborderedfooter>

   <whitefooterphotos></whitefooterphotos>


</ul>
