<!-- list -->
<ul class="positionAbsolute positionCenter backgroundGridColorWhite widthFull heightFull easing text-align-center zindexFive overflowy">

	<span class="positionRelative widthFull heightFull overflowy">

		<span
		class="zindexOne backgroundGridColorTwo positionRelative widthFull heightThreeQuarter floatLeft easing">

			<!-- desk Holder center -->
			<desk class="positionFixed positionOverQuarterBottom widthHalf heightHalf">

			</desk>

			<span class="heightQuarterFlex widthFullFlex floatLeft"></span>

			<h1 class="positionRelative lineHeightTen fontSizeFive text-align-center fontColorWhite text-shadow01Five zindexOne">Subtitle</h1>

			<h2 class="positionRelative lineHeightTen fontSizeTen text-align-center fontColorThree text-shadow05Five zindexOne">When</h2>

			<h3 class="positionRelative lineHeightTen fontSizeSevenFive text-align-center fontColorFour text-shadow025Five zindexOne">tagline</h3>

			<h4 class="positionAbsolute
			positionRight widthQuarterFlex heightQuarterFlex lineHeightTen fontSizeSevenFive text-align-center fontColorFive">
				<span class="divcenter positionRelative opacity025">
					<b>.01</b>
				</span>
			</h4>

			<hr>

			<!-- horizontal list components -->
			<ul class="positionRelative widthFull heightQuarter floatLeft easing">

				<span class="widthStatic positionRelative centerdiv marginauto">

					<li class="centerdiv text-align-center positionRelative heightFullFlex backgroundColorOneOnHover marginTwoFive paddingTwoFive easing">
						<span class="centerdiv fontSizeTwoFive fontColorOne fontColorTwoOnHover lineHeightTen bordered-bottomTwo bordered-bottomThreeOnHover easing">option 5</span>
					</li>
					
					<li class="centerdiv text-align-center positionRelative heightFullFlex backgroundColorOneOnHover marginTwoFive paddingTwoFive easing">
						<span class="centerdiv fontSizeTwoFive fontColorOne fontWhiteOnHover lineHeightTen bordered-bottomTwo bordered-bottomWhiteOnHover easing">option 6</span>
					</li>

					<li class="centerdiv text-align-center positionRelative heightFullFlex backgroundColorOneOnHover marginTwoFive paddingTwoFive easing">
						<span class="centerdiv fontSizeTwoFive fontColorOne fontColorTwoOnHover lineHeightTen bordered-bottomTwo bordered-bottomThreeOnHover easing">option 7</span>
					</li>
					
					<li class="centerdiv text-align-center positionRelative heightFullFlex backgroundColorOneOnHover marginTwoFive paddingTwoFive easing">

						<span class="centerdiv fontSizeTwoFive fontColorOne fontWhiteOnHover lineHeightTen bordered-bottomTwo bordered-bottomWhiteOnHover easing beforeMenu">
							<span class="beforeContent text-align-center">
								<p class="positionRelative centerdiv">content</p>
							</span>
							option 8
						</span>
					</li>

				</span>

			</ul>

			<span ng:show="startAnimation" class="animated enterDown positionLeft positionAbsolute widthQuarter heightHalf zindexOne">
				<manface4 class="infinite animated pulse positionCenter positionAbsolute widthFullFlex heightFullFlex"></manface4>
			</span>

		</span>

		<!-- horizontal list components -->
		<span
		class="zindexOne backgroundGridColorWhite positionRelative widthFull heightQuarter floatLeft easing zindexOne">
			<ul class="positionRelative widthFull heightQuarter floatLeft easing">

				<li class="showOnHoverSwitch centerdiv text-align-center positionRelative widthSixthFlex heightFullFlex backgroundColorOneOnHover floatLeft easing">

					<!-- showOnHover // background -->
					<span class="showOnHover positionAbsolute positionCenter backgroundteam
					backgroundColorWhite widthFullFlex heightFullFlex">

						<!-- washout background -->
						<span class="positionAbsolute positionCenter opacity075
						backgroundColorWhite widthFullFlex heightFullFlex">
						</span>

					</span>

					<!-- showOnHover // background -->
					<span class="hideOnHover positionAbsolute positionCenter backgroundteamcolor
					backgroundColorWhite widthFullFlex heightFullFlex">

						<!-- washout background -->
						<span class="positionAbsolute positionCenter opacity075
						backgroundColorWhite widthFullFlex heightFullFlex">
						</span>

					</span>

					<span class="positionRelative centerdiv fontSizeFive fontColorOne fontColorTwoOnHover lineHeightSevenFive bordered-bottomTwo bordered-bottomThreeOnHover easing">option 1</span>
				</li>
				
				<li class="showOnHoverSwitch centerdiv text-align-center positionRelative widthSixthFlex heightFullFlex backgroundColorOneOnHover floatLeft easing">

					<!-- showOnHover // background -->
					<span class="showOnHover positionAbsolute positionCenter backgroundteam
					backgroundColorWhite widthFullFlex heightFullFlex">

						<!-- washout background -->
						<span class="positionAbsolute positionCenter opacity075
						backgroundColorWhite widthFullFlex heightFullFlex">
						</span>

					</span>

					<!-- showOnHover // background -->
					<span class="hideOnHover positionAbsolute positionCenter backgroundteamcolor
					backgroundColorWhite widthFullFlex heightFullFlex">

						<!-- washout background -->
						<span class="positionAbsolute positionCenter opacity075
						backgroundColorWhite widthFullFlex heightFullFlex">
						</span>

					</span>

					<span class="positionRelative centerdiv fontSizeFive fontColorOne fontWhiteOnHover lineHeightSevenFive bordered-bottomTwo bordered-bottomWhiteOnHover easing">option 2</span>
				</li>

				<li class="centerdiv text-align-center positionRelative widthSixthFlex heightFullFlex backgroundColorOneOnHover floatLeft easing">
					<span class="centerdiv fontSizeFive fontColorOne fontColorTwoOnHover lineHeightSevenFive bordered-bottomTwo bordered-bottomThreeOnHover easing">option 3</span>
				</li>
				
				<li class="centerdiv text-align-center positionRelative widthSixthFlex heightFullFlex backgroundColorOneOnHover floatLeft easing">
					<span class="centerdiv fontSizeFive fontColorOne fontWhiteOnHover lineHeightSevenFive bordered-bottomTwo bordered-bottomWhiteOnHover easing">option 4</span>
				</li>

				<li class="centerdiv text-align-center positionRelative widthSixthFlex heightFullFlex backgroundColorOneOnHover floatLeft easing">
					<span class="centerdiv fontSizeFive fontColorOne fontColorTwoOnHover lineHeightSevenFive bordered-bottomTwo bordered-bottomThreeOnHover easing">option 5</span>
				</li>
				
				<li class="centerdiv text-align-center positionRelative widthSixthFlex heightFullFlex backgroundColorOneOnHover floatLeft easing">
					<span class="centerdiv fontSizeFive fontColorOne fontWhiteOnHover lineHeightSevenFive bordered-bottomTwo bordered-bottomWhiteOnHover easing">option 6</span>
				</li>

				<li class="centerdiv text-align-center positionRelative widthSixthFlex heightFullFlex backgroundColorOneOnHover floatLeft easing">
					<span class="centerdiv fontSizeFive fontColorOne fontColorTwoOnHover lineHeightSevenFive bordered-bottomTwo bordered-bottomThreeOnHover easing">option 7</span>
				</li>
				
				<li class="centerdiv text-align-center positionRelative widthSixthFlex heightFullFlex backgroundColorOneOnHover floatLeft easing">

					<span class="centerdiv fontSizeFive fontColorOne fontWhiteOnHover lineHeightSevenFive bordered-bottomTwo bordered-bottomWhiteOnHover easing beforeMenu">
						<span class="beforeContent text-align-center">
							<p class="positionRelative centerdiv">content</p>
						</span>
						option 8
					</span>
				</li>

			</ul>
		</span>

		<!-- card components -->
		<span
		class="zindexOne backgroundGridColorWhite positionRelative floatLeft easing">

			<span
			class="zindexOne backgroundGridColorWhite positionRelative widthHalf heightHalf floatLeft easing">
				<span class="backgroundGridColorOffWhite spacedMid bordered-Five box-shadowFiveOnHover positionRelative floatLeft easing">
				</span>
			</span>

			<span
			class="zindexOne backgroundGridColorWhite positionRelative widthHalf heightHalf floatLeft easing">
				<span class="backgroundGridColorOffWhite spacedMid bordered-Five box-shadowFive positionRelative floatLeft easing">
				</span>
			</span>

			<span
			class="zindexOne backgroundGridColorWhite positionRelative widthHalf heightHalf floatLeft easing">
				<span class="backgroundGridColorOffWhite spacedMid box-shadowFiveStraight positionRelative floatLeft easing">
				</span>
			</span>

			<span
			class="zindexOne backgroundGridColorWhite positionRelative widthHalf heightHalf floatLeft easing">
				<span class="backgroundGridColorOffWhite spacedMid box-shadowFiveStraight positionRelative floatLeft easing">
				</span>
			</span>

		</span>

		<!-- horizontal list components -->
		<ul class="positionRelative widthFull heightQuarter floatLeft easing zindexOne">
			<!-- showOnHoverSwitch -->
			<li class="showOnHoverSwitch centerdiv text-align-center positionRelative widthFifthFlex heightFullFlex backgroundColorOneOnHover floatLeft easing">
				<!-- showOnHover // background -->
				<span class="showOnHover positionAbsolute positionCenter backgroundteam
				backgroundColorWhite widthFullFlex heightFullFlex">

					<!-- washout background -->
					<span class="positionAbsolute positionCenter opacity075
					ColorOneToClearGradient widthFullFlex heightFullFlex">
					</span>

				</span>

				<!-- showOnHover // background -->
				<span class="hideOnHover positionAbsolute positionCenter backgroundteamcolor
				backgroundColorWhite widthFullFlex heightFullFlex">

					<!-- washout background -->
					<span class="positionAbsolute positionCenter opacity075
					ColorOneFromClearGradient widthFullFlex heightFullFlex">
					</span>

				</span>

				<span class="positionRelative centerdiv fontSizeFive fontColorOne fontWhiteOnHover lineHeightSevenFive bordered-One bordered-TwoOnHover easing paddingTwoFive">option 1</span>

			</li>

			<!-- showOnHoverSwitch -->
			<li class="showOnHoverSwitch centerdiv text-align-center positionRelative widthFifthFlex heightFullFlex backgroundColorOneOnHover floatLeft easing">

				<!-- showOnHover // background -->
				<span class="showOnHover positionAbsolute positionCenter backgroundteam
				backgroundColorWhite widthFullFlex heightFullFlex">

					<!-- washout background -->
					<span class="positionAbsolute positionCenter opacity075
					backgroundColorWhite widthFullFlex heightFullFlex">
					</span>

				</span>

				<!-- showOnHover // background -->
				<span class="hideOnHover positionAbsolute positionCenter backgroundteamcolor
				backgroundColorWhite widthFullFlex heightFullFlex">

					<!-- washout background -->
					<span class="positionAbsolute positionCenter opacity075
					backgroundColorWhite widthFullFlex heightFullFlex">
					</span>

				</span>

				<span class="positionRelative centerdiv fontSizeFive fontColorOne fontWhiteOnHover lineHeightSevenFive bordered-bottomTwo bordered-bottomWhiteOnHover easing">option 2</span>
			</li>

			<!-- showOnHoverSwitch -->
			<li class="showOnHoverSwitch centerdiv text-align-center positionRelative widthFifthFlex heightFullFlex backgroundColorOneOnHover floatLeft easing">
				<!-- showOnHover // background -->
				<span class="showOnHover positionAbsolute positionCenter backgroundteam
				backgroundColorWhite widthFullFlex heightFullFlex">

					<!-- washout background -->
					<span class="positionAbsolute positionCenter opacity075
					backgroundColorWhite widthFullFlex heightFullFlex">
					</span>

				</span>

				<!-- showOnHover // background -->
				<span class="hideOnHover positionAbsolute positionCenter backgroundteamcolor
				backgroundColorWhite widthFullFlex heightFullFlex">

					<!-- washout background -->
					<span class="positionAbsolute positionCenter opacity075
					backgroundColorWhite widthFullFlex heightFullFlex">
					</span>

				</span>

				<span class="positionRelative centerdiv fontSizeFive fontColorOne fontWhiteOnHover lineHeightSevenFive bordered-One bordered-TwoOnHover border-radius box-shadowFive easing paddingTwoFive">option 3</span>

			</li>

			<!-- showOnHoverSwitch -->
			<li class="showOnHoverSwitch centerdiv text-align-center positionRelative widthFifthFlex heightFullFlex backgroundColorOneOnHover floatLeft easing">

				<!-- showOnHover // background -->
				<span class="showOnHover positionAbsolute positionCenter backgroundteam
				backgroundColorWhite widthFullFlex heightFullFlex">

					<!-- washout background -->
					<span class="positionAbsolute positionCenter opacity075
					backgroundColorWhite widthFullFlex heightFullFlex">
					</span>

				</span>

				<!-- showOnHover // background -->
				<span class="hideOnHover positionAbsolute positionCenter backgroundteamcolor
				backgroundColorWhite widthFullFlex heightFullFlex">

					<!-- washout background -->
					<span class="positionAbsolute positionCenter opacity075
					backgroundColorWhite widthFullFlex heightFullFlex">
					</span>

				</span>

				<span class="positionRelative centerdiv fontSizeFive fontColorOne fontWhiteOnHover lineHeightSevenFive bordered-One bordered-TwoOnHover border-radius025 box-shadowFiveOnHover easing paddingTwoFive">option 4</span>
			</li>

			<!-- showOnHoverSwitch -->
			<li class="showOnHoverSwitch centerdiv text-align-center positionRelative widthFifthFlex heightFullFlex backgroundColorOneOnHover floatLeft easing">
				<!-- showOnHover // background -->
				<span class="showOnHover positionAbsolute positionCenter backgroundteam
				backgroundColorWhite widthFullFlex heightFullFlex">

					<!-- washout background -->
					<span class="positionAbsolute positionCenter opacity075
					backgroundColorWhite widthFullFlex heightFullFlex">
					</span>

				</span>

				<!-- showOnHover // background -->
				<span class="hideOnHover positionAbsolute positionCenter backgroundteamcolor
				backgroundColorWhite widthFullFlex heightFullFlex">

					<!-- washout background -->
					<span class="positionAbsolute positionCenter opacity075
					backgroundColorWhite widthFullFlex heightFullFlex">
					</span>

				</span>

				<span class="hideOnHover positionRelative centerdiv fontSizeFive fontColorOne fontWhiteOnHover lineHeightSevenFive bordered-One bordered-TwoOnHover border-radius25 easing paddingTwoFive">option 5</span>

				<span class="showOnHover positionAbsolute positionCenter centerdiv fontSizeFive fontColorOne fontWhiteOnHover lineHeightSevenFive easing">a jet is cool</span>

			</li>
		</ul>

		<!-- title & words components -->
		<ul class="positionRelative widthFull heightFull floatLeft easing zindexOne">

			<!-- showOnHoverSwitch -->
			<li class="showOnHoverSwitch centerdiv text-align-center positionRelative widthHalfFlex heightHalfFlex backgroundColorOneOnHover floatLeft easing">
				<!-- showOnHover // background -->
				<span class="showOnHover positionAbsolute positionCenter backgroundteam
				backgroundColorWhite widthFullFlex heightFullFlex">

					<!-- washout background -->
					<span class="positionAbsolute positionCenter opacity075
					ColorOneToClearGradient widthFullFlex heightFullFlex">
					</span>

				</span>

				<!-- showOnHover // background -->
				<span class="hideOnHover positionAbsolute positionCenter backgroundteamcolor
				backgroundColorWhite widthFullFlex heightFullFlex">

					<!-- washout background -->
					<span class="positionAbsolute positionCenter opacity075
					ColorOneFromClearGradient widthFullFlex heightFullFlex">
					</span>

				</span>

				<span class="positionRelative centerdiv fontSizeFive fontColorOne fontWhiteOnHover lineHeightSevenFive bordered-One bordered-TwoOnHover easing paddingTwoFive">option 1</span>

			</li>

			<span class="positionRelative centerdiv widthHalfFlex heightHalfFlex fontSizeFive fontColorOne fontWhiteOnHover lineHeightSevenFive text-align-left easing floatLeft">
				<span class="spacedMid positionRelative floatLeft">
					<p class="positionRelative centerdiv bordered-leftOne floatLeft">
						<span class="spacedMid positionRelative floatLeft">
							UNDISPUTED Today 10/3/2016 LIVE HD - Skip vs Shannon and Joy Taylor
						</span>
					</p>
				</span>
			</span>

			<span class="positionRelative centerdiv widthHalfFlex heightHalfFlex fontSizeFive fontColorOne fontWhiteOnHover lineHeightSevenFive text-align-left easing floatLeft">
				<span class="spacedMid positionRelative floatLeft">
					<p class="positionRelative centerdiv bordered-leftOne floatLeft">
						<span class="spacedMid positionRelative floatLeft">
							UNDISPUTED Today 10/3/2016 LIVE HD - Skip vs Shannon and Joy Taylor
						</span>
					</p>
				</span>
			</span>

			<!-- showOnHoverSwitch -->
			<li class="showOnHoverSwitch centerdiv text-align-center positionRelative widthHalfFlex heightHalfFlex backgroundColorOneOnHover floatLeft easing">
				<!-- showOnHover // background -->
				<span class="showOnHover positionAbsolute positionCenter backgroundteam
				backgroundColorWhite widthFullFlex heightFullFlex">

					<!-- washout background -->
					<span class="positionAbsolute positionCenter opacity075
					ColorOneToClearGradient widthFullFlex heightFullFlex">
					</span>

				</span>

				<!-- showOnHover // background -->
				<span class="hideOnHover positionAbsolute positionCenter backgroundteamcolor
				backgroundColorWhite widthFullFlex heightFullFlex">

					<!-- washout background -->
					<span class="positionAbsolute positionCenter opacity075
					ColorOneFromClearGradient widthFullFlex heightFullFlex">
					</span>

				</span>

				<span class="positionRelative centerdiv fontSizeFive fontColorOne fontWhiteOnHover lineHeightSevenFive bordered-One bordered-TwoOnHover easing paddingTwoFive">option 1</span>

			</li>

		</ul>

		<!-- titles -->
		<span class="positionRelative widthFull floatLeft easing zindexOne">

			<span class="positionRelative centerdiv widthFullFlex fontSizeFive fontColorOne fontWhiteOnHover lineHeightSevenFive text-align-left easing">
				<span class="spacedMid positionRelative floatLeft">
					<p class="positionRelative centerdiv bordered-leftOne floatLeft">
						<span class="spacedMid positionRelative floatLeft gradientText ColorOneLeftClearGradient">
							UNDISPUTED Today 10/3/2016 LIVE HD - Skip vs Shannon and Joy Taylor
						</span>
					</p>
				</span>
			</span>

			<span class="positionRelative centerdiv widthFullFlex fontSizeFive fontColorOne fontWhiteOnHover lineHeightSevenFive text-align-left easing">
				<span class="spacedMid positionRelative floatLeft">
					<p class="positionRelative centerdiv bordered-leftOne floatLeft">
						<span class="spacedMid positionRelative floatLeft gradientText ColorTwoLeftClearGradient">
							UNDISPUTED Today 10/3/2016 LIVE HD - Skip vs Shannon and Joy Taylor
						</span>
					</p>
				</span>
			</span>

			<span class="positionRelative centerdiv widthFullFlex fontSizeFive fontColorOne fontWhiteOnHover lineHeightSevenFive text-align-left easing">
				<span class="spacedMid positionRelative floatLeft">
					<p class="positionRelative centerdiv bordered-leftOne floatLeft">
						<span class="spacedMid positionRelative floatLeft gradientText ColorThreeLeftClearGradient">
							UNDISPUTED Today 10/3/2016 LIVE HD - Skip vs Shannon and Joy Taylor
						</span>
					</p>
				</span>
			</span>

			<span class="positionRelative centerdiv widthFullFlex fontSizeFive fontColorOne fontWhiteOnHover lineHeightSevenFive text-align-left easing">
				<span class="spacedMid positionRelative floatLeft">
					<p class="positionRelative centerdiv bordered-leftOne floatLeft">
						<span class="spacedMid positionRelative floatLeft gradientText ColorFourLeftClearGradient">
							UNDISPUTED Today 10/3/2016 LIVE HD - Skip vs Shannon and Joy Taylor
						</span>
					</p>
				</span>
			</span>
		</span>

		<span class="positionRelative centerdiv widthFullFlex fontSizeFive fontColorOne fontWhiteOnHover lineHeightSevenFive text-align-left easing">
			<span class="spacedMid positionRelative floatLeft">
				<p class="positionRelative centerdiv bordered-leftOne floatLeft">
					<span class="spacedMid positionRelative floatLeft gradientText ColorFiveLeftClearGradient">
						UNDISPUTED Today 10/3/2016 LIVE HD - Skip vs Shannon and Joy Taylor
					</span>
				</p>
			</span>
		</span>

		<!-- horizontal list components -->
		<ul class="positionRelative widthFull floatLeft easing zindexOne">
			<!-- categories -->
			<li ng-repeat="member in team">

				<span
				ng:click="previewteam = true"
				ng:init="showonhover = true"
				ng:mouseenter="showonhover = false;"
				ng:mouseleave="showonhover = true;"
				 class="zindexOne backgroundGridColorOffWhite positionRelative widthQuarter heightQuarter floatLeft easing">

					<span id="beep" class="zindexOne backgroundGridColorOne positionRelative widthFullFlex heightFullFlex floatLeft easing">
						<span class="zindexOne backgroundGridColorWhite border-radius box-shadowOnHover positionRelative spacedSmall floatLeft easing">

							<p ng:show="showonhover">{{member.firstname}}</p>

							<p ng:show="!showonhover">{{member.positions}}</p>

						</span>
					</span>

				</span>

				<!-- categories post preview -->
				<span ng:show="previewteam" ng:init="listholdergrid = true" class="positionFixed positionCenter backgroundGridColorWhite widthFull heightFull overflowy easing text-align-center zindexFive">


				<span
				ng:mouseenter="componentMenu = true"
				ng:mouseleave="componentMenu = false"
				ng:class="{
				'widthTen' : !componentMenu,
				'widthQuarter' : componentMenu
				}"
				class="backgroundGridColorTwo positionRelative heightFull floatLeft easing">

					<!-- vertical list components -->
					<ul class="positionRelative widthFullFlex heightFullFlex floatLeft easing overflowy">

						<li class="centerdiv text-align-center positionRelative widthFullFlex floatLeft backgroundColorOneOnHover easing">
							<span class="centerdiv fontSizeTwoFive fontColorOne fontColorTwoOnHover lineHeightTen bordered-bottomTwo bordered-bottomThreeOnHover easing">option 5</span>
						</li>
					</ul>

				</span>

				<span
				ng:class="{
				'widthNine' : !componentMenu,
				'widthThreeQuarter' : componentMenu
				}"
				class="backgroundGridColorWhite positionRelative heightFull floatLeft easing overflowy">

						<span class="positionAbsolute positionBottomRight" ng-repeat="pics in member.photos | limitTo:1:1">

							<img ng-src="./person/{{pics.link}}.png">

						</span>

						<ladyface class="positionAbsolute positionBottomLeft widthHalf heightHalf">

						</ladyface>

						<!-- desk Holder center -->
						<desk class="positionAbsolute positionOverQuarterBottom widthHalf heightHalf">

						</desk>

						<span class="heightQuarterFlex widthFullFlex floatLeft"></span>

						<h1 class="positionRelative lineHeightTen fontSizeFive text-align-center fontColorWhite text-shadow01Five zindexOne">Subtitle</h1>

						<h2 class="positionRelative lineHeightTen fontSizeTen text-align-center fontColorThree text-shadow05Five zindexOne">Title Here</h2>

						<h3 class="positionRelative lineHeightTen fontSizeSevenFive text-align-center fontColorFour text-shadow025Five zindexOne">tagline</h3>

						<h4 class="positionAbsolute
						positionRight widthQuarterFlex heightQuarterFlex lineHeightTen fontSizeSevenFive text-align-center fontColorFive">
							<span class="divcenter positionRelative opacity025">
								<b>.01</b>
							</span>
						</h4>

						<ul class="horizontal-list text-align-center positionRelative widthFullFlex floatLeft easing">

							<li class="centerdiv text-align-center positionRelative heightFullFlex backgroundColorOneOnHover marginTwoFive paddingTwoFive easing">
								<span class="centerdiv fontSizeTwoFive fontColorOne fontColorTwoOnHover lineHeightTen bordered-bottomTwo bordered-bottomThreeOnHover easing">option 5</span>
							</li>
							
							<li class="centerdiv text-align-center positionRelative heightFullFlex backgroundColorOneOnHover marginTwoFive paddingTwoFive easing">
								<span class="centerdiv fontSizeTwoFive fontColorOne fontWhiteOnHover lineHeightTen bordered-bottomTwo bordered-bottomWhiteOnHover easing">option 6</span>
							</li>

							<li class="centerdiv text-align-center positionRelative heightFullFlex backgroundColorOneOnHover marginTwoFive paddingTwoFive easing">
								<span class="centerdiv fontSizeTwoFive fontColorOne fontColorTwoOnHover lineHeightTen bordered-bottomTwo bordered-bottomThreeOnHover easing">option 7</span>
							</li>
							
							<li class="centerdiv text-align-center positionRelative heightFullFlex backgroundColorOneOnHover marginTwoFive paddingTwoFive easing">

								<span class="centerdiv fontSizeTwoFive fontColorOne fontWhiteOnHover lineHeightTen bordered-bottomTwo bordered-bottomWhiteOnHover easing beforeMenu">
									<span class="beforeContent text-align-center">
										<p class="positionRelative centerdiv">content</p>
									</span>
									option 8
								</span>
							</li>
						</ul>

						<p class="positionRelative fontSizeTen lineHeightTen">
							<!-- close -->
							<span class="animated enterUpObject delay025 zindexOne positionAbsolute positionLeft widthFive heightFive"
							ng:click="
							previewteam = false;"><img src="./svg/close.svg" class="floatLeft widthFullFlex heightFullFlex"></span>

						{{member.firstname}}</p>

						<span ng-repeat="position in member.positions">
							<p class="fontSizeFive lineHeightTen">{{position.name}}</p>
						</span>

						<listproject></listproject>
					</span>
				</span>

			</li>

		</ul>

		<!-- ui parts -->

		<span
		ng:init="componentMenu = false"
		class="zindexOne positionRelative widthFull heightFull floatLeft overflowhidden easing zindexOne">

			<span
			ng:mouseenter="componentMenu = true"
			ng:mouseleave="componentMenu = false"
			ng:class="{
			'widthTen' : !componentMenu,
			'widthQuarter' : componentMenu
			}"
			class="backgroundGridColorTwo positionRelative heightFull floatLeft easing">

				<!-- vertical list components -->
				<ul class="positionRelative widthFullFlex heightFullFlex floatLeft easing overflowy">

					<li class="centerdiv text-align-center positionRelative widthFullFlex floatLeft backgroundColorOneOnHover easing">
						<span class="centerdiv fontSizeTwoFive fontColorOne fontColorTwoOnHover lineHeightTen bordered-bottomTwo bordered-bottomThreeOnHover easing">option 5</span>
					</li>

					<li class="centerdiv text-align-center positionRelative widthFullFlex floatLeft backgroundColorOneOnHover easing">
						<span class="centerdiv fontSizeTwoFive fontColorOne fontColorTwoOnHover lineHeightTen bordered-bottomTwo bordered-bottomThreeOnHover easing">option 5</span>
					</li>

					<li class="centerdiv text-align-center positionRelative widthFullFlex floatLeft backgroundColorOneOnHover easing">
						<span class="centerdiv fontSizeTwoFive fontColorOne fontColorTwoOnHover lineHeightTen bordered-bottomTwo bordered-bottomThreeOnHover easing">option 5</span>
					</li>

					<li class="centerdiv text-align-center positionRelative widthFullFlex floatLeft backgroundColorOneOnHover easing">
						<span class="centerdiv fontSizeTwoFive fontColorOne fontColorTwoOnHover lineHeightTen bordered-bottomTwo bordered-bottomThreeOnHover easing">option 5</span>
					</li>

					<li class="centerdiv text-align-center positionRelative widthFullFlex floatLeft backgroundColorOneOnHover easing">
						<span class="centerdiv fontSizeTwoFive fontColorOne fontColorTwoOnHover lineHeightTen bordered-bottomTwo bordered-bottomThreeOnHover easing">option 5</span>
					</li>

					<li class="centerdiv text-align-center positionRelative widthFullFlex floatLeft backgroundColorOneOnHover easing">
						<span class="centerdiv fontSizeTwoFive fontColorOne fontColorTwoOnHover lineHeightTen bordered-bottomTwo bordered-bottomThreeOnHover easing">option 5</span>
					</li>

					<li class="centerdiv text-align-center positionRelative widthFullFlex floatLeft backgroundColorOneOnHover easing">
						<span class="centerdiv fontSizeTwoFive fontColorOne fontColorTwoOnHover lineHeightTen bordered-bottomTwo bordered-bottomThreeOnHover easing">option 5</span>
					</li>

					<li class="centerdiv text-align-center positionRelative widthFullFlex floatLeft backgroundColorOneOnHover easing">
						<span class="centerdiv fontSizeTwoFive fontColorOne fontColorTwoOnHover lineHeightTen bordered-bottomTwo bordered-bottomThreeOnHover easing">option 5</span>
					</li>

					<li class="centerdiv text-align-center positionRelative widthFullFlex floatLeft backgroundColorOneOnHover easing">
						<span class="centerdiv fontSizeTwoFive fontColorOne fontColorTwoOnHover lineHeightTen bordered-bottomTwo bordered-bottomThreeOnHover easing">option 5</span>
					</li>

					<li class="centerdiv text-align-center positionRelative widthFullFlex floatLeft backgroundColorOneOnHover easing">
						<span class="centerdiv fontSizeTwoFive fontColorOne fontColorTwoOnHover lineHeightTen bordered-bottomTwo bordered-bottomThreeOnHover easing">option 5</span>
					</li>

					<li class="centerdiv text-align-center positionRelative widthFullFlex floatLeft backgroundColorOneOnHover easing">
						<span class="centerdiv fontSizeTwoFive fontColorOne fontColorTwoOnHover lineHeightTen bordered-bottomTwo bordered-bottomThreeOnHover easing">option 5</span>
					</li>

					<li class="centerdiv text-align-center positionRelative widthFullFlex floatLeft backgroundColorOneOnHover easing">
						<span class="centerdiv fontSizeTwoFive fontColorOne fontColorTwoOnHover lineHeightTen bordered-bottomTwo bordered-bottomThreeOnHover easing">option 5</span>
					</li>

					<li class="centerdiv text-align-center positionRelative widthFullFlex floatLeft backgroundColorOneOnHover easing">
						<span class="centerdiv fontSizeTwoFive fontColorOne fontColorTwoOnHover lineHeightTen bordered-bottomTwo bordered-bottomThreeOnHover easing">option 5</span>
					</li>

					<li class="centerdiv text-align-center positionRelative widthFullFlex floatLeft backgroundColorOneOnHover easing">
						<span class="centerdiv fontSizeTwoFive fontColorOne fontColorTwoOnHover lineHeightTen bordered-bottomTwo bordered-bottomThreeOnHover easing">option 5</span>
					</li>

					<li class="centerdiv text-align-center positionRelative widthFullFlex floatLeft backgroundColorOneOnHover easing">
						<span class="centerdiv fontSizeTwoFive fontColorOne fontColorTwoOnHover lineHeightTen bordered-bottomTwo bordered-bottomThreeOnHover easing">option 5</span>
					</li>

					<li class="centerdiv text-align-center positionRelative widthFullFlex floatLeft backgroundColorOneOnHover easing">
						<span class="centerdiv fontSizeTwoFive fontColorOne fontColorTwoOnHover lineHeightTen bordered-bottomTwo bordered-bottomThreeOnHover easing">option 5</span>
					</li>
				</ul>

			</span>

			<span
			ng:class="{
			'widthNine' : !componentMenu,
			'widthThreeQuarter' : componentMenu
			}"
			class="backgroundGridColorWhite positionRelative heightFull floatLeft easing overflowy">

				<!-- desk Holder center -->
				<desk class="positionAbsolute positionOverQuarterBottom widthHalf heightHalf">

				</desk>

				<span class="heightQuarterFlex widthFullFlex floatLeft"></span>

				<h1 class="positionRelative lineHeightTen fontSizeFive text-align-center fontColorWhite text-shadow01Five zindexOne">Subtitle</h1>

				<h2 class="positionRelative lineHeightTen fontSizeTen text-align-center fontColorThree text-shadow05Five zindexOne">Title Here</h2>

				<h3 class="positionRelative lineHeightTen fontSizeSevenFive text-align-center fontColorFour text-shadow025Five zindexOne">tagline</h3>

				<h4 class="positionAbsolute
				positionRight widthQuarterFlex heightQuarterFlex lineHeightTen fontSizeSevenFive text-align-center fontColorFive">
					<span class="divcenter positionRelative opacity025">
						<b>.01</b>
					</span>
				</h4>

				<ul class="horizontal-list text-align-center positionRelative widthFullFlex floatLeft easing">

					<li class="centerdiv text-align-center positionRelative heightFullFlex backgroundColorOneOnHover marginTwoFive paddingTwoFive easing">
						<span class="centerdiv fontSizeTwoFive fontColorOne fontColorTwoOnHover lineHeightTen bordered-bottomTwo bordered-bottomThreeOnHover easing">option 5</span>
					</li>
					
					<li class="centerdiv text-align-center positionRelative heightFullFlex backgroundColorOneOnHover marginTwoFive paddingTwoFive easing">
						<span class="centerdiv fontSizeTwoFive fontColorOne fontWhiteOnHover lineHeightTen bordered-bottomTwo bordered-bottomWhiteOnHover easing">option 6</span>
					</li>

					<li class="centerdiv text-align-center positionRelative heightFullFlex backgroundColorOneOnHover marginTwoFive paddingTwoFive easing">
						<span class="centerdiv fontSizeTwoFive fontColorOne fontColorTwoOnHover lineHeightTen bordered-bottomTwo bordered-bottomThreeOnHover easing">option 7</span>
					</li>
					
					<li class="centerdiv text-align-center positionRelative heightFullFlex backgroundColorOneOnHover marginTwoFive paddingTwoFive easing">

						<span class="centerdiv fontSizeTwoFive fontColorOne fontWhiteOnHover lineHeightTen bordered-bottomTwo bordered-bottomWhiteOnHover easing beforeMenu">
							<span class="beforeContent text-align-center">
								<p class="positionRelative centerdiv">content</p>
							</span>
							option 8
						</span>
					</li>
				</ul>

				<!-- fluid cards -->
				<span class="zindexOnepositionRelative heightFull widthFullFlex floatLeft easing">

					<span class="zindexOne positionRelative widthHalfFlex heightHalfFlex floatLeft easing">
						<span class="
					border-radius25
					backgroundGridColorOffWhite spacedMid bordered-Five box-shadowFiveOnHover positionRelative floatLeft easing">
						<span class="spacedBorder bordered-Five floatLeft"></span>
						</span>
					</span>

					<span class="zindexOne  positionRelative widthHalfFlex heightHalfFlex floatLeft easing">
						<span class="
						border-radius025
						backgroundGridColorOffWhite spacedMid bordered-Five box-shadowFive positionRelative floatLeft easing">
							<span class="spacedBorder bordered-Five floatLeft"></span>
						</span>
					</span>

					<span class="zindexOne
					positionRelative widthHalfFlex heightHalfFlex floatLeft easing">
						<span class="
						border-radius025
						backgroundGridColorOffWhite spacedMid box-shadowFiveStraight positionRelative floatLeft easing">
							<span class="spacedBorder bordered-Five floatLeft"></span>
						</span>
					</span>

					<span class="zindexOne positionRelative widthHalfFlex heightHalfFlex floatLeft easing">
						<span class="
						border-radius025
						backgroundGridColorOffWhite spacedMid box-shadowFiveStraight positionRelative floatLeft easing">
							<span class="
						border-radius025 spacedBorder bordered-Five floatLeft"></span>
						</span>
					</span>

				</span>


			</span>

		</span>

	</span>

</ul>