<span ng:if="postpreview == true" class="positionFixed positionCenter backgroundColorWhite widthFull heightFull zindexTen">

   <!-- fixed background -->
   <span class="
      positionFixed
      positionCenter
      heightFullFlex
      widthFullFlex
      overflowhidden floatLeft" style="background-image: url('/thumbs/{{post.photo}}');
      background-size: cover;">

      <!-- washout background -->
      <span class="positionAbsolute positionCenter opacity075
         backgroundGridColorWhite widthFullFlex heightFullFlex">
      </span>

      <span class="positionAbsolute positionCenter opacity05
         ColorFourToClearGradient widthFullFlex heightFullFlex">
      </span>

   </span>

<span class="positionAbsolute positionCenter widthFullFlex heightFullFlex zindexTen overflowy">
   
   <postoverall></postoverall>

   <!-- page close -->
   <postclose></postclose>

   <!-- top -->
   <postgraphictop></postgraphictop>
   
   <!-- Tab -->
   <span class="positionRelative widthFullFlex backgroundColorWhite floatLeft">
      <div class="spacedSmall border-radius1 overflowhidden positionRelative">
         <postabouttabs></postabouttabs>
      </div>
   </span>


   <span class="positionRelative widthThreeQuarterFlex heightFullFlex floatLeft">
      <postfeatureslider></postfeatureslider>
   </span>

   <!-- Tab -->
   <span class="positionRelative widthQuarterFlex heightFullFlex backgroundGridColorOffWhite floatLeft">
      <posttabcolor></posttabcolor>
   </span>

   <span class="positionRelative widthFullFlex heightThirdFlex backgroundGridColorOffWhite floatLeft">

      <span class="positionRelative widthStatic heightFullFlex marginauto">

         <span ng:repeat="slides in post.slidephotos | limitTo:4:0" ng:click="photopopin = !photopopin" class="positionRelative widthQuarterFlex heightFullFlex floatLeft">

            <span class="showOnHoverSwitch positionRelative widthFullFlex heightFullFlex floatLeft">

               <span  class="hideOnHover spacedMid box-shadowFiveStraight backgroundColorWhite overflowhidden border-radius1 floatLeft">

                  <span style="background-image: url('/thumbs/{{slides.slide}}');
                  background-size: cover;" class="spacedMid backgroundColorOffWhite box-shadowFiveStraight overflowhidden border-radius1 floatLeft">


                  </span>

               </span>

               <span class="showOnHover positionAbsolute positionCenter spacedMid backgroundColorOne overflowhidden border-radius1 box-shadowFiveStraight floatLeft">

                     <span style="background-image: url('/thumbs/{{slides.slide}}');
                        background-size: 100% 100%;" class="positionAbsolute positionCenter spacedMid floatLeft">
                     </span>

                     <span class="positionAbsolute positionCenter backgroundColorOne opacity05 floatLeft">
                     </span>

                  <span class="centerdiv positionAbsolute positionCenter lineHeightTen fontSizeFive text-align-left fontColorWhite text-shadow05One zindexOne">

                     <b class="centerdiv textOnHoverSwitch paddingTwoFive positionRelative backgroundColorTwo centerdiv fontSizeTwo fontColorFiveOnHover lineHeightTwoFive easing">
                     View 
                     <span class="floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFive heightTwoFive marginSevenFiveRight"><img src="./svg/white/close.svg" class="widthFullFlex heightFullFlex"></span>
                     </b>

                  </span>

               </span>

            </span>

            <!-- photo popin -->

            <span ng:show="photopopin" class="
               positionFixed
               positionCenter
               heightFullFlex
               widthFullFlex
               overflowhidden floatLeft zindexFive">
               
               <!-- washout background -->
               <span class="positionAbsolute positionCenter opacity075
                  backgroundColorWhite widthFullFlex heightFullFlex">
               </span>
               <!-- washout background -->
               <span class="positionAbsolute positionCenter opacity075
                  backgroundColorSix widthFullFlex heightFullFlex">
               </span>

               <span class="
               positionRelative
               heightThreeQuarterFlex
               widthFullFlex
               overflowhidden floatLeft zindexFive">

                  <span class="spacedHuge backgroundColorWhite positionRelative box-shadowFiveStraight border-radius1 floatLeft">

                  <span class="
                     positionAbsolute
                     positionBottomOffTopRight
                     zindexOne
                     border-radius-circle
                     heightFive
                     widthFivevh
                     backgroundColorTwo
                     box-shadowFiveStraight">
                     

                     <span class="zindexOne positionAbsolute positionCenter floatLeft widthTwoFivevh heightTwoFive">
                        <img ng:show="!brandtab1" src="./svg/white/close.svg" class="widthFullFlex heightFullFlex ">
                        <img ng:show="brandtab1" src="./svg/white/close.svg" class="widthFullFlex heightFullFlex">
                     </span>

                  </span>

                  <span class="
                  positionRelative
                  heightFullFlex
                  widthFullFlex
                  overflowhidden floatLeft zindexFive">

                  

                     <span style="background-image: url('/thumbs/{{slides.slide}}');
                        background-size: 100% 100%;" class="spacedMid backgroundColorOffWhite floatLeft">


                     </span>

                  </span>

                  </span>
                  
               </span>

               <span class="positionRelative widthFullFlex heightQuarterFlex backgroundGridColorOffWhite floatLeft">

                  <span class="positionRelative widthStatic heightFullFlex marginauto">

                     <span class="spacedMid backgroundGridColorWhite positionRelative floatLeft">
                        <span class="spacedSmall positionRelative floatLeft">
                           <span class="spacedSmall positionRelative floatLeft text-align-left">

                              <span class="fontSizeTwoFive lineHeightThree">
                              <b>{{slides.date}}</b></span>

                              <br>

                              <span class="font-family-snippet fontSizeTwoFive lineHeightThree">{{slides.description}}</span>

                              <br>

                              <span class="fontSizeTwoFive lineHeightThree">
                              {{slides.date}}</span>

                           </span>
                        </span>
                     </span>

                  </span>

               </span>



               
            </span>

         </span>

      </span>

   </span>

   <span class="widthTwoThirdFlex heightFullFlex floatLeft">
      <span class="positionRelative spacedMidBorderColorWhite floatLeft easing zindexOne">
         <span class="positionRelative spacedMid floatLeft easing zindexOne overflowy">
            <span class="widthStatic centerdiv marginauto">

               <!-- comment area -->
               <span class="widthFullFlex floatLeft">


                  <span class="positionRelative widthFullFlex floatLeft easing">
                     <span class="spacedSmall floatLeft">

                           <span class="backgroundColorOneFour positionRelative floatLeft
                              widthTenFlex heightTen marginTwoFive border-radius1" ng-repeat="member in team | filter: member.firstname = post.author | limitTo:1:0">
                              <span ng-repeat="pics in member.photos | limitTo:1:0" class="widthFullFlex heightFullFlex positionRelative marginauto floatLeft" style="background-image: url('/person/{{pics.link}}.png');
                                 background-size: cover;">
                              </span>
                           </span>

                           <input placeholder="Add a public comment" class="widthThreeQuarterFlex paddingTwoFive fontSizeTwo placeholderSeven lineHeightTen fontColorThree no-border border-radius1 floatLeft backgroundColorWhite" type="text" name="">

                           <span class="animated enterUpObject delay025 zindexOne positionAbsolute positionRight widthFivevh heightFive"><img src="./svg/arrow-left.svg" class="positionAbsolute positionCenter widthHalfFlex heightHalfFlex"></span>

                     </span>
                  </span>


                  <span class="widthFullFlex floatLeft">
                     <span class="positionRelative zindexOne text-align-left fontColorFive fontSizeTwoFive lineHeightFive  floatLeft">

                        <b class="fontColorSeven marginTwoFiveLeft">
                        {{post.postcomments.length}}</b> <span class="fontSizeOneFive">Responses</span>
                        
                     </span>

                     <span class="positionRelative zindexOne text-align-left bordered-bottomOne fontSizeOneFive lineHeightFive floatRight marginTwoFiveLeft">
                        <b class="fontColorSeven">
                        liked</b>
                     </span>

                     <span class="positionRelative zindexOne text-align-left bordered-bottomOne fontColorFive fontSizeOneFive lineHeightFive floatRight marginTwoFiveLeft">
                        <b class="fontColorSeven">
                        newest</b>
                     </span>

                     <span class="positionRelative zindexOne text-align-left bordered-bottomOne fontColorFive fontSizeOneFive lineHeightFive floatRight">
                        <b class="fontColorSeven">
                        oldest</b>
                     </span>
                  </span>

                  <span ng:repeat="comment in post.postcomments" class="widthFullFlex floatLeft">

                     <span class="positionRelative floatLeft widthTenFlex heightTen backgroundColorOne border-radius1" ng-repeat="member in team | filter: member.firstname = comment.author | limitTo:1:0">
                        <span ng-repeat="pics in member.photos | limitTo:1:0" class="widthFullFlex heightFullFlex positionRelative marginauto floatLeft" style="background-image: url('/person/{{pics.link}}.png');
                           background-size: cover;">
                        </span>
                     </span>

                     <span class="positionRelative floatLeft widthNineFlex heightFullFlex">

                        <span class="positionRelative floatLeft widthFullFlex heightFullFlex">

                           <div class="
                              zindexOne positionRelative widthFullFlex heightFullFlex floatLeft">

                              <span class="positionRelative floatLeft spacedSmall text-align-left bordered-bottomOne zindexOne">

                                 <span class="lineHeightThree fontSizeTwoFive widthFullFlex floatLeft">

                                 <span ng-repeat="member in team | filter: member.firstname = comment.author | limitTo:1:0" class="positionRelative zindexOne ">
                                    <p>
                                    <b class="positionRelative floatLeft fontColorWhite text-shadow025Eight marginZeroTwoFiveRight">
                                       {{member.name}}
                                    </b> 

                                    <span class="positionRelative floatLeft fontColorOffWhite text-shadow025Eight">{{member.lastname}} 
                                    </span>
                                    </p>

                                    <span class="lineHeightThree fontSizeOneFive fontColorSeven border-radius1 opacity075 floatLeft marginTwoFiveRightLeft">
                                       {{comment.date}}
                                    </span>

                                    

                                 </span>


                                 <span ng:click="brandtab1 = !brandtab1" class="marginTwoFiveRight floatRight animated enterUpObject delay025 zindexOne positionAbsolute positionTopRight floatLeft widthTwoFivevh heightTwoFive"><img ng:show="!brandtab1" src="./svg/arrow-down.svg" class="widthFullFlex heightFullFlex ">
                                    <img ng:show="brandtab1" src="./svg/one/close.svg" class="widthFullFlex heightFullFlex"></span>
                              

                                 

                                 </span>

                                 <hr>
                                 <span class="font-family-snippet fontSizeOneFive lineHeightTwo fontColorFive positionRelative zindexOne">
                                 {{comment.content}}</span><br>

                                 <b class="positionRelative floatRight">

                                    <span class="positionRelative widthFivevh heightTwoFive floatLeft">
                                       <img src="./svg/arrow-down.svg" class="positionAbsolute positionCenter widthHalfFlex heightHalfFlex">
                                    </span>

                                    <span class="floatRight fontColorSeven">
                                    {{comment.likes}}

                                    </span>

                                 </b>

                              </span>

                           </div>
                        </span>

                        <span class="positionRelative floatLeft widthFullFlex heightFullFlex">

                           <span ng:show="brandtab1" class="positionRelative floatLeft spacedSmall text-align-left  zindexOne">

                               <span ng:repeat="replycomment in comment.postcommentsreplies" class="widthFullFlex floatLeft">

                                 <span class="positionRelative floatLeft widthTenFlex heightTen backgroundColorOne border-radius1" ng-repeat="member in team | filter: member.firstname = replycomment.author | limitTo:1:0">
                                    <span ng-repeat="pics in member.photos | limitTo:1:0" class="widthFullFlex heightFullFlex positionRelative marginauto floatLeft" style="background-image: url('/person/{{pics.link}}.png');
                                       background-size: cover;">
                                    </span>
                                 </span>

                                 <span class="positionRelative floatLeft widthNineFlex heightFullFlex">

                                    <span class="positionRelative floatLeft widthFullFlex heightFullFlex">

                                       <div class="
                                          zindexOne positionRelative widthFullFlex heightFullFlex floatLeft">

                                          <span class="positionRelative floatLeft spacedSmall text-align-left bordered-bottomOne zindexOne">

                                             <span class="fontColorFive lineHeightThree fontSizeTwoFive widthFullFlex floatLeft">

                                             <span class="positionRelative zindexOne">

                                                <b>
                                                {{replycomment.author}}
                                                </b>

                                             </span>


                                             <span ng:click="brandtab1 = !brandtab1" class="marginTwoFiveRight floatRight animated enterUpObject delay025 zindexOne positionRelative floatLeft widthTwoFivevh heightTwoFive"><img ng:show="!brandtab1" src="./svg/arrow-down.svg" class="widthFullFlex heightFullFlex ">
                                                <img ng:show="brandtab1" src="./svg/one/close.svg" class="widthFullFlex heightFullFlex"></span>
                                          

                                             

                                             </span>
                                             <hr> 
                                             <span class="fontSizeTwo fontColorThree positionRelative zindexOne">
                                             {{replycomment.content}}</span><br>
                                             <hr>
                                          </span>

                                       </div>
                                    </span>
                                 </span>

                              </span>

                           </span>
                        </span>

                     </span>

                     <hr>
                  </span>
               </span>

            </span>

         </span>
      </span>
   </span>

   <span class="widthThirdFlex heightFullFlex floatLeft">
      

      <span class="positionRelative widthFullFlex heightFullFlex floatLeft easing">
      <!-- washout background -->
      <span class="positionAbsolute positionCenter
         backgroundGridColorOffWhite opacity05 widthFullFlex heightFullFlex">
      </span>

      <span class="positionRelative heightQuarterFlex fontColorFive lineHeightFive fontSizeFour widthFullFlex floatLeft">
         
         <!-- quarter filler -->
         <span class="positionRelative heightThirdFlex widthFullFlex floatLeft">
         </span>
         <!-- quarter filler -->

         <span class="positionRelative floatLeft marginauto zindexOne"><b>
         Product Outcome & Availabilty
         </b></span>
      </span>
      
      <hr>

      <span class="positionRelative widthFullFlex heightThreeQuarterFlex box-shadowSixStraight floatLeft overflowy">
      <posttool></posttool>
      </span>

      <!--
      <li class="showOnHoverSwitch text-align-center positionRelative widthFullFlex heightFullFlex floatLeft easing">
         
         <span class="positionRelative floatLeft widthFullFlex heightFullFlex">
         <span class="positionRelative floatLeft spacedLarge text-align-left  zindexOne">
         <span class="fontColorFive lineHeightFive fontSizeFour widthFullFlex floatLeft">
         <span class="positionRelative zindexOne"><b>
         Product Outcome & Availabilty
         </b></span></span>
         <hr>

         <span class=" widthFullFlex floatLeft lineHeightFive fontSizeThree positionRelative">

         <span class="
               spacedSmall
               border-radius1
               backgroundColorWhite
               overflowhidden
               positionRelative floatLeft easing">

         
               <span class="
               spacedSmall
               overflowhidden
               positionRelative floatLeft easing">
         <span class="fontSizeTwo fontColorFour positionRelative zindexOne floatLeft">
         AVALIABLE</span><br>

           <span ng:repeat="pros in post.goods" class="fontColorFive font-family-snippet positionRelative zindexOne fontSizeTwoFive">
               <span ng:class="{'backgroundColorOffWhite' : servicestask.active == true}" class="floatLeft">{{pros.name}}</span><span ng:click="brandtab1 = !brandtab1" class="marginTwoFiveLeft floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFivevh heightTwoFive"><img ng:show="!brandtab1" src="./svg/arrow-down.svg" class="widthFullFlex heightFullFlex">
                     <img ng:show="brandtab1" src="./svg/one/close.svg" class="widthFullFlex heightFullFlex"></span><br>

               </span>

         </span>
         </span>

         </span>

         <span class=" widthFullFlex floatLeft lineHeightFive fontSizeThree positionRelative">

         <span class="
               spacedSmall
               border-radius1
               backgroundColorOffWhite
               overflowhidden
               positionRelative floatLeft easing">

         
               <span class="
               spacedSmall
               overflowhidden
               positionRelative floatLeft easing">
         <span class="fontSizeTwo fontColorThree positionRelative zindexOne floatLeft">
         UNAVALIABLE</span><br>

           <span ng:repeat="pros in post.bads" class="fontColorFive font-family-snippet positionRelative zindexOne fontSizeTwoFive">
               <span ng:class="{'backgroundColorOffWhite' : servicestask.active == true}" class="floatLeft">{{pros.name}}</span><span ng:click="brandtab1 = !brandtab1" class="marginTwoFiveLeft floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFivevh heightTwoFive"><img ng:show="!brandtab1" src="./svg/arrow-down.svg" class="widthFullFlex heightFullFlex">
                     <img ng:show="brandtab1" src="./svg/one/close.svg" class="widthFullFlex heightFullFlex"></span><br>

               </span>

         </span>
         </span>

         </span>

         </span>
         </span>
         </span>
      </li>
      -->

      </span>

   </span>

   <!-- tab brand info -->
   <span class="
   showOnHoverSwitch
   positionRelative
   heightFullFlex
   widthFullFlex
   overflowhidden
   floatLeft">
      <postinfoslider></postinfoslider>
   </span>

   <span class="positionRelative widthFullFlex heightQuarterFlex backgroundColorWhite floatLeft easing zindexOne">
      <!-- perfect -->
      <posttestimonalleft></posttestimonalleft>
   </span>

   <!-- plan -->
   <span class="positionRelative widthFullFlex heightHalfFlex backgroundColorWhite floatLeft easing zindexOne">

      <span class="zindexFive positionRelative floatLeft spacedMid">
         <!-- perform -->
         <span class="positionRelative widthHalfFlex backgroundColorWhite floatLeft easing zindexOne">
            <!-- plan -->
            <postproductplan></postproductplan>
         </span>

         <span class="positionRelative widthHalfFlex heightFullFlex backgroundColorWhite floatLeft easing zindexOne">
            <!-- plan -->
            <postproductplanphoto></postproductplanphoto>
         </span>
      </span>
   </span>

   <!-- prep -->

   <span class="positionRelative widthFullFlex heightHalfFlex backgroundColorWhite floatLeft easing zindexOne">

      <span class="zindexFive positionRelative floatLeft spacedMid">
         <!-- perform -->
         <span class="positionRelative widthHalfFlex heightFullFlex backgroundColorWhite floatLeft easing zindexOne">
            <!-- prep -->
            <postproductprepphoto></postproductprepphoto>
         </span>
         <!-- prep -->
         <span class="positionRelative widthHalfFlex backgroundColorWhite floatLeft easing zindexOne">
            <!-- prep -->
            <postproductprep></postproductprep>
         </span>
      </span>
   </span>

   <!-- perform -->
   <span class="positionRelative widthFullFlex heightHalfFlex backgroundColorWhite floatLeft easing zindexOne">
      <span class="zindexFive positionRelative floatLeft spacedMid">
         <!-- perform -->
         <span class="positionRelative widthHalfFlex backgroundColorWhite floatLeft easing zindexOne">
            <!-- perform -->
            <postproductperform></postproductperform>
         </span>

         <span class="positionRelative widthHalfFlex heightFullFlex backgroundColorWhite floatLeft easing zindexOne">
            <!-- perform -->
            <postproductperformphoto></postproductperformphoto>
         </span>
      </span>
   </span>
   
   <!-- perfect -->
   <span class="positionRelative widthFullFlex heightHalfFlex backgroundColorWhite floatLeft easing zindexOne">
      <span class="zindexFive positionRelative floatLeft spacedMid">
         
         <!-- perfect -->
         <span class="positionRelative widthHalfFlex heightFullFlex backgroundColorWhite floatLeft easing zindexOne">
            <!-- perfect -->
            <postproductperfectphoto></postproductperfectphoto>
         </span>

         <!-- perform -->
         <span class="positionRelative widthHalfFlex backgroundColorWhite floatLeft easing zindexOne">
            <!-- perfect -->
            <postproductperfect></postproductperfect>
         </span>

      </span>

   </span>

   <postmorefromauthor></postmorefromauthor>


      <!-- follow -->
      <span class="
         showOnHoverSwitch
         positionRelative
         widthFullFlex
         heightQuarterFlex 
         backgroundColorOffWhite floatLeft">
         <postfollow></postfollow>

      </span>

      <noborderedfooter></noborderedfooter>
      <whitefooter></whitefooter>

   </span>

   
   <!-- 
   <span class="positionRelative widthThreeQuarterFlex heightFullFlex floatLeft easing">
      <posttimeline></posttimeline>
   </span>

   <span class="positionRelative widthQuarterFlex heightFullFlex floatRight easing overflowy zindexOne">
      <posttimelineinfoslider></posttimelineinfoslider>
   </span>


      <span class="positionRelative widthHalfFlex heightHalfFlex backgroundColorWhite floatLeft easing zindexOne">
         <postproductcontractors></postproductcontractors>
      </span>

         <span class="positionRelative widthHalfFlex heightHalfFlex backgroundColorWhite floatLeft easing zindexOne">
         <postprocon></postprocon>
      </span>

      <span class="positionRelative widthFullFlex backgroundColorWhite floatLeft">
         <postscopeofwork></postscopeofwork>
      </span>

      

      <ul class="positionRelative backgroundGridColorWhite widthThreeQuarterFlex heightFullFlex floatLeft">

      <span class="backgroundColorWhite positionAbsolute positionTopLeft floatLeft widthThirdFlex zindexTen box-shadowSixStraight">
         <span class="positionRelative floatLeft spacedMid text-align-left zindexOne">
            <span class="fontColorFive lineHeightThree fontSizeTwoFive widthFullFlex floatLeft">
            <span class="positionRelative zindexOne"><b>
            Showcase & Tools used
            </b></span></span>
         </span>
      </span>

      <postvideotwo></postvideotwo>

      </ul>


      <span class="positionRelative
      backgroundGridColorOffWhite widthQuarterFlex heightFullFlex box-shadowSixStraight floatLeft overflowy">
      <posttool></posttool>
      </span>

      <postmorefromauthor></postmorefromauthor>

      -->

</span>