<div class="logoToggle easing" ng-init="popup = false"  ng-click="popup = !popup"></div>

<div class="menuTop">
	<menu></menu>
</div>

<div class="popup easing" ng-class="{'active': popup}">
	<div class="popupCard">
		<a ng-init="popup = false"  ng-click="popup = !popup">popup</a>
	</div>
</div>

<div class="container navigationPadding containerScroll">

	<div class="wrapper widthFull heightQuarter" style="margin-top:-100vh;">
		<logo class="standInLogo animated topJump delay2"></logo>
	</div>

	<div class="wrapper widthFull heightQuarter">
		<logo class="standInLogo animated topJump delay2"></logo>
	</div>

	<div class="wrapper widthFull heightQuarter">
		<logo class="standInLogo animated topJump delay2"></logo>
	</div>

	<div class="wrapper widthFull heightQuarter">
		<logo class="standInLogo animated topJump delay2"></logo>
	</div>

	<div class="wrapper widthHalf heightQuarter">
		<logo class="standInLogo animated topJump delay2"></logo>
	</div>

	<div class="wrapper widthHalf heightQuarter">
		<logo class="standInLogo animated topJump delay2"></logo>
	</div>

	<div class="wrapper widthHalf heightQuarter">
		<logo class="standInLogo animated topJump delay2"></logo>
	</div>

	<div class="wrapper widthHalf heightQuarter">
		<logo class="standInLogo animated topJump delay2"></logo>
	</div>

	<div class="wrapper widthHalf heightQuarter">
		<logo class="standInLogo animated topJump delay2"></logo>
	</div>

	<div class="wrapper widthHalf heightQuarter">
		<logo class="standInLogo animated topJump delay2"></logo>
	</div>

	<div class="wrapper widthHalf heightQuarter">
		<logo class="standInLogo animated topJump delay2"></logo>
	</div>

	<div class="wrapper widthHalf heightQuarter">
		<logo class="standInLogo animated topJump delay2"></logo>
	</div>

</div>


<div class="container navigationPadding leftOfContainer containerScroll">

	<div class="wrapper widthFull heightQuarter">
		<logo class="standInLogo animated topJump delay2"></logo>
	</div>

	<div class="wrapper widthFull heightQuarter">
		<logo class="standInLogo animated topJump delay2"></logo>
	</div>

	<div class="wrapper widthFull heightQuarter">
		<logo class="standInLogo animated topJump delay2"></logo>
	</div>

	<div class="wrapper widthFull heightQuarter">
		<logo class="standInLogo animated topJump delay2"></logo>
	</div>

</div>


<div class="container navigationPadding rightOfContainer containerScroll">

	<div class="wrapper widthFull heightQuarter">
		<logo class="standInLogo animated topJump delay2"></logo>
	</div>

	<div class="wrapper widthFull heightQuarter">
		<logo class="standInLogo animated topJump delay2"></logo>
	</div>

	<div class="wrapper widthFull heightQuarter">
		<logo class="standInLogo animated topJump delay2"></logo>
	</div>

	<div class="wrapper widthFull heightQuarter">
		<logo class="standInLogo animated topJump delay2"></logo>
	</div>

</div>
