<!-- list -->
<ul class="positionRelative floatLeft widthFullFlex easing heightFull overflowy">

   <ul class="positionRelative widthFullFlex backgroundColorOne floatLeft easing">

      <li ng:click="getstarted = !getstarted; hirestart = true;" class="floatLeft text-align-center positionRelative heightFullFlex easing">
         <span class="centerdiv textOnHoverSwitch paddingTwoFive positionRelative centerdiv fontColorFive fontColorFiveOnHover lineHeightFive easing">
            <span class="floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFivevh heightTwoFive"><img src="./svg/arrow-down.svg" class="positionAbsolute
            positionCenter floatLeft widthThreeQuarterFlex heightThreeQuarterFlex">
            </span>
         </span>
      </li>

      <li class="floatLeft text-align-right positionRelative heightFullFlex easing">
         <span class="positionRelative  border-radius1 centerdiv fontSizeOneFive fontColorWhite fontColorFourOnHover lineHeightFour easing marginTwoFiveRight">option 1</span>
      </li>

   </ul>

   <span class="positionRelative heightTen widthFullFlex  floatLeft easing">
      <span class="spacedSmall floatLeft">
         <input placeholder="Search By Title" class="placeholderThree no-padding fontSizeTwo lineHeightFive fontColorTwo no-border widthFullFlex heightFullFlex floatLeft" type="text" ng:model="filters.title" name="">
      <span class="animated enterUpObject delay025 zindexOne positionAbsolute positionRight widthFive heightFive"><img src="./svg/arrow-left.svg" class="positionAbsolute positionCenter widthHalfFlex heightHalfFlex"></span>
      </span>
   </span>

   <span class="positionRelative heightTen widthFullFlex  floatLeft easing">
      <span class="spacedSmall floatLeft">
         <input placeholder="Search By Title" class="placeholderThree no-padding fontSizeTwo lineHeightFive fontColorTwo no-border widthFullFlex heightFullFlex floatLeft" type="text" ng:model="filters.title" name="">
      <span class="animated enterUpObject delay025 zindexOne positionAbsolute positionRight widthFive heightFive"><img src="./svg/arrow-left.svg" class="positionAbsolute positionCenter widthHalfFlex heightHalfFlex"></span>
      </span>
   </span>

   <ul class="positionRelative widthFullFlex  floatLeft easing">

      <hr>

      <li ng:click="getstarted = !getstarted; hirestart = true;" class="floatLeft text-align-center positionRelative heightFullFlex paddingTwoFive easing">
         <span class="centerdiv textOnHoverSwitch paddingTwoFive positionRelative buttonbox-shadowSix border-radius1 backgroundColorFour backgroundColorTwoOnHover centerdiv fontSizeTwoFive fontColorFive fontColorFiveOnHover lineHeightFive easing">
            <span class="floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFivevh heightTwoFive"><img src="./svg/close.svg" class="floatLeft widthFullFlex heightFullFlex">
            </span>
         </span>
      </li>

      <li ng:click="getstarted = !getstarted; hirestart = true;" class="floatLeft text-align-center positionRelative heightFullFlex paddingTwoFive easing">
         <span class="centerdiv textOnHoverSwitch paddingTwoFive positionRelative buttonbox-shadowSix border-radius1 backgroundColorFour backgroundColorTwoOnHover centerdiv fontSizeTwoFive fontColorFive fontColorFiveOnHover lineHeightFive easing">
            <span class="floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFivevh heightTwoFive"><img src="./svg/close.svg" class="floatLeft widthFullFlex heightFullFlex">
            </span>
         </span>
      </li>

      <li class="floatRight text-align-right positionRelative heightFullFlex easing">
         <span class="positionRelative  border-radius1 centerdiv fontSizeOneFive fontColorFour fontColorFourOnHover lineHeightSix easing marginTwoFiveRight">Zoom Shape</span>
         <hr>
      </li>

   </ul>

   <ul class="positionRelative widthFullFlex opacity075 floatLeft easing">

      <li ng:click="getstarted = !getstarted; hirestart = true;" class="floatLeft text-align-center positionRelative heightFullFlex easing">
         <span class="centerdiv textOnHoverSwitch paddingTwoFive positionRelative centerdiv fontColorFive fontColorFiveOnHover lineHeightFive easing">
            <span class="floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFivevh heightTwoFive"><img src="./svg/arrow-down.svg" class="positionAbsolute
            positionCenter floatLeft widthThreeQuarterFlex heightThreeQuarterFlex">
            </span>
         </span>
      </li>

      <li class="floatLeft text-align-right positionRelative heightFullFlex easing">
         <span class="positionRelative  border-radius1 centerdiv fontSizeOneFive fontColorFour fontColorFourOnHover lineHeightFour easing marginTwoFiveRight">option 1</span>
      </li>

   </ul>

   <ul class="positionRelative widthFullFlex opacity075 floatLeft easing">

      <li ng:click="getstarted = !getstarted; hirestart = true;" class="bordered-leftOne floatLeft text-align-center positionRelative heightFullFlex easing">
         <span class="centerdiv textOnHoverSwitch paddingTwoFive positionRelative centerdiv fontColorFive fontColorFiveOnHover lineHeightFive easing">
            <span class="floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFivevh heightTwoFive"><img src="./svg/arrow-down.svg" class="positionAbsolute
            positionCenter floatLeft widthThreeQuarterFlex heightThreeQuarterFlex">
            </span>
         </span>
      </li>

      <li class="floatLeft text-align-right positionRelative heightFullFlex easing">
         <span class="positionRelative  border-radius1 centerdiv fontSizeOneFive fontColorFour fontColorFourOnHover lineHeightFour easing marginTwoFiveRight">option 2</span>
      </li>

   </ul>

   <ul class="positionRelative widthFullFlex opacity075 floatLeft easing">

      <li ng:click="getstarted = !getstarted; hirestart = true;" class="bordered-leftOne floatLeft text-align-center positionRelative heightFullFlex easing">
         <span class="centerdiv textOnHoverSwitch paddingTwoFive positionRelative centerdiv fontColorFive fontColorFiveOnHover lineHeightFive easing">
            <span class="floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFivevh heightTwoFive"><img src="./svg/arrow-down.svg" class="positionAbsolute
            positionCenter floatLeft widthThreeQuarterFlex heightThreeQuarterFlex">
            </span>
         </span>
      </li>

      <li class="floatLeft text-align-right positionRelative heightFullFlex easing">
         <span class="positionRelative  border-radius1 centerdiv fontSizeOneFive fontColorFour fontColorFourOnHover lineHeightFour easing marginTwoFiveRight">option 3</span>
      </li>

   </ul>

   <ul class="positionRelative widthFullFlex  floatLeft easing">

      <hr>

      <li ng:click="getstarted = !getstarted; hirestart = true;" class="floatLeft text-align-center positionRelative heightFullFlex paddingTwoFive easing">
         <span class="centerdiv textOnHoverSwitch paddingTwoFive positionRelative buttonbox-shadowSix border-radius-circle backgroundColorFour backgroundColorTwoOnHover centerdiv fontSizeTwoFive fontColorFive fontColorFiveOnHover lineHeightFive easing">
            <span class="floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFivevh heightTwoFive"><img src="./svg/close.svg" class="floatLeft widthFullFlex heightFullFlex">
            </span>
         </span>
      </li>

      <li class="floatLeft text-align-right positionRelative heightFullFlex easing">
         <span class="positionRelative  border-radius1 centerdiv fontSizeOneFive fontColorFour fontColorFourOnHover lineHeightSix easing marginTwoFiveRight">Zoom Shape</span>
         <hr>
      </li>

   </ul>

   <ul class="positionRelative widthFullFlex  floatLeft easing">

      <li ng:click="getstarted = !getstarted; hirestart = true;" class="floatLeft text-align-center positionRelative heightFullFlex paddingTwoFive easing">
         <span class="centerdiv textOnHoverSwitch paddingTwoFive positionRelative border-radius-circle backgroundColorFour backgroundColorTwoOnHover centerdiv fontSizeTwoFive fontColorFive fontColorFiveOnHover lineHeightFive easing">
            <span class="floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFivevh heightTwoFive"><img src="./svg/close.svg" class="floatLeft widthFullFlex heightFullFlex">
            </span>
         </span>
      </li>

      <li class="floatLeft text-align-right positionRelative heightFullFlex easing">
         <span class="positionRelative  border-radius1 centerdiv fontSizeOneFive fontColorFour fontColorFourOnHover lineHeightSevenFive easing marginTwoFiveRight">Option 2</span>
         <hr>
      </li>

   </ul>

   <ul class="positionRelative widthFullFlex floatLeft easing">

      <li ng:click="getstarted = !getstarted; hirestart = true;" class="floatLeft text-align-center positionRelative heightFullFlex paddingTwoFiveLeftRight easing">
         <span class="centerdiv textOnHoverSwitch paddingZeroTwoFive positionRelative border-radius-circle backgroundColorFour backgroundColorTwoOnHover centerdiv fontSizeTwoFive fontColorFive fontColorFiveOnHover lineHeightFive easing">
            <span class="floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFivevh heightTwoFive"><img src="./svg/close.svg" class="positionAbsolute positionCenter floatLeft widthHalfFlex heightHalfFlex">
            </span>
         </span>
      </li>

      <li class="floatLeft text-align-right positionRelative heightFullFlex easing">
         <span class="positionRelative  border-radius1 centerdiv fontSizeOneFive fontColorFour fontColorFourOnHover lineHeightThree easing marginTwoFiveRight">Option 2</span>
         <hr>
      </li>

   </ul>


   <ul class="positionRelative widthFullFlex floatLeft easing">

      <li ng:click="getstarted = !getstarted; hirestart = true;" class="floatLeft text-align-center positionRelative heightFullFlex paddingTwoFiveLeftRight easing">
         <span class="centerdiv textOnHoverSwitch paddingZeroTwoFive positionRelative border-radius1 backgroundColorFour backgroundColorTwoOnHover centerdiv fontSizeTwoFive fontColorFive fontColorFiveOnHover lineHeightFive easing">
            <span class="floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFivevh heightTwoFive"><img src="./svg/close.svg" class="positionAbsolute positionCenter floatLeft widthHalfFlex heightHalfFlex">
            </span>
         </span>
      </li>

      <li class="floatLeft text-align-right positionRelative heightFullFlex easing">
         <span class="positionRelative  border-radius1 centerdiv fontSizeOneFive fontColorFour fontColorFourOnHover lineHeightThree easing marginTwoFiveRight">Option 2</span>
         <hr>
      </li>

   </ul>

   <ul class="positionRelative widthFullFlex  floatLeft easing">

      <li ng:click="getstarted = !getstarted; hirestart = true;" class="floatLeft text-align-center positionRelative heightFullFlex paddingTwoFive easing">
         <span class="centerdiv textOnHoverSwitch paddingTwoFive positionRelative border-radius1 backgroundColorFour backgroundColorTwoOnHover centerdiv fontSizeTwoFive fontColorFive fontColorFiveOnHover lineHeightFive easing">
            <span class="floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFivevh heightTwoFive"><img src="./svg/close.svg" class="floatLeft widthFullFlex heightFullFlex">
            </span>
         </span>
      </li>

      <li class="floatLeft text-align-right positionRelative heightFullFlex easing">
         <span class="positionRelative  border-radius1 centerdiv fontSizeOneFive fontColorFour fontColorFourOnHover lineHeightSevenFive easing marginTwoFiveRight">Option 3</span>
         <hr>
      </li>

   </ul>

   <!-- category -->
      <span ng:init="filterbytags = false" ng:click="filterbytags = !filterbytags" class="bordered-leftOne showOnHoverSwitch
         widthFullFlex backgroundColorWhite
         positionRelative floatLeft easing">

         <span ng-repeat="cats in meta" ng:init="filterbytags = false"  class="showOnHoverSwitch
            widthFullFlex backgroundColorWhite
            positionRelative floatLeft easing">

            <span class="
            widthFullFlex backgroundColorWhite
            positionRelative floatLeft easing">

               <span 
               class="
                  
                  widthFullFlex heightFullFlex
                  border-radius1
                  overflowhidden
                  positionAbsolute
                  positionCenter floatLeft easing">

                  <span class="opacity025 floatLeft animated enterUpObject delay025 positionAbsolute positionTopRight widthFivevh heightHalfFlex zindexOne">
                     <img src="./svg/pageend.svg" class="positionAbsolute positionTopRight widthThreeQuarterFlex">
                  </span>

                  <span class="animated enterUpObject delay025 zindexOne positionAbsolute positionLeft widthFivevh heightHalfFlex">
                     <img src="./svg/arrow-right.svg" class="
                     positionAbsolute positionCenter marginauto widthHalfFlex heightHalfFlex">
                  </span>
               
               </span>

               <imacone class="positionAbsolute positionCenter
               overflowhidden widthHalfFlex heightHalfFlex"></imacone>
               
                  <span ng:click="
                           filters.category = cats.category;
                           filters.subcategory = '';
                           filters.tag = '';
                           filterbytags = !filterbytags" class="positionRelative
                        border-radius1 overflowhidden spacedSmall">

                        <span class="animated enterUpObject delay025 zindexOne positionRelative spacedSmall">

                           <span class="positionRelative zindexOne widthFullFlex 
                           floatLeft">

                              <span class="positionRelative text-align-center widthFullFlex floatLeft">

                                 <span class="positionRelative text-align-center fontColorOne lineHeightTen fontSizeThree">
                                    <b>Filter</b> by <span class="font-family-snippet"> {{cats.category}} </span>
                                 
                                 </span>

                              </span>

                           </span>
                        </span>
               </span>

            </span>

            <span class="
            widthFullFlex backgroundColorWhite
            positionRelative floatLeft easing">

            <span ng:show="filterbytags == true" class="backgroundColorWhite positionRelative
            spacedSmall floatLeft">

               <span
               ng-repeat="subs in cats.subcategories" class="positionRelative widthFullFlex floatLeft">
                  <span ng:class="{

                     'backgroundColorOffWhite box-shadowSixStraight border-radius' : filters.category == category.name,

                     'backgroundColorOffWhite box-shadowSixStraight border-radius' : filters.subcategory == subcategory.name,

                     'backgroundColorOffWhite box-shadowSixStraight border-radius' : filters.tag == tag.name

                     }" class="positionRelative spacedSmall floatLeft">
                     <span class="positionRelative spacedSmall border-radius  floatLeft">
                        <p ng:click="filters.category = '';
                        filters.subcategory = subs.name;
                        filters.tag = '';" class="fontSizeTwo fontColorOne lineHeightThree floatLeft">{{subs.name}}
                        </p>
                        <span class="
                           positionAbsolute positionRight
                           heightTwoFive widthTwoFivevh border-radius
                           floatRight" style="background-image: url('/tools/{{tool.name}}.svg');
                           background-size: 100% 100%;">
                        </span>
                     </span>
                  </span>


                  <!-- tags -->

                  <span
                  ng-repeat="tag in subs.tags" class="positionRelative widthFullFlex floatLeft">
                     <span ng:class="{

                     'backgroundColorOffWhite box-shadowSixStraight border-radius' : filters.category == category.name,

                     'backgroundColorOffWhite box-shadowSixStraight border-radius' : filters.subcategory == subcategory.name,

                     'backgroundColorOffWhite box-shadowSixStraight border-radius' : filters.tag == tag.name

                     }" class="positionRelative spacedSmall floatLeft">
                        <span class="positionRelative spacedSmall border-radius  floatLeft">
                           <b ng:click="
                           filters.category = '';
                           filters.subcategory = '';
                           filters.tag = tag.name;"

                           class="fontSizeTwo fontColorOne lineHeightThree floatLeft">{{tag.name}}
                           </b>
                           <span class="
                              positionAbsolute positionRight
                              heightTwoFive widthTwoFivevh border-radius
                              floatRight" style="background-image: url('/tools/{{tool.name}}.svg');
                              background-size: 100% 100%;">
                           </span>
                        </span>
                     </span>
                  </span>

               </span>

            </span>

            </span>

         </span>
      </span>

      <!-- tools -->
      <span class="positionRelative
         backgroundGridColorOffWhite widthFullFlex box-shadowSixStraight floatLeft overflowy">

         <span ng:init="filterbytags = false" ng:click="filterbytags = !filterbytags" class="bordered-leftOne showOnHoverSwitch
            widthFullFlex backgroundColorWhite
            positionRelative floatLeft easing">


            <span 
            class="
               
               widthFullFlex heightFullFlex
               border-radius1
               overflowhidden
               positionAbsolute
               positionCenter floatLeft easing">

               <span class="opacity025 floatLeft animated enterUpObject delay025 positionAbsolute positionTopRight widthFivevh heightHalfFlex zindexOne">
                  <img src="./svg/pageend.svg" class="positionAbsolute positionTopRight widthThreeQuarterFlex">
               </span>

               <span class="animated enterUpObject delay025 zindexOne positionAbsolute positionLeft widthFivevh heightHalfFlex">
                  <img src="./svg/arrow-right.svg" class="
                  positionAbsolute positionCenter marginauto widthHalfFlex heightHalfFlex">
               </span>
            
            </span>

            <imacone class="positionAbsolute positionCenter
            overflowhidden widthHalfFlex heightHalfFlex"></imacone>
            
            <span class="positionRelative
                     border-radius1 overflowhidden spacedSmall">

                     <span class="animated enterUpObject delay025 zindexOne positionRelative spacedSmall">

                        <span class="positionRelative zindexOne widthFullFlex 
                        floatLeft">

                           <span class="positionRelative text-align-center widthFullFlex floatLeft">

                              <span class="positionRelative text-align-center fontColorOne lineHeightTen fontSizeThree">
                                 <b>Filter</b> by <span class="font-family-snippet"> Tools </span>
                              
                              </span>

                           </span>

                        </span>
                     </span>
            </span>

         </span>

         <span ng:show="filterbytags == true" class="backgroundColorWhite positionRelative
         spacedSmall floatLeft">

            <span
            ng-repeat="tool in alltools" class="positionRelative widthHalfFlex floatLeft">
               <span ng:class="{'backgroundColorOffWhite box-shadowSixStraight border-radius' : filters.tag == tool.name}" ng:click="filterstag(tool.name)" ng:show="componentMenu" class="positionRelative spacedSmall floatLeft">
                  <span class="positionRelative spacedSmall border-radius  floatLeft">
                     <p class="fontSizeTwo fontColorOne lineHeightThree floatLeft">{{tool.name}}
                     </p>
                     <span class="
                        positionAbsolute positionRight
                        heightTwoFive widthTwoFivevh border-radius
                        floatRight" style="background-image: url('/tools/{{tool.name}}.svg');
                        background-size: 100% 100%;">
                     </span>
                  </span>
               </span>
            </span>

         </span>
      </span>

</ul>