   <span
      ng:init="hirestart = true;"
      ng:class="{'active' : getstarted}"
      ng:show="hirestart"
      class="
      showOnHoverSwitch
      easing
      pop popup
      positionFixed
      positionRight
      heightFullFlex
      widthHalfFlex
      overflowhidden floatLeft zindexFive">

      <span class="floatLeft animated enterUpObject delay025 positionAbsolute positionTopRight widthTenvh heightTen zindexTen">
         <img src="./svg/pageend.svg" class="positionAbsolute positionTopRight widthThreeQuarterFlex">
      </span>
      <span ng:click="getstarted = false" class="animated enterUpObject delay025 zindexFive positionAbsolute positionTopRight widthTenvh heightTen zindexTen">
         <img src="./svg/white/close.svg" class="
         positionAbsolute positionCenter marginauto widthHalfFlex heightHalfFlex">
      </span>
      

      <span class="positionAbsolute positionCenter overflowhidden backgroundGridColorTwo widthFullFlex heightFullFlex">
      </span>

      <span class="widthFullFlex heightTenFlex positionRelative lineHeightFive fontSizeFive text-align-center fontColorWhite text-shadow05One zindexOne floatLeft">
         </span>

      <span ng:if="getstarted" class="widthHalfFlex positionRelative lineHeightFive fontSizeFive text-align-left fontColorWhite text-shadow05One zindexTen floatLeft">
         <span class="paddingTwoFiveLeftRight backgroundColorTwo">
         <span class="positionRelative zindexOne">
         Get Started:
         </span>
         </span>
         </span>

      <span class="positionAbsolute positionCenter spacedLarge border-radius1 box-shadowFiveStraight overflowhidden backgroundGridColorFour widthFullFlex heightFullFlex">
      

         <!-- washout background -->
         <span class="positionAbsolute positionCenter opacity075
            backgroundGridColorFour widthFullFlex heightFullFlex">
         </span>
         <markyellow class="
            positionAbsolute positionCenter widthHalfFlex heightQuarterFlex">
         </markyellow>
         <span class="
            ColorOneToClearGradient overflowhidden
            positionAbsolute positionCenter widthFullFlex heightFullFlex">
         </span>
         <imacone class="
            opacity075
            positionAbsolute positionOverBottomHover widthThreeQuarterFlex heightHalfFlex easing">
         </imacone>
         
         
         <span class="widthFullFlex heightQuarterFlex positionRelative lineHeightFive fontSizeFive text-align-center fontColorWhite text-shadow05One zindexOne floatLeft">
         </span>

         
         <span class="widthThreeQuarterFlex positionRelative marginauto easing">
               <h3 class="opacity095 font-family-snippet widthFullFlex floatLeft positionRelative lineHeightTen fontSizeFive text-align-center fontColorTwo text-shadow025Four zindexOne">
                  What<span class="fontColorOne bordered-bottomTwo"> type </span>of
               </h3>
            </span>
            <span class="widthThreeQuarterFlex positionRelative marginauto easing">
            <b class=" widthFullFlex floatLeft positionRelative lineHeightFifteen fontSizeSevenFive text-align-center fontColorThree text-shadow05Four zindexOne"><span class="">Team/Group</span></b>
            </span>
            <span class="widthThreeQuarterFlex positionRelative marginauto easing">
               <h3 class="widthFullFlex floatLeft positionRelative lineHeightFive fontSizeThree text-align-center fontColorFive text-shadow025Dark zindexOne">
                  are <span class="bordered-bottomDark">You</span>, your <span class="bordered-bottomDark">Start-Up</span>, <br>or <span class="bordered-bottomDark">Corporation</span> interested in?
               </h3>
            </span>
            <h4 class="positionAbsolute
               positionLeft widthQuarterFlex centerdiv lineHeightFifteen fontSizeFifteen text-align-left fontColorOne">
               <span class="floatLeft positionRelative opacity025">
               <b>.01</b>
               </span>
            </h4>

         <!-- horizontal list components -->
         <ul class="positionAbsolute positionBottom widthFullFlex heightQuarter floatLeft easing">
            <span class="widthStatic positionRelative centerdiv marginauto">
               <li ng:click="hireone = true; hiretwo = false; hirestart = false;" class="centerdiv text-align-center positionRelative heightFullFlex marginTwoFive paddingTwoFive easing">
                  <span class="textOnHoverSwitch paddingTwoFive positionRelative buttonbox-shadowDark border-radius1 backgroundColorOne backgroundColorTwoOnHover centerdiv fontSizeTwoFive fontColorFour text-shadow025Dark fontColorFiveOnHover lineHeightFive easing">
                  Hire Our Team
                  <span class="bordered-Six box-shadowSix beforeArrow margintwofive beforetext backgroundColorOne fontSizeTwoFive fontColorFive fontColorFiveOnHover lineHeightFive easing">before</span>
                  <span class="aftertext fontSizeTwoFive fontColorFive fontColorFiveOnHover lineHeightFive easing">after</span>
                  <span class="marginTwoFiveRight floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFive heightFive"><img src="./svg/arrow-left.svg" class="widthFullFlex heightFullFlex"></span>
                  </span>
               </li>
            </span>
         </ul>

      </span>

   </span>
   <span
      ng:class="{'active' : getstarted}"
      ng:show="hirestart"
      class="
      showOnHoverSwitch
      easing
      pop popdown
      positionFixed
      positionLeft
      heightFullFlex
      widthHalfFlex
      overflowhidden floatLeft zindexFive">

      <span class="positionAbsolute positionCenter overflowhidden backgroundGridColorOne widthFullFlex heightFullFlex">
      </span>

      <span class="widthFullFlex heightTenFlex positionRelative lineHeightFive fontSizeFive text-align-center fontColorWhite text-shadow05One zindexOne floatLeft">
         </span>

      <span ng:if="getstarted" class="widthHalfFlex positionRelative lineHeightFive fontSizeFive text-align-left fontColorWhite text-shadow05One zindexTen floatLeft">
         <span class="paddingTwoFiveLeftRight backgroundColorTwo">
         <span class="positionRelative zindexOne">
         Get Started:
         </span>
         </span>
         </span>

      <span class="positionAbsolute positionCenter spacedLarge border-radius1 box-shadowFiveStraight overflowhidden backgroundGridColorFour widthFullFlex heightFullFlex">
      

         <!-- washout background -->
         <span class="positionAbsolute positionCenter opacity075
            backgroundGridColorThree widthFullFlex heightFullFlex">
         </span>
         <markyellow class="
            positionAbsolute positionCenter widthHalfFlex heightQuarterFlex">
         </markyellow>
         <span class="
            ColorOneToClearGradient overflowhidden
            positionAbsolute positionCenter widthFullFlex heightFullFlex">
         </span>
         <imacone class="
            opacity075
            positionAbsolute positionOverBottomHover widthThreeQuarterFlex heightHalfFlex easing">
         </imacone>
         
         
         <span class="widthFullFlex heightQuarterFlex positionRelative lineHeightFive fontSizeFive text-align-center fontColorWhite text-shadow05One zindexOne floatLeft">
         </span>

         
         <span class="widthThreeQuarterFlex positionRelative marginauto easing">
               <h3 class="opacity095 font-family-snippet widthFullFlex floatLeft positionRelative lineHeightTen fontSizeFive text-align-center fontColorTwo text-shadow025Four zindexOne">
                  What<span class="fontColorOne bordered-bottomTwo"> type </span>of
               </h3>
            </span>
            <span class="widthThreeQuarterFlex positionRelative marginauto easing">
            <b class=" widthFullFlex floatLeft positionRelative lineHeightFifteen fontSizeNine text-align-center fontColorFour text-shadow05Three zindexOne"><span class="">Individuals</span></b>
            </span>
            <span class="widthThreeQuarterFlex positionRelative marginauto easing">
               <h3 class="widthFullFlex floatLeft positionRelative lineHeightFive fontSizeThree text-align-center fontColorFive text-shadow025Dark zindexOne">
                  Are <span class="bordered-bottomDark">You</span>, your <span class="bordered-bottomDark">Start-Up</span>, <br>or <span class="bordered-bottomDark">Corporation</span> interested in?
               </h3>
            </span>
            <h4 class="positionAbsolute
               positionLeft widthQuarterFlex centerdiv lineHeightFifteen fontSizeFifteen text-align-left fontColorOne">
               <span class="floatLeft positionRelative opacity025">
               <b>.01</b>
               </span>
            </h4>

         <!-- horizontal list components -->
         <ul class="positionAbsolute positionBottom widthFullFlex heightQuarter floatLeft easing">
            <span class="widthStatic positionRelative centerdiv marginauto">
               <li ng:click="hiretwo = true; hireone = false; hirestart = false;" class="centerdiv text-align-center positionRelative heightFullFlex marginTwoFive paddingTwoFive easing">
                  <span class="textOnHoverSwitch paddingTwoFive positionRelative buttonbox-shadowDark border-radius1 backgroundColorTwo backgroundColorTwoOnHover centerdiv fontSizeTwoFive fontColorThree fontColorFiveOnHover text-shadow025Dark lineHeightFive easing">
                  Hire A Contractor
                  <span class="bordered-Six box-shadowSix beforeArrow margintwofive beforetext backgroundColorOne fontSizeTwoFive fontColorFive fontColorFiveOnHover lineHeightFive easing">before</span>
                  <span class="aftertext fontSizeTwoFive fontColorFive fontColorFiveOnHover lineHeightFive easing">after</span>
                  <span class="marginTwoFiveRight floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFive heightFive"><img src="./svg/arrow-left.svg" class="widthFullFlex heightFullFlex"></span>
                  </span>
               </li>
            </span>
         </ul>

      </span>
   </span>

      <span
      ng:class="{'active' : getstarted}"
      ng:show="hireone"
      class="
      easing
      pop popup
      positionFixed
      positionLeft
      heightFullFlex
      widthFullFlex
      overflowhidden floatLeft zindexFive">
      <!-- washout background -->
      <span class="positionAbsolute positionCenter opacity075
         backgroundGridColorFour widthFullFlex heightFullFlex">
      </span>
      <markyellow class="
         positionAbsolute positionCenter widthHalfFlex heightQuarterFlex">
      </markyellow>
      <span class="
         ColorOneToClearGradient overflowhidden
         positionAbsolute positionCenter widthFullFlex heightFullFlex">
      </span>
      <!-- horizontal list components -->
      <ul class="positionAbsolute positionLeft widthHalfFlex heightFullFlex floatLeft easing">

         <span class="
            overflowhidden heightFullFlex widthFullFlex floatLeft
            positionRelative easing">
            
            <span class="
               overflowhidden centerdiv heightFullFlex widthFullFlex floatLeft
               positionRelative easing">

               <!-- close hire -->
               <span ng:click="hirestart = false; hireone = false; hiretwo = false;" class="floatLeft animated enterUpObject delay025 positionAbsolute positionTopRight floatRight widthTenvh heightTen">
                  
                  <span ng:click="getstarted = false" class="animated enterUpObject delay025 zindexFive positionAbsolute positionTopRight widthTenvh heightTen zindexTen">
                     <img src="./svg/white/close.svg" class="
                  positionAbsolute positionCenter marginauto widthHalfFlex heightHalfFlex">
                  </span>

               </span>

               <span class="spacedLarge overflowy
                  positionRelative floatLeft easing">

                  <!-- video component 1 -->
                  <span class="
                     overflowhidden centerdiv heightThirdFlex widthFullFlex floatLeft
                     positionRelative easing">
                     <span class="widthThreeQuarterFlex positionRelative marginauto easing">
                        <h3 class="opacity095 font-family-snippet widthFullFlex floatLeft positionRelative lineHeightTen fontSizeFive text-align-center fontColorTwo text-shadow025Four zindexOne">
                           What<span class="fontColorOne bordered-bottomTwo"> Group </span>of
                        </h3>
                     </span>
                     <span class="widthThreeQuarterFlex positionRelative marginauto easing">
                     <b class=" widthFullFlex floatLeft positionRelative lineHeightTen fontSizeSevenFive text-align-center fontColorThree text-shadow05Four zindexOne"><span class="">Project</span></b>
                     </span>
                     <span class="widthThreeQuarterFlex positionRelative marginauto easing">
                        <h3 class="widthFullFlex floatLeft positionRelative lineHeightFive fontSizeThree text-align-center fontColorOne text-shadow025Four zindexOne">Are
                           <span class="bordered-bottomTwo"> You</span>, your
                           <span class="bordered-bottomTwo">Start-Up</span>, <br> or your
                           <span class="bordered-bottomTwo">Corportion</span> interested in?
                        </h3>

                     </span>

                     <h4 class="positionAbsolute
                        positionLeft widthQuarterFlex centerdiv lineHeightFifteen fontSizeFifteen text-align-left fontColorOne">
                        <span class="floatLeft positionRelative opacity025">
                        <b>.01</b>
                        </span>
                     </h4>

                  </span>

                  <hr>
                  <hr>

                  <ul ng-repeat="job in jobs" ng:init="$parent.groupfilters.name = 'development'" ng:click="$parent.groupfilters.name = job.name" class="positionRelative widthFullFlex heightThirdFlex floatLeft easing">
                     
                     <span class="
                        zindexOne
                        heightFullFlex
                        widthFullFlex
                        positionAbsolute positionBottom">

                        <span class="
                           textOnHoverSwitch positionAbsolute positionBottomRight widthHalfFlex heightFullFlex floatLeft easing">

                           <img src="./svg/{{job.icon}}" class="positionAbsolute positionBottomRight marginauto widthHalfFlex heightHalfFlex">

                        </span>

                     </span>
                     <span class="showOnHoverSwitch
                        widthFullFlex heightFullFlex
                        positionRelative floatLeft easing">
                        <span class="
                           spacedMid overflowhidden border-radius1
                           backgroundColorTwo
                           buttonbox-shadowDark
                           positionRelative floatLeft easing">
                           <span class="
                              spacedSmall
                              centerdiv
                              backgroundColorTwo
                              border-radius1
                              overflowhidden
                              positionAbsolute
                              positionCenter floatLeft easing">
                              <!-- hideOnHover // background -->
                              <span class="positionAbsolute positionCenter
                                 border-radius1 overflowhidden
                                 backgroundColorWhite widthFullFlex heightFullFlex">
                                 <ul class="positionRelative widthFullFlex heightFullFlex floatLeft zindexOne easing">
                                    <h4 class="font-family-snippet positionAbsolute
                                       positionTopRight heightTenFlex lineHeightTen fontSizeTen text-align-right fontColorFive">
                                       <span class="divcenter positionRelative opacity025">
                                       <b>{{$index}}</b>
                                       </span>
                                    </h4>
                                    <!-- Filler -->
                                    <span class="positionRelative widthFullFlex floatLeft widthFullFlex heightTenFlex">
                                    </span><br>
                                    <!-- text here-->
                                    <span class="positionAbsolute positionBottom widthFullFlex floatLeft
                                       ">
                                       <span class="
                                          spacedSmall overflowhidden
                                          positionRelative floatLeft easing">
                                          <h3 class="widthFullFlex floatLeft positionRelative lineHeighTen fontSizeFive text-align-left fontColorFour text-shadow05OffWhite zindexOne"><b>{{job.name}}</b></h3>
                                       </span>
                                    </span>
                                 </ul>
                                 <span class="
                                    opacity025
                                    border-radius1 overflowhidden
                                    positionAbsolute positionCenter widthFullFlex heightFullFlex">

                                    <span style="
                                    background-image: url('./photos/{{job.background}}');
                                    background-size: cover;
                                    background-repeat: no-repeat;"
                                    class=" positionAbsolute positionCenter marginauto widthFullFlex heightFullFlex">
                                         
                                    </span>


                                 </span>
                                 <span class="
                                    whiteToClearGradient
                                    border-radius1 overflowhidden
                                    positionAbsolute positionCenter widthFullFlex heightFullFlex">
                                 </span>
                                 <imaclinedone class="
                                    opacity05
                                    positionAbsolute positionCenter widthHalfFlex heightHalfFlex">
                                 </imaclinedone>
                              </span>
                           </span>
                        </span>
                     </span>
                  </ul>

               </span>
            </span>
         </span>
      </ul>

      <ul class="positionAbsolute positionRight widthHalfFlex heightFullFlex floatLeft easing">
         <previewjob></previewjob>
      </ul>

   </span>
   <span
      ng:class="{'active' : getstarted}"
      ng:show="hiretwo"
      class="
      easing
      pop popup
      positionFixed
      positionLeft
      heightFullFlex
      widthFullFlex
      overflowhidden floatLeft zindexFive">
      <!-- ng click hire -->
      <span class="widthFullFlex heightFullFlex positionRelative lineHeightFive fontSizeFive text-align-center fontColorWhite text-shadow05One zindexOne">
         <span class="widthHalfFlex heightFullFlex positionRelative zindexOne floatLeft">
            <!-- washout background -->
            <span class="positionAbsolute positionCenter opacity075
               backgroundGridColorFour widthFullFlex heightFullFlex">
            </span>
            <markyellow class="
               positionAbsolute positionCenter widthHalfFlex heightQuarterFlex">
            </markyellow>
            <span class="
               ColorOneToClearGradient overflowhidden
               positionAbsolute positionCenter widthFullFlex heightFullFlex">
            </span>
            <manatdesk class="
               opacity075
               positionAbsolute positionOverBottomHover widthThreeQuarterFlex heightHalfFlex easing">
            </manatdesk>
            <!-- close hire -->
            <span ng:click="hirestart = false; hireone = false; hiretwo = false;" class="floatLeft animated enterUpObject delay025 positionRelative floatRight widthTenvh heightTen">
               
               <span ng:click="getstarted = false" class="animated enterUpObject delay025 zindexFive positionAbsolute positionTopRight widthTenvh heightTen zindexTen">
                  <img src="./svg/white/close.svg" class="
               positionAbsolute positionCenter marginauto widthHalfFlex heightHalfFlex">
               </span>

            </span>
            <!-- Filler -->
            <span class="widthFullFlex heightTenFlex positionRelative marginauto floatLeft easing"></span>
            <!-- Filler -->
            <span class="widthThreeQuarterFlex positionRelative marginauto easing">
               <h3 class="opacity095 font-family-snippet widthFullFlex floatLeft positionRelative lineHeightTen fontSizeFive text-align-center fontColorTwo text-shadow025Four zindexOne">
                  What<span class="fontColorOne bordered-bottomTwo"> type </span>of
               </h3>
            </span>
            <span class="widthThreeQuarterFlex positionRelative marginauto easing">
            <b class=" widthFullFlex floatLeft positionRelative lineHeightFifteen fontSizeTen text-align-center fontColorThree text-shadow05Four zindexOne"><span class="">Contractor</span></b>
            </span>
            <span class="widthThreeQuarterFlex positionRelative marginauto easing">
               <h3 class="widthFullFlex floatLeft positionRelative lineHeightFive fontSizeThree text-align-center fontColorOne text-shadow025Four zindexOne">
                  <span class="bordered-bottomTwo"> Are you interested in?</span> 
               </h3>
            </span>
            <h4 class="positionAbsolute
               positionLeft widthQuarterFlex centerdiv lineHeightFifteen fontSizeFifteen text-align-left fontColorOne">
               <span class="floatLeft positionRelative opacity025">
               <b>.01</b>
               </span>
            </h4>
            <span class="positionAbsolute positionBottom widthFullFlex heightTenFlex">
               <hr class="vertline marginauto positionAbsolute positionBottom animated growvert backgroundColorSix">
            </span>
            <!-- horizontal list components -->
            <ul class="positionAbsolute positionBottom widthFullFlex heightQuarter floatLeft easing">
               <span class="widthStatic positionRelative centerdiv marginauto">

                  <span ng-repeat="job in jobs" ng:click="$parent.teamfilters.jobs = job.position" class="centerdiv text-align-center positionRelative heightFullFlex marginTwoFive paddingTwoFive easing">
                     <span class="textOnHoverSwitch paddingTwoFive positionRelative buttonbox-shadowDark border-radius1 backgroundColorTwo backgroundColorTwoOnHover centerdiv fontSizeTwoFive fontColorFive fontColorFiveOnHover lineHeightFive easing">
                     {{job.position}}
                     <span class="bordered-Six box-shadowSix beforeArrow margintwofive beforetext backgroundColorOne fontSizeTwoFive fontColorFive fontColorFiveOnHover lineHeightFive easing">before</span>
                     <span class="aftertext fontSizeTwoFive fontColorFive fontColorFiveOnHover lineHeightFive easing">after</span>
                     <span class="marginTwoFiveRight floatLeft animated enterUpObject delay025 zindexOne positionRelative widthTwoFive heightFive"><img src="./svg/arrow-left.svg" class="widthFullFlex heightFullFlex"></span>
                     </span>
                  </span>

               </span>
            </ul>
         </span>
         <span class="widthHalfFlex heightFullFlex positionRelative zindexOne floatLeft">
            <!-- washout background -->
            <span class="positionAbsolute positionCenter opacity075
               backgroundGridColorFour widthFullFlex heightFullFlex">
            </span>
            <span class="
               ColorThreeToClearGradient overflowhidden
               positionAbsolute positionCenter widthFullFlex heightFullFlex">
            </span>
            <!-- horizontal list components -->
            <ul class="positionRelative widthFullFlex heightFullFlex floatLeft easing overflowy">
               <!-- categories -->
               <!-- categories -->
               <li ng:init="showonhover = true"
                  ng:mouseenter="showonhover = false;"
                  ng:mouseleave="showonhover = true;" ng-repeat="member in team | filter:teamfilters" class="
                  textOnHoverSwitch positionRelative widthHalfFlex heightThirdFlex floatLeft easing">

                  <span class="
                     overflowhidden
                     positionAbsolute positionBottom widthFullFlex heightHalfFlex border-radius1">

                     <span class="
                        backgroundColorOne
                        overflowhidden
                        positionAbsolute positionBottom spacedSmall border-radius1">
                     </span>

                  </span>

                  

                  <span ng:show="showonhover">
                     
                     <span class="
                        zindexOne
                        heightFullFlex
                        widthFullFlex
                        positionAbsolute positionBottom" ng-repeat="pics in member.photos | limitTo:1:1">
                     <img class="
                        widthHalfFlex
                        positionAbsolute positionBottom" ng-src="./person/{{pics.link}}.png">
                     </span>

                  </span>
                  <span ng:show="!showonhover">

                     <span class="
                        zindexOne
                        heightFullFlex
                        widthFullFlex
                        positionAbsolute positionBottom" ng-repeat="pics in member.photos | limitTo:1:0">
                     <img class="
                        widthHalfFlex
                        positionAbsolute positionBottom" ng-src="./person/{{pics.link}}.png">
                     </span>

                  </span>

                  <span ng:click="previewmember = !previewmember" class="showOnHoverSwitch
                     widthFullFlex heightFullFlex overflowhidden
                     positionRelative floatLeft easing">

                     <span class="
                           spacedMid
                           zindexFive
                           positionAbsolute positionCenter" ng:show="showonhover
                           ">
                           <span class="widthFullFlex
                           positionRelative marginauto easing floatLeft">
                           <b class=" widthFullFlex floatLeft positionRelative lineHeightSix fontSizeFive text-align-left fontColorOne text-shadow05Four zindexOne">
                        {{member.firstname}}</b>
                        </span>

                        <span class="widthFullFlex
                           positionRelative marginauto easing floatLeft">
                           <b class=" widthFullFlex floatLeft positionRelative lineHeightFour fontSizeThree text-align-left fontColorTwo text-shadow025Four zindexOne">
                        {{member.lastname}}</b>
                        </span>

                        <span class="widthFullFlex
                           positionRelative marginauto easing floatLeft">
                           <b class=" widthFullFlex floatLeft positionRelative font-family-snippet lineHeightFour fontSizeThree text-align-left fontColorThree text-shadow01Four zindexOne">
                        {{member.jobs}}</b>
                        </span>

                        <span class="widthFullFlex
                           positionAbsolute positionBottomRight marginauto easing floatLeft">
                           <b class=" widthFullFlex floatLeft positionRelative font-family-snippet lineHeightFour fontSizeThree text-align-left fontColorOffWhite text-shadow01Four zindexOne">
                        {{member.job}}</b>
                        </span>

                     </span>

                     <span class="showOnHoverSwitch
                     spacedLarge overflowhidden border-radius1 buttonbox-shadowDark
                     backgroundGridColorWhite
                     positionRelative floatLeft easing">

                     <span class="
                        spacedTiny
                        centerdiv
                        border-radius1
                        overflowhidden
                        positionAbsolute
                        positionCenter floatLeft easing">
                        <!-- showOnHover // background -->
                        <span class="text-align-center bordered-Six box-shadowSix beforeArrow margintwofive beforetext fontSizeTwoFive fontColorFive fontColorFiveOnHover lineHeightFive easing zindexFive">learn more</span>
                        <span
                           ng:click="previewteam = true"
                           
                           class="zindexOne positionRelative widthFullFlex heightFullFlex floatLeft easing">
                        <span id="beep" class="zindexOne border-radius1 box-shadowThreeStraight positionRelative widthFullFlex heightFullFlex floatLeft easing">
                        <span class="zindexOne border-radius1 overflowhidden positionRelative spacedMid floatLeft easing">
                        <span class="floatLeft animated enterUpObject delay025 zindexOne positionAbsolute positionTopRight widthTwoFive heightTwoFive"><img src="./svg/pageend.svg" class="positionAbsolute positionRight widthTwoFive"></span>
                        </span>
                        
                        <span class="
                           widthFullFlex
                           heightFullFlex
                           zindexFive
                           positionAbsolute positionCenter" ng:show="!showonhover
                           ">
                        
                           <span class="widthFullFlex
                              positionRelative marginauto easing floatLeft">
                              <b class=" widthFullFlex floatLeft positionRelative lineHeightFour fontSizeThree text-align-left fontColorFour text-shadow05One zindexOne">
                           {{member.firstname}}</b>
                           </span>

                           <span class="widthFullFlex
                              positionRelative marginauto easing floatLeft">
                              <b class=" widthFullFlex floatLeft positionRelative lineHeightFour fontSizeThree text-align-left fontColorFour text-shadow05One zindexOne">
                           {{member.lastname}}</b>
                           </span>

                           <span class="widthFullFlex
                              positionRelative marginauto easing floatLeft">
                           <b class=" widthFullFlex floatLeft positionRelative lineHeightThree fontSizeTwoFive text-align-left fontColorThree text-shadow05OffWhite zindexOne">
                           {{member.position}}</b>
                           </span>
                           <span class="widthFullFlex
                              positionAbsolute positionBottomRight marginauto easing floatLeft">
                           <b class="marginTwoFive backgroundColorFour floatRight positionRelative lineHeightThree fontSizeTwoFive text-align-right fontColorOffWhite text-shadow025Five zindexOne">
                           @{{member.twitter}}</b>
                           </span>
                        </span>

                        </span>
                        </span>
                     </span>

                     </span>
                  </span>
                  

                  <!-- preview service -->
                  <span
                     ng:class="{'active' : previewmember}"
                     class="
                     easing
                     pop
                     popup
                     positionFixed
                     positionCenter
                     heightFullFlex
                     widthFullFlex
                     overflowhidden floatLeft zindexTen">
                     
                     <span class="
                        opacity05
                        backgroundColorFour
                        overflowhidden
                        positionAbsolute positionBottom widthFullFlex heightFullFlex">
                     </span>
                     <span class="
                        opacity025
                        ColorTwoToClearGradient
                        overflowhidden
                        positionAbsolute positionBottom widthFullFlex heightFullFlex">
                     </span>

                     <!-- video component 1 -->
                     <ul class="positionAbsolute positionCenter widthThreeQuarterFlex heightThreeQuarterFlex floatLeft easing">

                        <span class="showOnHoverSwitch
                           widthFullFlex heightFullFlex
                           positionRelative floatLeft easing">
                           <span class="
                              spacedSmall border-radius1
                              backgroundColorOne
                              positionRelative floatLeft easing">
                                 <!-- hideOnHover // background -->
                                 <span class="positionAbsolute positionCenter
                                    bordered-Two  overflowhidden
                                    backgroundColorOne widthFullFlex heightFullFlex">

                                    <span class="widthNineFlex heightTen positionRelative marginauto floatLeft text-align-left">

                                       <span class="widthFullFlex heightFullFlex bordered-bottomTwo positionRelative marginauto floatLeft">

                                       <h3 class="floatLeft widthFullFlex positionRelative lineHeightTen fontSizeTwoFive text-align-left fontColorThree  zindexOne">
                                          <p class="font-family-snippet">
                                             <span class="positionRelative floatLeft marginTwoFiveLeft">
                                                <b class="floatLeft zindexFive positionRelative">What's this all about?</b>
                                             </span>
                                          </p>
                                       </h3>
                                          

                                       </span>

                                    </span>

                                    <span class="widthTenFlex heightTen
                                    backgroundColorOne positionRelative marginauto floatLeft text-align-left">

                                       <span class="widthFullFlex heightFullFlex bordered-bottomTwo positionRelative marginauto floatLeft">

                                          <span class="spacedBorderLeft bordered-leftTwo positionRelative marginauto floatLeft">
                                          
                                          <!-- close -->
                                          <span class="animated enterUpObject delay025 zindexOne positionAbsolute positionCenter widthFive heightFive"
                                             ng:click="
                                             previewmember = false;">
                                             <img src="./svg/white/close.svg" class="floatLeft positionAbsolute positionCenter widthHalfFlex heightHalfFlex">
                                          </span>

                                          </span>

                                       </span>

                                    </span>

                                    <span class="widthFullFlex positionRelative marginauto floatLeft text-align-center">

                                       <span class="widthFullFlex bordered-topTwo positionRelative marginauto floatLeft">
                                          
                                          <span class="spacedSmall positionRelative marginauto floatLeft lineHeightFour fontSizeTwoFive fontColorThree  font-family-snippet">
                                             <p class="font-family-snippet fontColorThree ">
                                                
                                                <hr> 
                                                <hr> 

                                                Welcome to BIGSOUND Buzz!

                                                <hr>

                                                We’re using real-time data powered by<br>
                                                social media to reveal the most hyped<br>
                                                artists of BIGSOUND 2016.

                                                <hr>

                                                Check back to see how attention shifts<br>
                                                throughout the week.

                                                <hr>

                                                We will post regular updates on our<br>
                                                <span class="bordered-bottomTwo">Instagram</span>, <span class="bordered-bottomTwo">Facebook</span> & <span class="bordered-bottomTwo">Twitter</span>.


                                             </p>
                                          </span>

                                       </span>

                                    </span>


                                 </span>
                           </span>
                        </span>
                     </ul>
                  </span>

               </li>
            </ul>
         </span>
      </span>
   </span>