<span class="
      showOnHoverSwitch
      positionRelative
      widthFullFlex
      heightFullFlex floatLeft">
      <ul class=" positionRelative widthFifthFlex heightFullFlex floatRight zindexOne easing">
         <li ng:click="$parent.postpreview = false" class="centerdiv text-align-center positionRelative heightFullFlex paddingTwoFive easing">
            <span class="textOnHoverSwitch paddingTwoFive positionRelative buttonbox-shadowDark border-radius1 backgroundColorOne centerdiv fontSizeTwoFive fontColorWhite fontColorOneOnHover lineHeightFive easing">
            Follow
            <span class="marginTwoFiveLeft floatRight animated enterUpObject delay025 zindexOne positionRelative widthTwoFivevh heightTwoFive"><img src="./svg/arrow-down.svg" class="widthFullFlex heightFullFlex"></span>
            </span>
         </li>
      </ul>
      <span class="positionRelative widthFifthFlex  heightFullFlex  floatLeft easing zindexOne" ng-repeat="member in team | filter: member.firstname = post.author | limitTo:1:0">
      <span
         ng:init="showonhover = true"
         ng:mouseenter="showonhover = false;"
         ng:mouseleave="showonhover = true;"
         class="zindexOne positionRelative heightFullFlex widthFullFlex floatLeft">
         
         <imacone class="positionAbsolute positionCenter widthThreeQuarterFlex heightHalfFlex floatLeft">
         </imacone>

      </span>
      </span>

      <span class="widthSixZeroFlex floatLeft">
         <div class="spacedMid border-radius1 overflowhidden positionRelative">
            <!-- layer -->
            <span class="
               floatLeft
               text-align-left
               widthFullFlex paddingTwoFive positionRelative border-radius1
               fontSizeTwoFive fontColorSix fontColorFourOnHover lineHeightFive easing">

               <span class="positionRelative floatLeft
                  widthTenvh heightTen marginTwoFive backgroundColorOne border-radius1" ng-repeat="member in team | filter: member.firstname = post.author | limitTo:1:0">
                  <span ng-repeat="pics in member.photos | limitTo:1:0" class="widthFullFlex heightFullFlex positionRelative marginauto floatLeft" style="background-image: url('/person/{{pics.link}}.png');
                     background-size: cover;">
                  </span>
               </span>
               

               <b class="bordered-bottomOneSmall">By {{post.authorfull}}</b>: Disecting <b class="bordered-bottomOneSmall">{{post.title}}</b> {{post.review}}</span><br>
            </div>
         </div>
      </span>

   </span>