@import url(https://fonts.googleapis.com/css?family=Arvo:400,700italic,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,400italic,600italic,300italic,300);
@import url(https://fonts.googleapis.com/css?family=Snippet);

/* Font Families */

p, body {
	font-family: arvo;
}

.font-family-snippet {
	font-family: 'Snippet', sans-serif;
}

br {
	line-height: 1vh;
}

/* Font Sizes */
b, strong {
	font-weight: 800;
}

a {
}

i {
	font-style: italic;
}

.text-align-center {
	text-align: center;
}

.text-align-left {
	text-align: left;
}

.text-align-right {
	text-align: right;
}

.lineHeightFifty {
	line-height: 50vh;
}

.lineHeightTwentyFive {
	line-height: 25vh;
}

.lineHeightTwenty {
	line-height: 20vh;
}

.lineHeightFifteen {
	line-height: 15vh;
}

.lineHeightTwelveFive {
	line-height: 12.5vh;
}

.lineHeightTen {
	line-height: 10vh;
}

.lineHeightNine {
	line-height: 9vh;
}

.lineHeightEight {
	line-height: 8vh;
}

.lineHeightSevenFive {
	line-height: 7.5vh;
}

.lineHeightSeven {
	line-height: 7vh;
}

.lineHeightSix {
	line-height: 6vh;
}

.lineHeightFive {
	line-height: 5vh;
}

.lineHeightFour {
	line-height: 4vh;
}

.lineHeightThree {
	line-height: 3vh;
}

.lineHeightTwoFive {
	line-height: 2.5vh;
}

.lineHeightTwo {
	line-height: 2vh;
}

.fontSizeTwentyFive {
	font-size: 25vh;
}

.fontSizeTwenty {
	font-size: 20vh;
}

.fontSizeNineteen {
	font-size: 19vh;
}

.fontSizeEightteen {
	font-size: 18vh;
}

.fontSizeSeventeen {
	font-size: 17vh;
}

.fontSizeFifteen {
	font-size: 15vh;
}

.fontSizeThirteen {
	font-size: 13vh;
}

.fontSizeTwelveFive {
	font-size: 12.5vh;
}

.fontSizeTen {
	font-size: 10vh;
}

.fontSizeNine {
	font-size: 9vh;
}

.fontSizeEight {
	font-size: 8vh;
}

.fontSizeSevenFive {
	font-size: 7.5vh;
}

.fontSizeSeven {
	font-size: 7vh;
}

.fontSizeSix {
	font-size: 6vh;
}

.fontSizeFive {
	font-size: 5vh;
}

.fontSizeFour {
	font-size: 4vh;
}

.fontSizeThree {
	font-size: 3vh;
}

.fontSizeTwoFive {
	font-size: 2.5vh;
}

.fontSizeTwo {
	font-size: 2vh;
}

.fontSizeOneFive {
	font-size: 1.5vh;
}

.fontSizeOne {
	font-size: 1vh;
}