// Easing

.easing {
  -webkit-transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
  transition:         all 600ms cubic-bezier(0.86, 0, 0.07, 1);
}

.animatedQuick {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.delay1 {
  -webkit-animation-delay: .25s;
  -moz-animation-delay: .25s;
  -o-animation-delay: .25s;
  -ms-animation-delay: .25s;
  animation-delay: .25s;
}

.delay2 {
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -o-animation-delay: .5s;
  -ms-animation-delay: .5s;
  animation-delay: .5s;
}

@-webkit-keyframes topFall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,-100vh,0);
    transform: translate3d(0,-100vh,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0vh,0);
    transform: translate3d(0,0vh,0);
  }
}

@keyframes topFall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,-100vh,0);
    transform: translate3d(0,-100vh,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0vh,0);
    transform: translate3d(0,0vh,0);
  }
}

.topFall {
  -webkit-animation-name: topFall;
  animation-name: topFall;
}

@-webkit-keyframes topJump {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,100vh,0);
    transform: translate3d(0,100vh,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0vh,0);
    transform: translate3d(0,0vh,0);
  }
}

@keyframes topJump {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,100vh,0);
    transform: translate3d(0,100vh,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0vh,0);
    transform: translate3d(0,0vh,0);
  }
}

.topJump {
  -webkit-animation-name: topJump;
  animation-name: topJump;
}

