$primary: #fcd829;
$secondary: #fbab2b;
$yellow: #fcd829;

$white: #ffffff;
$offwhite: #fefbdf;

/* Window Sizes */
$windowFullWidth: 100vw;
$windowFullHeight: 100vw;

$windowThreeQuartersWidth: 75vw;
$windowThreeQuartersHeight: 75vh;

/* Wrapper Sizes */
$wrapperOneQuartersWidth: 25%;
$wrapperOneQuartersHeight: 25%;

$wrapperThreeQuartersWidth: 75%;
$wrapperThreeQuartersHeight: 75%;

$wrapperFullWidth: 100%;
$wrapperFullHeight: 100%;

.background1 {
	background: $white;
}

.background2 {
	background: $yellow;
}

.background3 {
	background: $offwhite;
}

.background4 {
	background: $secondary;
}

@mixin perfectPositionCenter {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}

@mixin perfectPositionTop {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: auto;
	margin: auto;
}


@mixin perfectPositionBottom {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: auto;
	margin: auto;
}

body {
	background: $yellow;
	width: 100vw;
	height: 100vh;
	margin: auto;
	position: relative;
	overflow: hidden;
}

.gradientTitle {
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(-45deg,#dd3c5b,#21c6e7)!important;
    -webkit-background-clip: text!important;
    background: -webkit-linear-gradient(transparent,transparent);
    background: linear-gradient(transparent,transparent);
}

h2.gradientTitle {
	font-size: 5vh;
	font-weight: 700;
	border-bottom: 1px solid #ccc;
}

.whiteThruBackground {
  background: rgba(255, 255, 255, 0.75);
}

.backgroundthru {
  background: rgba(255, 255, 255, 0.75);
}

.menuBackground {
    background: #fcd829 url("/svg/menu.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: auto 100%;
    width: 2.5vh;
    height: 2.5vh;
    margin: 1.25vh 1.25vh 1.25vh 1.75vh;
    padding: 0!important;
    float: right;
}

.menuBackground:hover  {
    width: 2.5vh;
    height: 2.5vh;
    margin: 1.25vh 1.25vh 1.25vh 1.75vh;
    background-position: 50%;
    background-size: 5%;
	background: #fcd829 url("/svg/close.svg");
    background-repeat: no-repeat;
}

.menuBackground2 {
    background: #fcc529;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: auto 100%;
    width: 2.5vh;
    height: 2.5vh;
    margin: 1.25vh 1.25vh 1.25vh 1.25vh;
    padding: 0 !important;
    float: right;
	border-radius: .25vh;
	box-shadow: 0 0.25vh 0 rgba(0, 0, 0, 0.1);
}

.menuBackground2:hover  {
	margin: 1.5vh 1.25vh 1.0vh 1.25vh;
	box-shadow: 0 0vh 0 rgba(0, 0, 0, 0.1);
}

.menuBackground3 {
    background: #fcb23c;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: auto 100%;
    width: auto;
    color: #ffffff;
    height: 2.5vh;
    line-height: 2.5vh;
    font-family: Arvo;
    margin: 1.25vh 1.25vh 1.25vh 0vh;
    padding: 0 2.5vh!important;
    float: right;
	border-radius: .25vh;
	box-shadow: 0 0.25vh 0 rgba(0, 0, 0, 0.1);
}

.menuBackground3:hover  {
	margin: 1.5vh 1.25vh 1.25vh 0vh;
	box-shadow: 0 0vh 0 rgba(0, 0, 0, 0.1);
}

.topLeftCardButton {
	position: absolute;
	left: 0;
	top: 2.5vh;
	margin: auto;
	background: #fcc529;
	text-align: center;
	border-radius: .25vh;
    box-shadow: 0 0.25vh 0 rgba(0, 0, 0, 0.1);
    padding: 1.75vh;
    height: 2.5vh;
    line-height: 2.5vh;
    width: 25%;
	color: #fff;
	position: absolute;
}

.topRightCardButton {
	position: absolute;
	right: 0;
	top: 2.5vh;
	margin: auto;
	background: #fcc529;
	text-align: center;
	border-radius: .25vh;
    box-shadow: 0 0.25vh 0 rgba(0, 0, 0, 0.1);
    padding: 1.75vh;
    height: 2.5vh;
    line-height: 2.5vh;
    width: 25%;
	color: #fff;
	position: absolute;
}

.bottomCardButton {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -2.5vh;
	margin: auto;
	background: #fcc529;
	text-align: center;
	border-radius: .25vh;
    box-shadow: 0 0.25vh 0 rgba(0, 0, 0, 0.1);
    padding: 1.75vh;
    height: 2.5vh;
    line-height: 2.5vh;
    width: 25%;
	color: #fff;
	position: absolute;

}

.dotBackground {
	background: #fcd829 url("/svg/dot.svg");
    background-repeat: repeat;
    background-position: 50% 0;
    background-size: 7.5%;
}

.gridBackground {
	background: #fcd829 url("/svg/grid.svg");
    background-repeat: repeat;
    background-position: 50% 0;
}

.grainBackground {
	background: #fcd829 url("/svg/grain.gif");
    background-repeat: repeat;
    background-position: 50% 0;
    opacity: 0.1;
}

.animationBackground {
	@include perfectPositionCenter;
	width: $wrapperFullWidth;
	height: $wrapperFullHeight;
	overflow: hidden;

	video {
		min-width: 100%;
		min-height: 100%;
	}
}

.animationBackground .lightSVG {
	@include perfectPositionTop;
	width: 12.5%;
}

.animationBackground .desk1SVG {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25%;
    top: auto;
    margin: auto;
    width: 75vh;
    height: 50vh;
    z-index: 4;

	svg {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}

.animationBackground .desk2SVG {
    position: absolute;
    left: -12.5%;
    right: auto;
    bottom: 2.5vh;
    top: auto;
    margin: auto;
    width: 25%;
    height: 25%;
    z-index: 3;

	svg {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}

.animationBackground .desk3SVG {
	position: absolute;
	left: 87.5%;
	right: 0;
	bottom: 12.5vh;
	top: auto;
	margin: auto;
    width: 18.75%;
    height: 18.75%;
	z-index: 2;

	svg {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}

.animationBackground .desk4SVG {
	position: absolute;
	left: 75%;
	right: 0;
	bottom: 12.5vh;
	top: auto;
	margin: auto;
    width: 12.5%;
    height: 12.5%;
	z-index: 1;

	svg {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}

.animationBackground .bubblecontainer1 {
    height: 18.75vh;
    width: 18.75vw;
    position: absolute;
    left: 0;
    right: 25%;
    bottom: 32vh;
    top: auto;
    margin: auto;
    opacity: .5;

    .bubbles {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    svg {
      position: absolute;
      width: 100%;
      height: 100%;
    }

}

.animationBackground .bubblecontainer2 {
    height: 25vh;
    width: 25vw;
    position: absolute;
    left: 25%;
    right: 0%;
    bottom: 32vh;
    top: auto;
    margin: auto;
    opacity: .5;

    .bubbles {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    svg {
      position: absolute;
      width: 100%;
      height: 100%;
    }

}

.animationBackground .bubblecontainer3 {
	height: 12.5vh;
    width: 12.5vh;
    position: absolute;
    left: 75%;
    right: 0%;
    bottom: 32vh;
    top: auto;
    margin: auto;
    opacity: .5;

    .bubbles {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    svg {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    
}

.animationBackground .bubblecontainer4 {
	height: 12.5vh;
    width: 12.5vh;
    position: absolute;
    left: 0%;
    right: 75%;
    bottom: 32vh;
    top: auto;
    margin: auto;
    opacity: .5;

    .bubbles {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    svg {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    
}


// face container
.animationBackground .faceContainer {
    height: 50vh;
    width: 50vh;
    position: absolute;
    left: 0%;
    right: 50%;
    bottom: -6.75vh;
    top: auto;
    margin: auto;
    opacity: 1;
    z-index: 100;

    .face {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    svg {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    
}

.animationBackground .faceContainer2 {
    height: 25vh;
    width: 25vh;
    position: absolute;
    left: 25%;
    right: 0%;
    bottom: 12.5vh;
    top: auto;
    margin: auto;
    opacity: 1;
    z-index: 3;

    .face {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    svg {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    
}

.animationBackground .manSVG {
	position: absolute;
	left: 75%;
	right: 0;
	bottom: 12.5vh;
	top: auto;
	margin: auto;
    width: 18.75%;
    height: 18.75%;
	z-index: 1;

	svg {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}

.animationBackground .man2SVG {
	position: absolute;
	left: -75%;
	right: 0;
	bottom: -75vh;
	top: auto;
	margin: auto;
    width: 100%;
    height: 100%;
	z-index: 100;

	.svgContainer {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100%;
	}

	svg {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
}

.gradientTopOut {
	width: 100vw;
	left: 0;
	bottom: 0;
	right: 0;
	height: 12.5vh;
	position: absolute;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	z-index: 5;
}

.gradientBottomOut {
	width: 100vw;
	left: 0;
	bottom: 5vh;
	right: 0;
	height: 12.5vh;
	position: absolute;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	z-index: 5;
}

.gradientLeftOut {
	width: 12.5vw;
	left: 0;
	top: 0;
	height: 87.5vh;
	position: absolute;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcd829+0,fcd829+100&1+0,0+100 */
	background: -moz-linear-gradient(left,  rgba(252,216,41,1) 0%, rgba(252,216,41,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(252,216,41,1) 0%,rgba(252,216,41,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(252,216,41,1) 0%,rgba(252,216,41,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcd829', endColorstr='#00fcd829',GradientType=1 ); /* IE6-9 */
	z-index: 5;
}

.gradientLeftOut {
	opacity: 0;
}

.gradientRightOut {
	width: 12.5vw;
	top: 0;
	right: 0;
	height: 87.5vh;
	position: absolute;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcd829+0,fcd829+100&0+0,1+100 */
	background: -moz-linear-gradient(left,  rgba(252,216,41,0) 0%, rgba(252,216,41,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(252,216,41,0) 0%,rgba(252,216,41,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(252,216,41,0) 0%,rgba(252,216,41,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fcd829', endColorstr='#fcd829',GradientType=1 ); /* IE6-9 */
	z-index: 5;
}

.gradientRightOut {
	opacity: 0;
}

.boxShadow {
	box-shadow: 0vh 1vh 1vh 0vh rgba(0, 0, 0, 0.25);
}

.standInImac {
	background: #fff;
	border-radius: 2vh 2vh 0vh 0vh; border: 1px solid #ccc;
	@include perfectPositionBottom;
	width: $windowThreeQuartersWidth;
	height: $windowThreeQuartersHeight;
}

.standInLogo {
	width: $wrapperOneQuartersWidth;
	height: $wrapperOneQuartersHeight;
	@include perfectPositionCenter;
}