/* menus */
.menuTop {
  width: 100%;
  height: 5vh;
  z-index: 10;
  @include perfectPositionTop;
  position: fixed;
}

.brandSticker {
    position: fixed;
    height: 7.5vh;
    width: 7.5vh;
    left: 2.5vh;
    border-radius: 0 0 .25vh .25vh;
    box-shadow: 0 0.25vh 0 rgba(0, 0, 0, 0.1);
    background: #fbab2b;
    float: left;
    z-index: 100;
    top: -1.25vh;
}

.brandSticker:hover {
  position: fixed;
  top: 0;
}

.menuTop .textLinks {
    position: fixed;
    background: #fcd829;
    border-bottom: 1px solid #fbab2b;
    top: 0vh;
    padding-left: 7.5vh;
    width: calc(100% - 7.5vh);
    z-index: 99;
  }

.container.marginSwitch {

  .menuTop .textLinks {
    top: -5vh;
  }

  .menuTop .menuHover {
    top: -10vh;
  }

  .brandSticker {
    position: fixed;
    z-index: 100;
    top: 0;
  }
}

.menuTop:hover {
  .menuHover {
    top: 5vh;
    opacity: 1;
    background: $secondary;
  }
}

.menuTop {
  .menuHover {
    position: absolute;
    top: 0vh;
    width: 100%;
    height: 5vh;
    margin: auto;
    z-index: 1;
    opacity: 0;

    a {
      font-size: 1.5vh;
    }
  }

  a:nth-child(1){
    padding-left: 5vh;
  }

  a {
    color: #fff;
    line-height: 5vh;
    font-size: 1.75vh;
    text-decoration: none;
    font-family: Arvo;
    text-shadow: .0vh .25vh #fcb23c;
    padding: 0 2.5vh;
  }
}


.menuBottom {
  width: 100%;
  height: 5vh;
  z-index: 2;
  background: #ffffff;
  @include perfectPositionBottom;

    a:nth-child(1){
    padding-left: 5vh;
  }

  a {
    color: rgba(159, 173, 160, 0.25);
    line-height: 5vh;
    font-size: 1.75vh;
    text-decoration: none;
    font-family: Arvo;
    padding: 0 2.5vh;
  }

  a:hover {
    color: #9fada0;
  }
}

.bannerTitle {
  line-height: 15vh;
  height: 15vh;
  width: 100%;
  color: #fff;
  padding: 0 2vh;
  border: none;
  float: left;
  position: absolute;
  bottom: 5vh;

  h1 {
    line-height: 15vh;
    font-size: 2.5vh;
    color: #fff;
    float: left;
  }

  h2 {
    line-height: 10vh;
    font-size: 2.5vh;
    margin: 2.5vh 0;
    color: #fff;
    float: left;
  }

  button {
    background: rgba(0, 0, 0, 0.1);
    line-height: 5vh;
    height: 5vh;
    margin: 5vh 0.5vh;
    color: #fff;
    padding: 0 2vh;
    border: none;
    float: right;
  }
}

.bannerTitle:after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: '';
    display: block;
    width: 100%;
    height: 20px;
    box-shadow: inset 0 -10px 10px 0 rgba(0,0,0,0.09);
}

ul.refineSearch .widthFixed {
  max-width: 500px;
}

ul.refineSearch {
  width: 100%;
  height: 5vh;
  z-index: 1;
  @include perfectPositionBottom;
  background: rgba(251, 171, 43, 0.15);
  box-shadow: 0 0px 10px 0 rgba(0,0,0,0.1);

  button {
    float: right;
    background: #ccc;
    line-height: 5vh;
    height: 5vh;
    width: 7.5vh;
    font-size: 2.5vh;
    border: none;
    position: relative;
    top: 2.5vh;
    margin: 0 2.5vh 0 0;
  }
}

ul.refineSearch li {
  width: 25%;
  color: #fff;
  text-align: center;
  height: 5vh;
  line-height: 5vh;
  font-size: 2.5vh;
  float: left;
}

/* Logo */