@import 'menu.scss';
@import 'popup.scss';

.container,
.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
}

.container.navigationPadding {
  width: calc(100% - 10vh);
  height: calc(100% - 10vh);
  margin: 5vh 5vh;
}

.containerNavigationPaddingSwitch .container.navigationPadding {
  padding: 5vh 5vh;
  margin: 0;
}

.containerNavigationPaddingSwitch .container .svgCeiling {
  width: 100vw;
  left: 0;
  top: 0;
  right: 0;
  height: 0vh;
  position: absolute;

  ul.refineSearch button {
    opacity: 0;
    right: 5vh;
  }
}

.containerBlogSwitch .container .svgCeiling {
  height: 25vh;

  ul.refineSearch button {
    opacity: 1;
  }
}

.containerNavigationPaddingSwitch .container .svgFloor {
  width: 100vw;
  left: 0;
  bottom: 0;
  right: 0;
  height: 12.5vh;
  position: absolute;
  z-index: -1;
}

.containerBlogSwitch {
  .gradientLeftOut {
    left: -12.5vw;
  }

  .gradientRightOut {
    right: -12.5vw;
  }

  .animationBackground .desk1SVG {
    bottom: -50%;
  }

  .animationBackground .desk2SVG {
    left: -25%;
  }

  .animationBackground .desk3SVG {
    left: 100%;
  }

  .animationBackground .desk4SVG {
    left: 100%;
  }
  
  .container .svgFloor {
    height: 75vh;
  }
}

.containerNavigationChatSwitch .container.navigationPadding {

}

.container.beforeFooter {
}

.container.marginSwitch.marginSwitchMovement1 {
  margin-top: -100vh;
}

.container.marginSwitch2.marginSwitchMovement2 {
  margin-top: -100vh;
}

.container.Footer {
  position: fixed;
  margin: auto;
  z-index: -1;
}

/* Container Toggle */

/* Container "centerOf" "leftOf" "rightOf" */
.container.containerScroll {
  position: fixed;
  overflow-y: scroll;
}

.containerScroll {
  overflow-y: scroll;
}

/* Container "centerOf" */
.container.centerOfContainer, .container.centerOfContainer.containerScroll {
  position: absolute;
  right: 0%;
  left: 0%;
  z-index: 0;
}

/* Container "leftOf" */
.container.leftOfContainer, .container.leftOfContainer.containerScroll {
  position: absolute;
  right: 100%;
  z-index: 2;
}

/* Container "leftOf2" */
.container.leftOfContainer2, .container.leftOfContainer2.containerScroll {
  position: absolute;
  right: 100%;
  z-index: 2;
}


/* Container "rightOf" */
.container.rightOfContainer, .container.rightOfContainer.containerScroll {
  position: absolute;
  left: 100%;
  background: #fff;
  z-index: 3;
}

/* Container "rightOf2" */
.container.rightOfContainer2, .container.rightOfContainer2.containerScroll {
  position: absolute;
  left: 100%;
  background: #fff;
  z-index: 3;
}

  .rightCard {
    left: 100%;
  } 

  .leftCard {
    left: -137.5%;
  } 

/* Container Movement */
.containerMovementCenter {
  .container.centerOfContainer, .container.centerOfContainer.containerScroll {
    .animationBackground .desk2SVG {
      left: 100%;
    }
    .rightCard {
      left: 0%;
    } 

  }
}

.containerMovementCenter2 {
  .container.centerOfContainer, .container.centerOfContainer.containerScroll {
    .animationBackground .desk2SVG {
      left: -100%;
    } 

    .leftCard {
      left: 0%;
    } 

  }
}

.containerMovementLeft {
  .container.leftOfContainer, .container.leftOfContainer.containerScroll {
    right: 0;
  }
}


.containerMovementLeft2 {
  .container.leftOfContainer2, .container.leftOfContainer2.containerScroll {
    right: 0;
  }
}

.containerMovementRight {
  .container.rightOfContainer, .container.rightOfContainer.containerScroll {
    left: 0;
  }
}


.containerMovementRight2 {
  .container.rightOfContainer2, .container.rightOfContainer2.containerScroll {
    left: 0;
  }
}

/* Widths */
.widthFull {
  width: 100%;
  float: left;
  position: relative;
}

.widthFixed {
  width: 1000px;
  margin: auto;
}

.widthHalf {
  width: 50%;
  float: left;
}

.widthQuarter {
  width: 25%;
  float: left;
}

/* Height */
.heightFull {
  height: 100%;
}

.heightHalf {
  height: 50%;
}

.heightQuarter {
  height: 25%;
}

.heightThreeQuarter {
  height: 75%;
}

.heightEighth {
  height: 12.5%;
}

/* Flex Widths & Height */
.widthHeightFlex:nth-child(1) {
  width: 50%;
  height: 50%;
}

.widthHeightFlex:nth-child(2) {
  width: 50%;
  height: 50%;
}

.widthHeightFlex:nth-child(3) {
  width: 50%;
  height: 50%;
}

.widthHeightFlex:nth-child(4) {
  width: 50%;
  height: 50%;
}

/* Background */
.module {
  height: calc(100% - 25%);
  width: calc(100% - 25%);
  @include perfectPositionCenter;

  p {
    font-family: Arvo;
  }

}

.module.background {
  background: $offwhite;
}

p {
  font-family: Arvo;
}

h1 {
  float: left;  
}

svg {
  max-width: 100%;
  max-height: 100%;
}

.svgFloor {
    left: 0;
    bottom: 0;
    right: 0;
}